[2015-09-20 20:12] jeevatkm opened #1 "Support pointer and non-pointer for SetResult and SetError methods"
SetResult:
[code]

SetError:
[code]

[2015-09-20 20:14] jeevatkm opened #2 "Bulk Request feature"
Bring bulk request feature as a batteries for go-resty. For example: very useful for Upload/Download, batch processing, etc.

[2015-09-22 11:41] rushmorem opened #3 "Resty not binding for a non 200 response"
Hi,

Thanks for the awesome library!

I have a struct that I'm filling with a `JSON` response from an API endpoint using `SetResult`. When the endpoint returns a `200` (success status), this struct is filled in just fine. However, when it returns say a `4XX` or `5XX` error message this struct is empty even though the response body itself has proper `JSON`.

[2015-09-22 13:18] rushmorem commented on #3
Just noticed the documentation for `SetResult` says it will automatically unmarshal "if response status code is greater than 399". I guess you meant "less than" instead of "greater than". However, why this restriction?

[2015-09-22 18:26] jeevatkm commented on #3
Thanks, will continue to make it better along with community.

I would say it is handled based on scenario Success and Failure/Error. I will describe how it is currently  structured then share your thoughts. *Good catch on documentation end, I have the corrected it*.

* If status code is between 200 and 299 considered as success, you can retrieve via `response.Result()`
* If status code is greater

[2015-09-22 18:29] jeevatkm commented on #1
Its done!

[2015-09-22 18:29] #1 closed

[2015-09-22 18:31] jeevatkm opened #4 "Persist Cookies into file in JSON format"
Ability to write cookies for given url into file (may be JSON or XML) from cookiejar.

[2015-09-23 00:47] jeevatkm opened #5 "Implement extensible and multiple redirect policies capability"
* `RedirectPolicy` and `RedirectPolicyFunc` approach for extensible redirect policy definition. User can define N number of policies as they need
* Design and structure `SetRedirectPolicy` method, so it can accept multiple redirect policies as variadic arguments
* Bring new policy called 'Host check' redirect policy

[2015-09-23 01:08] jeevatkm commented on #3
Let's say, you have unified Error structure for all request. In that case, Resty has option of setting Error at client level, instead of every request.
[code]

[2015-09-23 03:29] jeevatkm commented on #2
Deferred for now!

[2015-09-23 03:29] #2 closed

[2015-09-23 15:41] rushmorem commented on #3
Makes sense. Thanks for clarifying.

[2015-09-23 15:41] #3 closed

[2015-09-23 21:36] jeevatkm opened #6 "Bring proxy ability for resty"
Proxy support underlying resty client transport

[2015-09-24 20:42] jeevatkm commented on #6
Its done!

[2015-09-24 20:42] #6 closed

[2015-09-24 20:43] jeevatkm commented on #5
Its done!

[2015-09-24 20:43] #5 closed

[2015-10-06 00:04] jeevatkm opened #8 "Bring RequestBody support for DELETE request"
As per latest [RFC 7231](http://tools.ietf.org/html/rfc7231#section-4.3.5) explicitly permits entity body/payload in DELETE request and [RFC 2616](http://www.ietf.org/rfc/rfc2616.txt) become obsolete.

Planning to support it!

[2015-10-06 01:46] bketelsen opened #9 "Thank you"
for such wonderfully commented code.  Feel free to close this :)

[2015-10-06 03:13] jeevatkm commented on #9
Thanks for your compliment. I'm glad to see this.

[2015-10-06 03:13] #9 closed

[2015-10-07 12:42] rvdwijngaard commented on #8
hi,

do you have any time-frame for this? this is currently a blocking issue for me.

cheers,
Ron

[2015-10-07 15:50] jeevatkm commented on #8
Actually I planned it for next week. It seems immediate attention is required.

I will try to make it tomorrow, I hope this is okay.

Cheers,
Jeeva

[2015-10-07 17:15] rvdwijngaard commented on #8
great! go-resty rocks!

2015-10-07 17:50 GMT+02:00 Jeevanandam M. <notifications@github.com>:

[2015-10-07 18:12] jeevatkm opened #11 "Convenient Query string (SetQueryString) support for Request"
Currently go-resty supports query string via `SetQueryParam` and `SetQueryParams` at Client and Request. However I believe in-addition to those methods. It would be better to have more comfortable experience with `SetQueryString` in the Request level.
[code]

[2015-10-07 23:04] jeevatkm commented on #4
Currently this is not critical need. So I will work on comfortably :)

[2015-10-08 18:57] jeevatkm commented on #8
It's done, will be releasing v0.3 in an hour.

[2015-10-08 18:57] #8 closed

[2015-10-08 18:57] jeevatkm commented on #11
Its done :)

[2015-10-08 18:57] #11 closed

[2015-10-08 19:44] jeevatkm commented on #8
@rvdwijngaard - v0.3 release is done. Kindly share your feedback when you can.

[2015-10-08 21:00] bmurphy1976 opened #12 "Make Request.execute public"
There are cases where we have to programmatically decide which http method to use when invoking an API.  While we can create a map of handler functions to call the various put/post/get/delete/options functions on a Request, it would be simpler if we could just pass the desired method to Execute directly, i.e:

[code]

vs what I have to do right now:

[code]

[2015-10-08 21:31] jeevatkm commented on #12
I agree, it makes sense.

I have just released v0.3; looking at your need, I will bring this changes to master today itself (accessible via `github.com/go-resty/resty`) however will make a release later on via tag (accessible via `gopkg.in/resty.v0`).

is it okay?

[2015-10-08 22:17] jeevatkm commented on #12
`Request.Execute` method is public now, available in master branch. Will be scheduled for release!

[2015-10-09 18:06] jeevatkm opened #13 "Add HTTP2 support for resty"
Add HTTP2 support for resty :)

[2015-10-09 23:00] jeevatkm commented on #13
Had a look on HTTP2 source code (https://go.googlesource.com/net/+/master/http2/). It seems Go Team has done RFC draft status for server side implementation. However Client side methods are not yet fully standardized. So I will add support of HTTP2 once Go Team release that one.

[2015-10-16 19:13] jeevatkm opened #14 "Add following features described in the description for TLS client config"
Improving TLS client config via easy to use methods
* Loading client root PEM
* Loading client certificate as cert input

[2015-10-16 19:44] jeevatkm opened #15 "Save http response into file - similar to curl -o flag"
Bring ability to save HTTP response into file.

**Client Level feature:**
* Setting Directory path for saving response

**Request Level feature:**
* Setting output filename for request. Absolute and Relative path option.
   * For relative path option, if output directory path is not set at client level then default 'go-resty' directory will be created at current working directory

[2015-10-20 17:41] #12 closed

[2015-10-20 17:42] jeevatkm commented on #15
done!

[2015-10-20 17:42] #15 closed

[2015-10-20 17:42] jeevatkm commented on #14
done!

[2015-10-20 17:42] #14 closed

[2015-10-24 23:58] bmurphy1976 commented on #12
Can confirm, works great!  Thanks!

[2015-10-25 01:05] jeevatkm commented on #12
Thanks!

[2015-11-09 21:37] jeevatkm opened #16 "Add per request Proxy Support"
Add per request proxy support, preserving client level proxy setting value.

[2015-11-13 21:21] jeevatkm opened #17 "API streamlining (Minor breaking changes)"
For API consistency and progressing toward v1.0 goal, following changes taking place in v0.5-
* `Response.Body` turns to `Response.Body()` method
* `Response.ReceivedAt` turns to `Response.ReceivedAt()` method

[2015-11-23 18:45] jeevatkm commented on #16
Done!

[2015-11-23 18:45] #16 closed

[2015-11-23 18:45] jeevatkm commented on #17
Done, ready for release!

[2015-11-23 18:45] #17 closed

[2015-11-25 23:31] mostafadahab opened #18 "stop redirect"
can resty stop redirect without getting error ?! i tried custom redirectpolicy but still nil continue the redirect and error panic and not returning with response

[2015-11-25 23:33] mostafadahab opened #19 "redirect with cookies and headers"
like other http libs for golang
when redirect cookies disappear

[2015-11-26 05:10] jeevatkm commented on #19
@mostafadahab - You may have to set HTTP mode to take advantage for cookiejar capability. Please have a look [here](https://godoc.org/github.com/go-resty/resty#Client.SetHTTPMode). Default mode is REST.

[2015-11-27 04:42] mostafadahab commented on #19
Not only the cookies the headers also changed:
![image](https://cloud.githubusercontent.com/assets/10044038/11434212/23006c38-94da-11e5-9c10-a4074d19f3bc.png)
And when the resty follows request:
![image](https://cloud.githubusercontent.com/assets/10044038/11434218/37afb22e-94da-11e5-8c4e-bd696e6edee4.png)

[2015-11-27 20:57] jeevatkm commented on #19
Thanks for inputs, will have a look and let you know.

[2015-11-28 00:53] mostafadahab commented on #19
https://github.com/franela/goreq/issues/69

I think this will help

[2015-12-27 21:17] jeevatkm commented on #19
@mostafadahab Thank you for your patient. I was bit occupied in the day work.

Currently I'm working on this issue and other request from your end. I will update you!

[2015-12-27 23:51] jeevatkm commented on #19
I went through given reference and https://github.com/golang/go/issues/4800 for redirect.

go-resty will add all the headers during a redirect for the same host. It is available in master. Can you please try and share you feedback on this issue?

[2015-12-28 00:13] jeevatkm commented on #18
@mostafadahab can you please try from master branch and share your feedback?

[2015-12-28 02:01] jeevatkm opened #20 "Support custom Transport in the go-resty"
Bring support for Transport in the go-resty

[code]

[2015-12-28 02:01] jeevatkm commented on #4
Deferring it!

[2015-12-28 02:01] #4 closed

[2015-12-30 04:06] jeevatkm commented on #19
Did you get a chance to have a look? Thanks.

[2015-12-30 04:28] mostafadahab commented on #19
I'll check this weekend

[2015-12-30 06:59] jeevatkm commented on #19
Okay, sounds good.

[2016-01-02 07:14] mostafadahab commented on #18
Good :+1: , worked for me and nice warnings

[2016-01-02 07:14] #18 closed

[2016-01-02 07:29] jeevatkm commented on #18
I'm glad to hear that. Thanks for verification. This change will be released with v0.5 release.

BTW, how about the headers while redirect #19 ?

[2016-01-04 02:00] jeevatkm commented on #19
done!

[2016-01-04 02:00] #19 closed

[2016-01-16 12:11] mrd0ll4r opened #21 "Allow file uploads with io.Reader and a name"
Hey, first of all: thanks for this wonderful library! I've been using it for quite some time now, and it works like a charm.

There's one thing I'm missing, though: being able to upload files (as multipart) using an `io.Reader` and a name for the file. The scenario is, for example, something like this:

I have a database of many small image files which are stored as BLOBs along with their original

[2016-01-16 18:18] jeevatkm commented on #21
I'm glad to hear library is helpful for you :) Sure, your scenario is real usage need. I will bring it in next release. Signature looks good.

If you think of any feature would be helpful in resty for users, please let me know. I will bring it in.

[2016-01-18 09:00] jeevatkm commented on #21
Added io.Reader support, available in master. Give a try and let me know your feedback!

Will be released as part of `v0.6` then it will be available via `gopkg.in/resty.v0`.

[2016-01-18 09:07] jeevatkm opened #22 "Add support for io.Reader in SetBody"
Enhancement idea brought from #21 for adding `io.Reader` support in `resty.R().SetBody()`.

[2016-01-18 09:08] #21 closed

[2016-01-18 09:40] jeevatkm commented on #22
It's done!

[2016-01-18 09:40] #22 closed

[2016-01-18 20:03] jeevatkm commented on #20
Its done!

[2016-01-18 20:03] #20 closed

[2016-01-19 10:47] mrd0ll4r commented on #21
Hey, sorry to re-open this, but: thanks! Works like a charm.
There is one line of log output, but I guess you know about that :)

[2016-01-19 18:48] jeevatkm commented on #21
Yep, log line removed now. Thanks of verifying functionality :)

[2016-01-25 03:21] zh-lab opened #23 "SetQueryParams supports map[string]interface{} maybe?"
Something like this...
[code]
also
`SetQueryParam(param string, value interface{})`

[2016-01-25 18:06] jeevatkm commented on #23
@zh-lab Actually URL query params are string always. That's why `interface{}` is not supported in those methods.

Do you have something else in your mind?

[2016-01-26 03:03] zh-lab commented on #23
[code]

[code]
Then we could use int params without atoi?
Just my thoughts.

[2016-01-26 22:21] jeevatkm commented on #23
Implementing this way is okay, however changing existing method signature might break user code. I will get back to you about method signature or if you have suggestion please let me know.

[2016-01-27 02:58] zh-lab commented on #23
I see, thx!:smiley:

[2016-01-27 02:58] #23 closed

[2016-01-27 17:40] jeevatkm commented on #23
Currently I'm thinking about unique method signature. If you have any name suggestion let me know. I will bring this `interface{}` support.

[2016-02-17 02:07] jeevatkm opened #24 "Add support for Request Retry"
It would be nice to have request try with interval, no of attempts, etc.

[2016-04-13 14:29] dahankzter opened #25 "Disable warnings possible?"
I get this continously:

RESTY 2016/04/13 16:28:18 WARNING - Using Basic Auth in HTTP mode is not secure.

It would be nice if it was (perhaps it already is!) possible to disable warnings.

[2016-04-13 14:29] dahankzter commented on #25
Thanks for a nice package by the way! ;)

[2016-04-14 03:30] jeevatkm commented on #25
Thanks @dahankzter

This warning was added to recommend best practice. You know it already; exchange credentials in plain text exposes request to vulnerability.

Will provide option disable these warnings, however `resty` will log warning once. Sounds good?

[2016-04-14 06:35] dahankzter commented on #25
Sounds perfect, thank you!

[2016-04-30 16:09] guohuang opened #27 "SetBody() does not support array of models"
Hi
I am a team member of Swagger CodeGen, we use the resty API, we recently ran into issue when setting body with an array of models, is it a known issue that resty does not allow passing array of objects in the body? below is the test exception:
[code]

FYI, with the same code, single object works perfectly.

[2016-04-30 16:57] jeevatkm commented on #27
Thanks for notifying, I will have a look.

[2016-04-30 17:34] jeevatkm commented on #27
I have verified. Yes, `Slice` is not yet supported in the implementation.

Now I'm adding support.

[2016-04-30 20:27] jeevatkm commented on #25
Added method `SetDisableWarn` at client level, please try it out and let me know.

[2016-04-30 20:28] jeevatkm commented on #27
I have added a support. Please try it out and let me know.

[2016-04-30 21:36] jeevatkm commented on #13
Since Go Standard Library brought the HTTP2 usage transparently in Go v1.6 & above. In favor of that I'm closing this issue 👍. Have fun with HTTP2 & `go-resty`!

Excerpts from https://godoc.org/golang.org/x/net/http2
`Package http2 implements the HTTP/2 protocol.`

`This package is low-level and intended to be used directly by very few people. Most users will use it indirectly through the automati

[2016-04-30 21:36] #13 closed

[2016-04-30 21:55] jeevatkm commented on #13
Test with: `Go v1.6` + `go-resty`
against
[code]

[2016-05-01 05:28] guohuang commented on #27
thanks for the quick response, i don't see any PR for this fix, where do i obtain the changes?

[2016-05-01 05:31] jeevatkm commented on #27
v0.7 is on master, please take an update. After v0.7 release, it will accessible via `go get gopkg.in/resty.v0`

[2016-05-01 06:27] guohuang commented on #27
sorry, i have a dump question, if i reference this `github.com/go-resty/resty` that means i am running your master which is v0.7 right? it didn't work.

[2016-05-01 06:30] jeevatkm commented on #27
May or may not be. I have pushed changes today. So please run this for update
[code]

[2016-05-01 06:33] guohuang commented on #27
yes! that seems fixed the issue and my integration tests passed! thank you for fixing it so quickly!

[2016-05-02 01:06] jeevatkm commented on #27
Thanks for confirmation.

[2016-05-02 01:06] #27 closed

[2016-05-02 01:06] #25 closed

[2016-05-02 06:15] dahankzter commented on #25
I will try it as soon as possible, thank you!

[2016-05-02 06:19] dahankzter commented on #25
Seems to work just fine on a cursory test thank!

[2016-05-02 06:19] dahankzter commented on #24
Very nice yes! And with exponential back off as well if possible.

[2016-05-02 06:20] jeevatkm commented on #25
Thanks for your feedback.

[2016-05-06 18:37] guohuang opened #28 "SetQueryParams does not support "Multi" inputs"
Does Resty support Multiple params? I am passing any array of statuses for query param, i am expecting the querystring is
`?status=pending&status=approved`, but what i got from the debugger is only appending the first value,(status=pending)
here is my code
[code]
fyi, i also tried SetQueryParams, but since it is a dictionary, you can't have multiple values, so it won't work either. I know the work

[2016-05-06 19:11] jeevatkm commented on #28
Just had a look. It seem these two lines [L50](https://github.com/go-resty/resty/blob/master/middleware.go#L50) and [L53](https://github.com/go-resty/resty/blob/master/middleware.go#L53) requires change from method `Set` to method `Add`.

Would like to you send PR or I can do it over weekend?

[2016-05-06 20:26] guohuang commented on #28
I tried it, it didn't work, i looked further in net/url package, it is also a dictionary, so either way it will not work.

[code]

[2016-05-06 20:30] guohuang commented on #28
see this, https://golang.org/pkg/net/url/

func (Values) Add

func (v Values) Add(key, value string)
Add adds the value to key. It appends to any existing values associated with key.

[2016-05-06 20:36] jeevatkm commented on #28
You're correct. Yes query param name is unique in the URI, as per URI RFC.

So as per RFC, you can get multi-value after changing those two lines I mentioned above.
[code]

[2016-05-06 20:48] jeevatkm commented on #28
@guohuang I have updated the comment.

[2016-05-06 20:58] guohuang commented on #28
yes, we can always use ` ?status=pending,approved` as work around, but we want ` ?status=pending&status=approved`, looking at https://github.com/go-resty/resty/blob/master/request.go#L91, your proposed solution doesn't work, as QueryParam is a dictionary.

[2016-05-06 21:00] jeevatkm commented on #28
I will add this support, also I have updated the previous comment. Once done I will update this issue.

[2016-05-07 02:03] jeevatkm commented on #28
I have added the support. It's available on master. Give it a try and let me know.

[2016-05-07 06:44] guohuang commented on #28
yup, it works! thanks for the quick fix!

[2016-05-07 17:41] jeevatkm commented on #28
Nice. I'm closing this one.

[2016-05-07 17:41] #28 closed

[2016-05-07 17:43] jeevatkm commented on #28
BTW, I have added this new method [SetMultiValueQueryParams](https://godoc.org/github.com/go-resty/resty#Request.SetMultiValueQueryParams).

[2016-05-07 17:46] guohuang commented on #28
Nice! you are really quick and professional!

[2016-05-27 02:32] iyidan opened #29 "DATA RACE in resty.(*Client).execute()"
Hello,
I am use resty in multi-goroutine and case the DATA RACE

test.go
`package main

import (
	"github.com/go-resty/resty"
	"sync"
)

func main() {
	w := sync.WaitGroup{}
	for i := 0; i < 50; i++ {
		w.Add(1)
		go func() {
			defer w.Done()
			resty.R().Get("http://httpbin.org/get")
		}()
	}
	w.Wait()
}`
`go run -race test.go`

[2016-05-27 03:06] jeevatkm commented on #29
Thanks for reporting. I will have a look.

[2016-05-28 17:34] jeevatkm commented on #29
@iyidan I have analyzed it, will be available in next version. If you have PR for this, feel free to send it.

[2016-05-31 05:16] jeevatkm commented on #29
@iyidan - I have taken care of it, however will do improvements later.

[2016-05-31 21:45] jeevatkm commented on #29
It will be part of v0.8 release, available in `master` branch.

[2016-05-31 21:45] #29 closed

[2016-06-29 04:43] jeevatkm commented on #24
Not much of pressure here, I'm taking it very slow on this :-)

[2016-06-29 06:03] dahankzter commented on #24
It would be very useful though ;)

On Wed, Jun 29, 2016, 06:43 Jeevanandam M. <notifications@github.com> wrote:

[2016-08-19 17:17] alaska commented on #24
I could take this on. I'm writing a little retry library myself.

[2016-08-19 17:42] jeevatkm commented on #24
@alaska please let me know once you're library is ready, I will have a look.

[2016-08-19 22:49] mrd0ll4r commented on #29
Sorry to re-open this, just to let you know: This has broken my client as resty is not parallel anymore. I knew about the data race but it was not affecting my use case. I can fix it without much issues, but please be careful in the future about changes that change the behavior of resty so much. Thanks for the library, will keep using it! :)

[2016-08-20 02:13] jeevatkm commented on #29
@mrd0ll4r I'm sorry about you ran into issue.

Please let me know your suggestion to improve resty. I will think about keeping parallel and prevent data race in the mean time.

Looking forward to your inputs.

[2016-08-20 13:28] mrd0ll4r commented on #29
Hard to say - you could use an `RWMutex` for the proxy settings etc, but you allow setting a proxy for an individual Request, so that's not going to work. Maybe make it so that requests with an explicit proxy use a separate transport and HTTP client? Hard to say for sure.

You could always just say "resty is not thread safe when modifying proxy settings (and maybe more), do thread safety in your c

[2016-08-26 09:18] mdreizin opened #33 "SetMultiValueFormData"
Hello,

It would be nice to have `SetMultiValueFormData` which should work in the same way as `SetMultiValueQueryParams` but for `FormData`:

[code]

[code]

[2016-08-26 19:06] jeevatkm commented on #33
Will take care, thanks!

[2016-09-15 17:47] jeevatkm commented on #24
@keithballdotnet Contributed Backoff retry #34

[2016-09-20 11:07] szuecs opened #36 "No DNS failover possible with resty"
Hi!

I have a daemon, which polls some API endpoints. If the API endpoint switch traffic with DNS (changing the IP), then resty will not do a DNS lookup to get the new IP.
I use the default client use the following code:

	urlString := fmt.Sprintf("https://api.endpoint.foo.com/events/%v", ID) // DNS name changed
	resp, err := resty.R().
		SetHeader("Content-Type", "application/json").
		SetBody(bo

[2016-09-22 03:22] jeevatkm commented on #36
`go-resty` doesn't cache any DNS settings. It uses go httpclient directly.

[2016-09-22 04:19] jeevatkm commented on #33
Closing this issue, PR #38 will be merged.

[2016-09-22 04:19] #33 closed

[2016-09-26 04:02] jeevatkm commented on #24
#35 is merged.

[2016-09-26 04:02] #24 closed

[2016-09-30 15:31] neilotoole opened #39 "Don't set the transport's proxy settings to nil by default"
In `client.go`, at this [location](https://github.com/go-resty/resty/blob/master/client.go#L631), there's this code:

[code]

The final `else` clause should be removed. If the caller provides a `transport`, it may already have a proxy configured, there's no reason to set the transport's proxy to `nil`.

[2016-09-30 17:43] jeevatkm commented on #39
Make sense. Yes, we can leave that to caller.

Would you like to send PR?

[2016-10-02 23:06] jeevatkm commented on #39
Taken care.

[2016-10-02 23:06] #39 closed

[2016-10-02 23:07] jeevatkm commented on #36
Closing this one, feel free to re-open when you find some issue. Thanks.

[2016-10-02 23:07] #36 closed

[2016-10-05 21:12] kryptodev opened #40 "Add custom timeout per client basis + FastHTTP support"
So I'm looking for something like

[code]

Also wanted to ask if it's possible to use fasthttp instead of net/http. From what I read it is significantly more performant:

Refer: https://medium.com/@valyala/net-http-client-has-the-following-additional-limitations-318ac870ce9d#.502tduhmn

Refer: https://medium.com/@nate510/don-t-use-go-s-default-http-client-4804cb19f779#.pla7aw7gz

Thanks!

[2016-10-05 23:42] kryptodev commented on #40
Oh figured out the first part of my question. Do consider the fasthttp suggestion. Thank you again.

[2016-10-07 00:09] jeevatkm commented on #40
Thanks you found a way. I will see about fasthttp.

[2016-10-27 18:37] miqui opened #41 "example of automatic unmarshalling?"
example of  automatic unmarshalling?

[2016-10-27 19:10] jeevatkm commented on #41
@miqui Please have a look [resty_test.go](https://github.com/go-resty/resty/blob/master/resty_test.go). You will find more examples.

Automatic marshaling & unmarshalling example:
1. https://github.com/go-resty/resty/blob/master/resty_test.go#L196
2. https://github.com/go-resty/resty/blob/master/resty_test.go#L239
3. https://github.com/go-resty/resty/blob/master/resty_test.go#L331

[2016-10-27 19:17] miqui commented on #41
@jeevatkm , thanks for the reply,

i am doing this:

[code]

so that i can then inspect the a struct properties, ... i was not sure what you meant by "automatic" unmarshalling...

[2016-10-27 19:34] jeevatkm commented on #41
You no need to call ` json.Unmarshal` manually. resty does it for you automatically based content type JSON or XML otherwise resty won't do any. Will keep your response body intact.

you might have saw the example, I gave you.

[code]

[2016-10-27 19:35] miqui commented on #41
cool, let me try that...

[2016-10-27 19:39] #41 closed

[2016-10-27 21:56] jeevatkm commented on #41
I'm glad to hear that. Thanks.

[2016-10-27 22:43] jeevatkm opened #42 "Implement Conditional Retry from PR#37"
Implement @dmiller113 contribution from PR #37 into resty main stream.

[2016-10-28 03:35] jeevatkm commented on #42
#43 will be merged.

[2016-10-28 03:35] #42 closed

[2016-11-25 00:35] ei-grad opened #44 "Context support"
It would be nice to have a Request.SetContext method to set context for request cancellation like it is done in httpDo function described in https://blog.golang.org/context.

[2016-11-25 19:02] ei-grad commented on #44
Oops, it would break golang <1.7, is it planned to keep support for them?

[2016-12-04 01:13] drichelson opened #47 "Enable proper retrying of POST requests"
It looks like retries on POST requests do not resend the request body. Some would suggest that POSTs should not be retried, but in my case the request is idempotent, so it's fine. It should be noted that the log indicates the retried attempt contains the post body, but it's not actually there.

[2016-12-04 01:29] jeevatkm commented on #47
@drichelson Thanks for reporting, I will have a look. If you have a sample code, please post it here.

[2016-12-04 18:33] drichelson commented on #47
I created a failing test (with some heavy logging) to illustrate this issue: https://github.com/go-resty/resty/pull/48/files

[2016-12-04 19:18] jeevatkm commented on #47
Thanks for the PR. I will have a look.

[2016-12-20 19:56] AlskiOnTheWeb opened #49 "Form Data Does Not Allow Multi-Valued Parameters"
SetFormData currently only accepts map[string]string but the HTTP form data really supports a model of map[string][]string (a map of string to list-of-strings).

[2016-12-20 21:46] jeevatkm commented on #49
Please use method `SetMultiValueFormData`.

[2016-12-23 04:33] jeevatkm commented on #49
does it solve your need?

[2016-12-26 07:07] jeevatkm commented on #49
I'm closing it. Please let me know.

[2016-12-26 07:07] #49 closed

[2016-12-29 02:02] jeevatkm opened #50 "apply golint, errchk, go-metalinter code quality"
Only breaking change is HTTP methods-
* GET => MethodGet
* POST => MethodPost
* PUT => MethodPut
* DELETE => MethodDelete
* PATCH => MethodPatch
* HEAD => MethodHead
* OPTIONS => MethodOptions

[2016-12-29 02:08] jeevatkm commented on #50
Done!

[2016-12-29 07:02] #50 closed

[2016-12-29 17:41] drichelson commented on #47
Thanks @jeevatkm !

[2016-12-29 17:54] #47 closed

[2016-12-29 18:43] jeevatkm commented on #44
Support provide in PR #46. Merged to master.

[2016-12-29 18:44] #44 closed

[2016-12-29 18:58] jeevatkm commented on #47
@drichelson You're welcome.

[2017-01-07 00:27] jeevatkm commented on #40
I'm closing this one, for now not adding fasthttp support.

[2017-01-07 00:27] #40 closed

[2017-01-11 00:55] moorara opened #52 "Add support for automatic json unmarshalling using map on response"
Can you please bring automatic JSON unmarshalling using `map` on response like `struct`?

I'm trying to do something like the following:

[code]

[2017-01-11 03:33] jeevatkm commented on #52
Sure, I will add support for `map` for `JSON` content type.

[2017-01-12 17:43] jeevatkm opened #53 "Add IsProxySet() method"
Add `IsProxySet()` method, it's help find out client instance has proxy set.

[2017-01-22 00:55] jeevatkm commented on #53
Done at e11631687b7d26c08fe1bfdf42cbff65be6f3b75

[2017-01-23 00:35] ssut opened #54 "Support socks5 proxies"
Seeing resty allows proxies to be set by URL which involves parsing and identifying its scheme, most people would expect that it supports other proxy schemes such as socks5. However, when I try to set socks5 proxy, It connects to the socks5 proxy host by using a http proxy model.

The reason why I need this is typically Tor listens only for socks5 connections. I know of no project using golang tha

[2017-01-23 17:42] jeevatkm commented on #54
@ssut Thanks for your question.

I have added example of socks5 proxy in this [commit](ef723efa2a1b4fcdbafb5b1e7c6cf42065519728).  Later I will added built-in support in the `resty`.

[2017-01-23 17:42] #54 closed

[2017-01-23 17:42] #53 closed

[2017-01-24 01:23] ssut commented on #54
Thanks for your help. By the way, I attempted to do that with [`.SetTimeout`](https://github.com/go-resty/resty/blob/master/client.go#L501-L513), but it didn't work out. I'm guessing it will not work with a way of this. Wht do I have to do to get it work?

[2017-01-24 02:20] jeevatkm commented on #54
Yes, `SetTimeout` won't work in your scenario. Because as per example you're using custom `http.Transport`. I'm not sure this library `golang.org/x/net/proxy` supports timeout. I need to verify it.

[2017-01-24 09:33] ssut opened #55 "Add an option to support meta redirection"
This is not a standard yet but it'd be great if Resty support redirection using meta refresh such as:
[code]
[code]
Most websites follow the HTTP standard, which contains declarations for standard redirection method, but some don't. However, this is not so important because it's often not the case and can cause performance issues.

[2017-02-09 01:57] wanghq opened #56 "httpClient.Do is protected by a mutex?"
Because of the locking, there can only be __one__ outgoing call, which is really bad to the performance. If I understand it correctly,
* if req1 has proxyURL set but req2 doesn't, then req2 will be sent with req1's proxy. Is this expected?
* if req1 and req2 both have proxyURL set, then req1 will be sent with req1's proxy and req2 will be sent with req2's proxy. This works. But the overhead of thi

[2017-02-09 18:49] jeevatkm commented on #56
I understand what you're describing. I have introduced locking in #29. but I did not [satisfied myself](https://github.com/go-resty/resty/issues/29#issuecomment-222594301).

It seems I have to make a call before v1.0 release on this locking.

[2017-02-09 18:50] jeevatkm commented on #55
It seems useful, will give it a try later on. Thanks.

[2017-02-24 18:35] ChristianLohmann opened #57 "OnBeforeRequest does not change Request.RawRequest attributes"
Trying to manipulate `*resty.Request` fields inside an `OnBeforeRequest` function does not affect the actual request,  which is finally executed:

https://github.com/go-resty/resty/blob/master/client.go#L627-L645
[code]
All `OnBeforeRequest` functions will be executed but they have no effect when they call methods directly on `*resty.Request` because the `RawRequest` stays untouched until real req

[2017-02-24 18:52] jeevatkm commented on #57
Thanks for reporting @ChristianLohmann. I will have a look.

[2017-02-24 18:59] jeevatkm commented on #57
I had a look and understood what you have describe. I will correct the execution sequence of `OnBeforeRequest`.

Please continue to modify the `*resty.Request` after the fix. Tomorrow fix will be available on master and will be released part of `v0.11`.

[2017-02-24 20:56] ChristianLohmann commented on #57
Many thanks for this quick reply and  providing a fix that fast!

[2017-02-25 05:39] jeevatkm commented on #57
Fix available on master branch. Please give it a try and let me know.

[2017-02-25 06:27] jeevatkm commented on #29
@mrd0ll4r @wanghq - I thought through it. I'm planning to remove request level proxy option and mutex locking from resty.

any objections or comment?

[2017-02-25 06:53] jeevatkm commented on #52
@moorara - It seems resty already supports `map` type.

I have created this test case method for resty. Have a look and share your thought.

[code]

Also added dereferencing for your code snippet. It works.

[code]

[2017-02-25 08:43] mrd0ll4r commented on #29
You'd still protect the top-level proxy with an `RWMutex` or something, right? Sounds good to me.

[2017-02-25 20:31] jeevatkm commented on #29
@mrd0ll4r that's the plan, I'm gonna give it try.

[2017-02-25 21:51] jeevatkm commented on #29
@mrd0ll4r @wanghp - mutex lock is removed from resty. I have tried RWMutex however it is not needed anymore.

I need to add note for, if resty user is modifying resty client setting from multiple goroutine/dynamically they have to use their own locking mechanism.

I have pushed changes to master. resty Performance is improved.

[2017-02-25 21:52] jeevatkm commented on #56
@wanghq mutex removed, request level proxy setting is removed.  Locking is not needed anymore for resty.

Refer #29 too.

[2017-02-27 07:52] wanghq commented on #29
@jeevatkm , thanks for the quick response! Looks good.

[2017-02-27 10:21] ChristianLohmann commented on #57
Thanks, it works now!

[2017-02-27 23:37] jeevatkm commented on #57
Thanks for the confirmation. I believe `master` branch is working without any issues.

[2017-02-27 23:38] jeevatkm commented on #29
@wanghq have you tested `master` at your end. Please let me know your feedback.

[2017-02-27 23:38] jeevatkm commented on #52
@moorara can you please share your feedback?

[2017-02-28 10:17] ChristianLohmann commented on #57
I haven't experienced any other issues with the master so far. I glued the commit hash to c53a09aa1fdff556f8e7034acc3202ca8cc13c2f with glide until a new release is available via gopkg.in.

[2017-02-28 20:19] jeevatkm commented on #57
Thank you. I'm closing this issue.

[2017-02-28 20:19] #57 closed

[2017-02-28 20:20] jeevatkm commented on #56
Updates are present in #29. Closing this one.

[2017-02-28 20:22] #56 closed

[2017-03-03 13:02] ChristianLohmann opened #58 "Nil Pointer access on timeout using retry"
When a request interrupts due to a client timeout and when using a retry condition function then the underlying `resty.Response.RawResponse` is `nil`. Which is pretty obvious because the remote haven't sent any. But one has to make a `nil` check on the `RawResponse` in `RetryConditionFunc`s because functions like  `resty.Response.StatusCode()` access directly the underlying `RawResponse`s fields.

[2017-03-05 19:06] jeevatkm commented on #58
@ChristianLohmann Thanks for your inputs. I will have a look and get back to you.

[2017-03-05 19:09] jeevatkm commented on #52
@ChristianLohmann I saw thumps up for map support. Can you please see my above responses and share your feedback?

[2017-03-10 08:39] lrita opened #59 "Lost repsonse and no error return"
Someone api will cost N ms.

If we `SetTimeout` M ms (N< M < 2N) to `Client` and we call this api twice,  the server side will receive three request and send three response.

In client side, user only see 2 api call but 3 api call be sent actually.

This issue will be duplicated in go 1.7.3, [here is the code](https://github.com/lrita/resty/blob/fix-timeout-issue/client_test.go#L101-L120).

I foun

[2017-03-10 14:43] ChristianLohmann commented on #52
Nice idea would appreciate to have. Is there also the demand of having slices marshaled to result? For me it would make sense to have response bodys like
[code]
automatically get unmarshaled to result?

[2017-03-10 17:53] jeevatkm commented on #52
@ChristianLohmann - actually resty already supports map. Key point is; you have to `dereference` it before using a map.

[code]

I have tested at my end for `map` and Can you please try and let me know?

[2017-03-10 18:20] jeevatkm commented on #59
@lrita Thanks for your PR, I have added a comment. Please have a look.

[2017-03-11 08:34] lrita commented on #59
I have fixed the build errors in golang 1.2.

[2017-03-11 18:40] jeevatkm commented on #59
Thanks @lrita.

[2017-03-11 18:43] jeevatkm commented on #59
PR #60 Merged.

[2017-03-11 18:43] #59 closed

[2017-03-18 00:58] wanghq commented on #29
@jeevatkm , I didn't notice any issue with the master branch. Thanks again.

[2017-03-18 01:25] jeevatkm commented on #29
@wanghq Thank you for the confirmation.

[2017-03-18 23:34] jeevatkm commented on #58
@ChristianLohmann I have added nil check while access `RawResponse` returns value appropriately. Will be pushing the changes tomorrow and also making `v0.11` release.

[2017-03-19 17:58] #58 closed

[2017-03-19 18:00] jeevatkm commented on #52
Since resty already has map support, it just user have to deference it before use.

I'm closing it. Thanks @moorara @ChristianLohmann

[2017-03-19 18:00] #52 closed

[2017-03-22 09:51] ChristianLohmann commented on #58
Thanks for that @jeevatkm !

[2017-03-24 14:25] marcusljx opened #61 "Support trailing backslashes in URLs"
Many REST APIs still include different behavior for addresses with a trailing slash vs without. For example:
[code]
might possibly be different from
[code]

Current behavior is to trim the trailing backslash. I propose to include trailing backslashes and leave it to the user to specify the verbose path.

[2017-03-24 16:21] jeevatkm commented on #61
I just had glance of request flow. `resty` does not do trim on URL. It just uses `url.Parse` method.

Could you go through resty code and help me to find an issue?

[2017-03-24 16:29] marcusljx commented on #61
Sure. The path-trimming is just behavior I've noticed while using `resty`. I'll push something if I find anything.

[2017-03-24 16:31] jeevatkm commented on #61
Okay thanks, just enable debug log in resty. Helpful for debugging.

[2017-03-24 16:43] marcusljx commented on #61
Okay I think I made a mistake here. `resty` indeed does not trim the URL. It must have been something in my own code that was doing it.

My apologies for the false alarm.

[2017-03-24 16:43] #61 closed

[2017-03-24 18:49] jeevatkm commented on #61
Thank you for verify and your confirmation.

[2017-03-24 19:09] ccp-ccollins opened #62 "Add an option for user-defined middleware after the built-in middlware, to modify the RawRequest object"
I wanted to use resty for requests to an AWS endpoint that requires requests to be signed with AWS credentials.  A library already exists for this (https://github.com/smartystreets/go-aws-auth), however using that one requires access to the http.Request object directly.  Currently, user defined middleware is run before the built-in middleware, which makes sense when modifying the resty.Request obj

[2017-03-24 20:27] jeevatkm commented on #62
Okay I will add. Thanks.

[2017-03-27 03:10] WhisperingChaos opened #63 "Proposal: Response Body default JSON Unmarshal to provided golang struct or map"
Appreciate the default behavior of [Request SetBody(interface{})](https://godoc.org/github.com/go-resty/resty#Request.SetBody) to "Automatic marshalling for JSON and XML content type, if it is `struct` or `map`."  Would suggest the same automatic unmarshalling for [Reponse Body()](https://godoc.org/github.com/go-resty/resty#Response.Body() when specified with an interface{} argument.

[2017-03-27 04:26] jeevatkm commented on #63
I believe you referring this https://godoc.org/github.com/go-resty/resty#Request.SetResult

[2017-03-27 11:31] WhisperingChaos commented on #63
Thank you for:

- A package that simplified my code!
- Your quick reply to this issue!
- The link you provided to the desired feature!

I've encoded the solution proposed by the link but am unable to obtain the data for the unmarshalled object.  Here's a code snippet:
[code]
Here's the generated output:
[code]
The output demonstrates that a manual decoding of the json produces the expected result.

[2017-03-27 17:23] jeevatkm commented on #63
Response automatic marshaling happens based on response `Content-Type` header and Status Code.

Can you please enable debug `resty.SetDebug(true)` in resty? and give me that details. It will help me to identify an issue.

[2017-03-27 18:14] WhisperingChaos commented on #63
Again, thank you for you kind assistance!  Using your suggestion of enabling SetDebug() method provided the information I needed to identify the problem.  In this situation, the server's content type was set to plain text, not json.

Sorry to have had you remotely debug "my" problem.

[2017-03-27 18:14] #63 closed

[2017-03-27 18:19] jeevatkm commented on #63
I'm happy for you, you're welcome.

[2017-03-30 12:37] bak1an opened #64 "Add support for WaitTime and MaxWaitTime for retries"
Currently client does not expose a way to configure wait times for retry, only conditions and retry count are configurable - https://github.com/go-resty/resty/blob/90b37fd783f8bd880cf2bd537a2c3b3b48cf32e1/request.go#L430

We need to make wait times configurable as well, default 100ms wait time is too little in my case.

I can provide a pull request for this if the issue is valid

[2017-03-30 12:42] bak1an commented on #64
I am also wondering why retry config functions and `Backoff` function were made public in https://github.com/go-resty/resty/blob/master/retry.go ?

Was the idea to let user wrap `client.Execute(...)` into an anonymous function and pass it to `Backoff`?

[2017-03-30 13:02] bak1an opened #65 "Unable to set custom `http.RoundTripper`"
At the moment it is not possible to set custom `http.RoundTripper` as a transport in resty since its `transport` field wants exactly `http.Transport` struct. On the contrary, golang's stdlib client allows us to use any RoundTripper - https://golang.org/src/net/http/client.go?s=1933:4055#L46

Providing custom RoundTripper can be usable in testing, i.e. one could hijack transport to be provided by s

[2017-03-30 17:16] jeevatkm commented on #64
@bak1an Configurable option is good. Feel free to send PR.

Yes, that was my thought when I made those as public.

[2017-03-30 17:17] jeevatkm commented on #65
@bak1an I need a time to analyze and get back to you. However your description makes sense.

[2017-04-03 19:15] bak1an commented on #64
Great, will be on it during the week

[2017-04-11 03:57] alexmontecucco opened #67 "Confusion between `set` and `add` methods"
Hi,

I noticed an unexpected behavior for most of the `set` methods. This is from `request.go`:
[code]
Most of the `set` methods are actually `add` which is misleading and prevents from overriding existing keys.
I don't know whether it is a design choice or not.

My suggestion would be to have both `set` and `add` methods (I have the changes locally). It would make things cleaner imo.

However, I

[2017-04-13 17:32] #64 closed

[2017-04-18 03:03] jeevatkm commented on #65
@bak1an I took longer than I expected to respond for your query.

I would like to give you a background. Since `v0.11` release -
* After calling `SetTransport` method and then user calls any methods, those supplied values (`Proxy`, `TLS`, etc.) gets into the object they have supplied and `resty` is using that internaly.
* `Timeout` is applied in the `http.Client.Timeout`

Now let's get back to you

[2017-04-18 03:15] jeevatkm commented on #67
@alexmontecucco Sorry for delayed response. Just got occupied with my [aah framework](https://github.com/go-aah) work, getting ready to make an initial public release, etc.

When I designed the `resty`, I have followed convention of `golang` `Setter`.  You can see that with every method exposed from `resty` for setting values.

I understand your question, I hope and believe it won't hurt to change

[2017-04-24 21:46] bak1an commented on #65
Let me take another look at this...

[2017-04-24 21:50] jeevatkm commented on #65
Sure, I will wait for your inputs.

[2017-04-26 00:42] alexmontecucco commented on #67
@jeevatkm Thx for you reply.
My concern is (from `request.go`):
[code]
Both method name and doc are misleading because `SetQueryParam` is not setting but adding (`r.QueryParam.Add(param, value)`).
`url.Values` type has four functions: `Get`, `Set`, `Add` and `Del`.
It is still possible to achieve the desired result by not using the `SetQueryParam` function and directly use the `QueryParam` attribu

[2017-04-26 00:56] jeevatkm commented on #67
Thanks @alexmontecucco. Okay let's make the misleading clear.

I will do this in coming `v0.12` release, I'm capturing it here so users can refer it -
 * `SetQueryParam ` and `SetFormData` will be updated to use method `Set` internally

`resty` user have to use existing methods `SetMultiValueQueryParams`, `SetMultiValueFormData` for multi values which uses method `Add` internally.

I hope this doe

[2017-04-26 01:10] alexmontecucco commented on #67
I don't understand why `SetMultiValueQueryParams` and `SetMultiValueFormData` still need to use  the `Add` internally. Is it to avoid breaking compatibility.

For `SetQueryParam` and `SetFormData` your suggestion is to simply change the `Add` to `Set` right ?

[2017-04-26 01:20] jeevatkm commented on #67
No, it's not about breaking compatibility.

Yes, changing it from `Add` to `Set` for `SetQueryParam` and `SetFormData`.

---

The way `Set` works from `url.Values` is; it replaces the existing values. We will not able to add multi values. So `Add` is required for multi values.

Multi value method added on #28.

[2017-04-26 01:25] alexmontecucco commented on #67
Ok got it, I forgot, thx.
Will push something this week / weekend.

[2017-04-26 01:26] jeevatkm commented on #67
Thanks @alexmontecucco.

[2017-04-27 13:12] yellowiscool opened #68 "Example for JSON handling"
Hi,

An example showing how to get the JSON document from a GET request could be nice to have in the README. I had to search in the source code to see that I should use `resp.Request.Result`

[2017-04-27 13:32] yellowiscool commented on #68
Well, actually `Request.Result` is nil, so it doesn't seem to work.

[2017-04-27 15:40] jeevatkm commented on #68
If I understand correctly, you would like to use Automatic Unmarshal feature for Response.

You have to use [Request.SetResult()](https://godoc.org/gopkg.in/resty.v0#Request.SetResult) and [Response.Result()](https://godoc.org/gopkg.in/resty.v0#Response.Result).

If you have error scenario then -
You can use [Request.SetError()](https://godoc.org/gopkg.in/resty.v0#Request.SetError) and [Response.E

[2017-05-02 01:02] alexmontecucco commented on #67
Closed by https://github.com/go-resty/resty/pull/71

[2017-05-02 01:02] #67 closed

[2017-05-02 01:06] jeevatkm commented on #68
@yellowiscool I hope you have sorted out with above reference, please let me know.

[2017-05-02 06:54] yellowiscool commented on #68
Hei, I didn't know about `Request.SetResult()` so I implemented the unmarshal myself. Thanks for the explanation though, I will use it the next time I should implement something using Resty.

[2017-05-04 16:15] jeevatkm commented on #68
Glad to hear. Thanks.

[2017-05-04 16:15] #68 closed

[2017-05-04 16:16] jeevatkm commented on #65
Whenever you have inputs please let me know. Thanks.

[2017-05-04 19:33] jeevatkm commented on #62
@ccp-ccollins I thought through it, adding one more before request middleware will lead to confusion. Instead I'm planing to add `SetPreRequestHook` with same signature as middleware but only one can be added.

This will be available in `v0.12` release.

[2017-05-08 11:05] bak1an commented on #65
@jeevatkm

Existing timeout, TLS and proxy resty interfaces are looking simple and solid so definitely should keep them around without making anything there harder to use.

[2017-05-08 11:18] bak1an commented on #65
@jeevatkm

Existing timeout, TLS and proxy resty interfaces are looking simple and solid so we definitely should keep them around without making anything there harder to use.

On the other hand, giving users ability to override `RoundTripper` will provide the library with extra flexibility which is good thing to have as well.

The way to get this done I see at the moment is to provide users with `

[2017-05-08 17:58] jeevatkm commented on #65
@bak1an

Yes it's sounds good. Thank you.

[2017-05-08 17:59] bak1an commented on #65
@jeevatkm Then I will make a PR for this around the end of the week. Thanks!

[2017-05-17 16:10] ideahitme opened #72 "SetRetryWaitTime is undefined"
Readme file mentions that it is possible to define a wait time for retries, however `resty.v0` version `c45c7bcc0000d1a9ac1b119b2e6043c6540eedea` does not expose the method:

[code]

Probably documentation is outdated. What is the best way to implement this (e.g. adding time.Sleep into `AddRetryFunc` ?

[2017-05-17 18:08] jeevatkm commented on #72
@ideahitme  This feature is available on master `github.com/go-resty/resty`. It is not yet released on `gopkg.in/resty.v0`.

[2017-05-22 07:29] jeevatkm commented on #72
Closing this since `v0.12` is getting released.

[2017-05-22 07:29] #72 closed

[2017-05-22 07:52] jeevatkm commented on #62
@ccp-ccollins Sorry for the delay. Usually I make it quick. This time I got occupied with my [aah framework](https://aahframework.org) first public release.

`SetPreRequestHook` is ready and will be release with `v0.12`.

*_PS: If you could spare sometime, please have a look on aah framework and share your inputs. I would help me to improve the framework._*

[2017-05-22 07:52] #62 closed

[2017-05-22 08:28] ideahitme commented on #72
thanks a lot 👍

[2017-05-22 16:43] jeevatkm commented on #72
You're welcome.

[2017-05-28 20:00] jeevatkm commented on #65
@bak1an working on PR #74 for this feature.

[2017-06-15 17:06] ZandorZ opened #76 "Suggestion to change json parser in order to improve performance"
Instead of using standard encoding/json, maybe use another  like https://github.com/json-iterator/go

[2017-06-16 23:04] jeevatkm commented on #76
Thank you for your suggestion. I will have a look.

[2017-06-21 19:13] Robbilie opened #78 "New Tag so the UA change can be used in go"
can someone create a new tag so the UA PR i made the other day can be used? :)

[2017-06-21 19:22] jeevatkm commented on #78
Will do a release tomorrow.

[2017-06-22 19:36] jeevatkm commented on #78
`v0.13` has been released, I will announce it channel in the evening.

[2017-06-22 19:36] #78 closed

[2017-06-27 16:20] etsangsplk opened #79 "Support for POST with "Content-Type", "application/x-www-form-urlencoded" with data urlencoded"
It does not seem to support support for POST with "Content-Type", "application/x-www-form-urlencoded. We can set the header but the data is not url encoded

Example:
https://github.com/go-resty/resty/blob/master/request.go#L134
There is no data.Encode() at the end.

Is there another thing I have to set or it is missing?

[2017-06-27 19:17] jeevatkm commented on #79
`resty` does support Content-Type `application/x-www-form-urlencoded` aka form data. Encode happens at [middleware#L332](https://github.com/go-resty/resty/blob/master/middleware.go#L332).

Have you tested it? If yes then please provide sample program to reproduce the issue.

Refer to these test case [TestFormData](https://github.com/go-resty/resty/blob/master/resty_test.go#L449) and [TestMultiValu

[2017-06-27 19:25] etsangsplk commented on #79
I am using it as a client level not as server middleware

[2017-06-27 19:37] jeevatkm commented on #79
This is not a server middleware. This is `resty` middleware.

Typical usage of `SetFormData` as follows:

- Use `resty.SetFormData` for fields which needs to be sent for all request. Which is global
- Use `resty.R().SetFormData` for fields which needs to be sent for particular request. Also you can override field values of client level.

Encode happens in both cases, when request is created from `

[2017-06-27 22:19] etsangsplk commented on #79
I don't know what's the difference between resty and the raw http client approaches. But I get that working using the raw http client, but it is much less nice if I can use resty.

[code]

[2017-06-27 22:43] jeevatkm commented on #79
Can you please try following code and share your debug output?

[code]

_Tip: Use client side settings only if you want have dedicated client for specific purpose, otherwise just use resty.R()..._

[2017-06-28 02:57] jeevatkm commented on #79
@etsangsplk did you get a chance to try above code snippet?

[2017-06-28 16:23] etsangsplk commented on #79
yup it worked. It is the extra "Content-Type":  "application/x-www-form-urlencoded" I had that's causing the issue. Thanks

[2017-06-28 16:23] #79 closed

[2017-06-28 16:34] etsangsplk commented on #79
I do have another question of SetTimeout(time.Duration(time.Duration(timeoutInSec) * time.Second)). ... in resty.. so it will abort and also clean up all the resources (connection, buffers etc etc) on expiry..  What resources are cleaned up?

[2017-06-28 17:11] jeevatkm commented on #79
Thanks for the updates. I will place the check of content-type check.

Yes it aborts the request. Connection goes to pool (done by golang), bytes buffer goes pack to pool (done resty), other references are ready for GC.

Currently `resty` provides high performance with very low footprint. However in the upcoming releases I will be adding further object pool support to improve performance, less all

[2017-07-06 03:16] LiuZhiyan opened #81 "Supporting GET method with a request body is an option?"
Hello,

According to the logic at [0], the request body handling will be ignored for all the requests with GET method currently, however some servers are supporting this kind of API/request like Elasticsearch. I did some searches on this, HTTP/1.1 does not seem to explicitly forbid this (correct me if I miss anything), and it seems some people have the similar requirements as well. I consider this

[2017-07-06 20:12] jeevatkm commented on #81
I understand your view point. There is a lot of discussions around this topic on SO [HTTP GET with body ](https://stackoverflow.com/questions/978061/http-get-with-request-body).

When I designed the `resty` I took approach of commonly followed. That's why I didn't added this support.

Elasticsearch does supports the POST request in parallel with GET request for the queries.

I see only option/solu

[2017-07-07 06:25] LiuZhiyan commented on #81
Hello jeevatkm,

Thanks for your quick response.

Your design approach does make sense. I agree adding an option to do that seems like a good way to go currently, and disable the behavior by default to keep backward-compatible.

Would you like to take a look on my patch on this idea?

Thanks!

[2017-07-07 06:34] jeevatkm commented on #81
Thank you for the PR, I have just added my review.

[2017-07-07 18:15] #81 closed

[2017-07-10 06:16] jeevatkm commented on #76
@ZandorZ I have done my analysis.

[json-iterator](https://github.com/json-iterator/go) supports all three compliant methods
- `Marshal(v interface{}) ([]byte, error)`
- `Unmarshal(data []byte, v interface{}) error`
- `MarshalIndent(v interface{}, prefix, indent string) ([]byte, error)`

There are other two candid libraries are available:

[ffjson](https://github.com/pquerna/ffjson) supports two c

[2017-07-10 07:16] jeevatkm commented on #76
I have implemented above mentioned design e62101851570b1515c675672a9daa29887cedcf0, it is not yet merged to master.

[2017-07-10 11:58] ZandorZ commented on #76
@jeevatkm Good idea!

[2017-07-19 03:25] tjyang opened #83 "Need help porting a python REST api client to go-resty"
Hi
I am trying to port my python script using requests to golang using go-resty pkg.

Here is my current simplified code as restget.py
[code]

Here is my current go code and  dump out all my servers, please help me fix go-resty header setting issue, I think I didn't config  SetQueryString("name:lsre01") correctly to narrow down per host query.

[code]

[2017-07-19 05:09] jeevatkm commented on #83
It seem issue, your issue not setting Query String value. If not let me know.

This is incorrect, usage but method is correct:
[code]

Updated Code:
[code]

[2017-07-19 11:28] tjyang commented on #83
@jeevatkm , Thanks for quick reply. Instead thousands of hosts output, I can now query a host's info with json output. Now off to figure out how to pick out the fields using go json pkg.

[2017-07-19 11:32] tjyang commented on #83
@jeevatkm , Actully, would you mind keep advising this effort on parsing json part ? if not, pls close this issue.  I am going to search and try json part myself first.

[2017-07-19 17:27] tjyang commented on #83
@jeevatkm,  let me close this issue since other unfinished parts of restget.go  is not related go-resty pkg.

[2017-07-19 17:27] #83 closed

[2017-07-19 18:28] jeevatkm commented on #83
`resty` supports automatic Marshal and Unmarshal of JSON and XML first class. Please refer to README.md and test cases.

[2017-07-19 18:29] jeevatkm commented on #76
Merging e62101851570b1515c675672a9daa29887cedcf0 into master.

[2017-07-20 22:34] tjyang commented on #83
Thanks for the pointer. I will look into go-resty's unmarshal support.

[2017-07-22 05:46] jeevatkm commented on #76
Merged to master

[2017-07-22 05:47] #76 closed

[2017-08-01 17:38] perdasilva opened #85 "Streaming"
Hi,

Is it possible to stream the HTTP response?

Thanks in advance =)

[2017-08-01 19:37] jeevatkm commented on #85
@perdasilva I'm sorry, I didn't get your question. Could you please describe your use case?

[2017-08-02 12:52] perdasilva commented on #85
Hi,

Yeah, I want to stream the response to stdout as it comes in. From what I've tried, it seems the request blocks until the whole response is downloaded.

Basically, I would like to do this:

reader := bufio.NewReader(resp.Body)
for {
	line, err := reader.ReadBytes('\n')
	if err != nil {
		break
	}
	log.Print(string(line))
}

I've tried using Response.RawResponse.Body, but that didn't work for

[2017-08-03 05:19] jeevatkm commented on #85
You're correct. Resty reads the complete response and then returns to caller at once. Refer to [Line#722](https://github.com/go-resty/resty/blob/master/client.go#L722).

I can bring this feature in the upcoming release.

----

If you want save HTTP response as a file use https://godoc.org/github.com/go-resty/resty#Request.SetOutput

[2017-08-03 06:10] sudo-suhas opened #86 "How to preserve case for request headers?"
Golang calls [`CanonicalMIMEHeaderKey`](https://golang.org/pkg/net/textproto/#CanonicalMIMEHeaderKey) on headers and this does not preserve case. Something like `Channel_Name` gets changed to `Channel_name`. I am aware of the fact that HTTP headers are supposed to be case insensitive according to specification. However, I need to be able to send headers with specific case for consuming some extern

[2017-08-03 18:40] jeevatkm commented on #86
Yes, you're correct. HTTP header is case insensitive as per spec. However your example header doesn't follow the spec completely.

**For eg.:**

You're not using `-` as word delimiter, other then `-` will be treated as single word.  Technically `Channel_name` is correct value as a `Canonical` key. I believe this is applicable to any programming language as per RFC.

On the server side, header can

[2017-08-03 18:56] perdasilva commented on #85
Hi,

Thanks for the reply.

What I would to do is print the response as it comes, instead of buffering the entire thing then printing. Would this be at all possible?

Basically I'm initiating a process on the server, which returns a log of what's going on - and I would like to see it as it comes through the pipe ^^

Cheers!!

[2017-08-03 19:14] jeevatkm commented on #85
@perdasilva Currently this feature is not exists in `resty`. To achieve this resty have to be provide response reader to caller without reading a response.

If you're interested, create an issue for me "Expose response reader without reading response". Then I will think about the design and share it with you.

Once we are satisfied, I will implement it in resty. Sounds good?

[2017-08-04 00:26] sudo-suhas commented on #86
The external API does not follow spec and there's not much I can do about it.
 Thanks anyway.

[2017-08-04 02:41] jeevatkm commented on #86
Understood. Thanks.

[2017-08-04 02:41] #86 closed

[2017-08-04 06:59] perdasilva opened #87 "Expose response reader without reading response"
I would like to get access to the response reader without the response first being read by resty. This would allow me to stream (e.g. to stdout) the response as it comes, rather than resty buffering it until it finishes.

[2017-08-04 06:59] perdasilva commented on #85
Sounds like a plan! I've created the issue =D

ty!!

[2017-08-04 06:59] #85 closed

[2017-08-11 05:51] jeevatkm commented on #87
@perdasilva Thanks for creating an issue, once done I will ping you.

[2017-08-13 01:54] jeevatkm commented on #87
@perdasilva I would like to know how soon you need this feature. Based on that I will plan it. Please let me know.

[2017-08-13 15:21] adeanzan commented on #87
@jeevatkm - I am also interested in this feature and need it to continue with a project I'm working on.

[2017-08-13 16:13] jeevatkm commented on #87
@adeanzan Thank you

[2017-08-13 16:44] perdasilva commented on #87
ASAP would be great. As it is now, we are mixing b/w resty and net/http. Would be nice to just rely on resty ^^

[2017-08-13 16:44] perdasilva commented on #87
Thx for picking this feature up ^^

[2017-08-13 17:28] jeevatkm commented on #87
@perdasilva @adeanzan Thanks, understood. Once branch is ready I will ping you. So that you can try before merging into master.

[2017-08-14 04:59] jeevatkm commented on #87
@perdasilva @adeanzan I have added this feature on branch [expose-response-body](https://github.com/go-resty/resty/tree/expose-response-body) of commit 0ff3d089f6ba7aa6e9a0760c46c85a02cbc4bccc

[code]
To get the body `io.ReadCloser` call `response.RawBody()`

Please refer to methods godoc. I look forward to feedback and improvements.

[2017-08-17 01:23] jeevatkm commented on #87
@perdasilva @adeanzan Did you get a chance to try it out? Awaiting your feedback then I will merge it master.

[2017-08-17 02:44] adeanzan commented on #87
@jeevatkm Just gave it a try and it worked great! I appreciate the quick implementation.

[2017-08-17 03:54] jeevatkm commented on #87
@adeanzan Thanks for the feedback.

[2017-08-17 04:20] #87 closed

[2017-08-17 06:20] olihey opened #89 "Use with oauth2"
I started playing around with resty and liking it so far.
I am talking to a REST API that uses oauth2 and up until now using net/http and golang/oauth2 worked but resty is much nicer.

My problem is refreshing the accessToken for oauth when it's expired. By using the oauth2.Client it's very simple but unfortunately setting the http.Client is not possible in resty.

So, 2 questions:
-  Is there a w

[2017-08-17 17:17] jeevatkm commented on #89
Currently no easy way to do it. @bak1an has finished the implementation of `http.RoundTripper` interface as a transport. It seems he is busy. I will take it to that closure.

Once #74 get merged into main track you can integrate oauth very seamlessly.

[2017-08-17 17:46] jeevatkm commented on #89
I'm working on it. Let you know once done. Thanks.

[2017-08-17 19:41] jeevatkm commented on #89
`http.RoundTripper` implementation is on this branch https://github.com/go-resty/resty/tree/bak1an-roundtripper

Please give it try and share your feedback then I will merge it to master.

For example:
[code]

[2017-08-17 19:41] jeevatkm commented on #89
Solved by #91

[2017-08-17 19:44] jeevatkm commented on #65
Implementation is in #91, closing it.

[2017-08-17 19:44] #65 closed

[2017-08-18 05:25] olihey commented on #89
Tested and it works beautifully. Thanks and awesome job, really loving resty!!!!

[2017-08-18 05:25] #89 closed

[2017-08-18 18:48] jeevatkm commented on #89
I'm very glad, thank you for your appreciation.

For this enhancement I gave only final touch. Credit goes to @bak1an for the PR.

[2017-08-28 22:45] ccp-ccollins opened #92 "Feature request: the ability to indicate content-type when the server does not provide it"
Sometimes I am forced to get data from a server that has a consistent API (for example, it always returns JSON) but does not set the Content-Type header.  In these cases, it appears that resty does not automatically parse the response automatically with SetResponse().

In cases where I know for sure what data should be expected, I'd like to be able to indicate that, rather than reading the body an

[2017-08-29 04:51] jeevatkm commented on #92
It seems nice addition to resty. Thank you, let me think of `Content-Type` fallback option for response and get back to you.

[2017-08-30 12:41] perdasilva commented on #87
Shit dude, I'm so sorry - I totally missed your tag on the previous message. Thank you for implementing the change!!!

[2017-08-30 15:42] jeevatkm commented on #87
That's okay @perdasilva. Give it try and let me know, its currently on master; not yet released.

[2017-09-03 21:07] jeevatkm commented on #92
@ccp-ccollins I have added this feature. Available on branch `expect-content-type` f6639301f648551def9461e791a8b789e60fb9ee

Please give it try and share your feedback, then I will merge it to master. You can expect this feature in `v1.0` release.

[2017-09-05 17:30] jeevatkm commented on #92
@ccp-ccollins whenever you get a chance, try and share your feedback. Thanks.

[2017-09-08 02:50] jeevatkm commented on #92
@ccp-ccollins Did you get a chance try it out?

[2017-09-12 07:50] sudo-suhas opened #94 "Next planned release?"
Hey @jeevatkm, I was looking through [changes not yet released](https://github.com/go-resty/resty/compare/v0.13...master) and I am interested in 6d8c785(adding support for registering external JSON library). Could you please let me know when you are planning to make a release with this feature? Also, do you think it is possible to handle this using build tags? That's how [gin does it](https://gith

[2017-09-12 19:18] jeevatkm commented on #94
I'm planning to make `v1.0` release by this weekend.

For registering external JSON library, refer to https://github.com/go-resty/resty/issues/76#issuecomment-314015250

[2017-09-13 02:54] sudo-suhas commented on #94
Great! Thanks again @jeevatkm.

[2017-09-13 17:52] jeevatkm commented on #94
Thank you @sudo-suhas.

[2017-09-13 17:52] #94 closed

[2017-09-13 21:15] #92 closed

[2017-09-14 03:29] thuongtin opened #96 "Cookie Jar error"
<img width="600" alt="screen shot 2017-09-14 at 10 28 47 am" src="https://user-images.githubusercontent.com/3460591/30410844-9750e4f6-9937-11e7-8686-e3ad4bbc77fd.png">

[2017-09-14 17:43] jeevatkm commented on #96
@thuongtin What I see from screenshot? Resty is in Debug mode and its logging request & response details.

I don't see a relation of Cookie Jar here, Could you please describe the problem with more detail?
Screenshot is not helpful that much.

At least to begin with; such as:
* How you're using Resty?
* What is the nature of your server application?
* What are all the settings you're using in rest

[2017-09-17 11:55] Roma7-7-7 opened #97 "Content-Type overrides in middleware.parseRequestBody method"
I'm going to manually set Content-Type header via resty.Request.SetHeader method but default.DefaultClient uses middleware.parseRequestBody before each request and Content-Type is overriding there.
I believe it would be better to keep original Content-Type.

[2017-09-17 20:49] jeevatkm commented on #97
@Roma7-7-7 Resty behavior: `Content-Type` automatically set for Form (url-encoded and multipart involves content-type with boundary values). For other scenarios it will set only when user is not provided the content-type.

I had a look on your PR, it seems not a best spot to that. Can you please describe your usage? so that we can do it at appropriate spot.

[2017-09-18 11:53] Roma7-7-7 commented on #97
Hi @jeevatkm , I have very simple case when I need to execute GET request with Content-Type=application/json but when I do it resty lib removes this header and as result I'm receiving 415 Unsupported Media Type response.
Attached is simple script that illustrate it. You could use this script to trace incoming http requests https://github.com/Roma7-7-7/commons/blob/master/http_trace.py
I would expe

[2017-09-18 18:11] jeevatkm commented on #97
@Roma7-7-7 Thanks for the details. So on GET request, resty removes the Content-Type header. Let me analyze it and get back.

FYI, typically `Content-Type` header is used when request contains body; otherwise `Accept` header should be used.

[2017-09-19 10:43] Roma7-7-7 commented on #97
@jeevatkm , agree, but unfortunately there are a lot of legacy code that we cannot modify and for some reasons it expects this header for all types of request.

[2017-09-19 16:48] jeevatkm commented on #97
@Roma7-7-7 Okay, I understand. I will be closing your PR.  Not to worry, I will analyze and address this issue. Thank you.

[2017-09-19 18:31] jeevatkm commented on #97
@Roma7-7-7 I have removed the check. Try it out from master. It should work now.

This is will be released in v1.0

[2017-09-21 09:23] Roma7-7-7 commented on #97
@jeevatkm Thank you, for looking at this

[2017-09-24 06:29] jeevatkm commented on #97
You're welcome @Roma7-7-7

[2017-09-24 06:30] #97 closed

[2017-09-24 06:31] jeevatkm commented on #96
@thuongtin Due to no response, I'm closing this one, if you have an input, feel free reopen or create a new issue.

[2017-09-24 06:31] #96 closed

[2017-09-27 06:47] arekkas commented on #89
This does not work because `SetTransport` expects `*http.Transport` but `oauth2.Config.Client().Transport` implements `*oauth2.Transport` which in turn is incompatible with `*http.Transport`. Why isn't it possible to set the `http.Client` in resty? Wouldn't that resolve many issues around e.g. retry and also be the idiomatic Go way?

[2017-09-27 06:57] jeevatkm commented on #89
@arekkas please use v1 or master (edge) for this feature. It is recently added. Thank you.

Can you please explain? What is the issue you're facing with retry? http.Client does not provide retry option; resty provides backoff mechanism and conditional option too.

[2017-09-27 06:58] arekkas commented on #89
That was a quick response, awesome! :) I see, then I'll upgrade to v1. I think using `http.RoundTripper` is already all I need, thank you!

[2017-09-27 07:06] jeevatkm commented on #89
@arekkas you're welcome.

[2017-10-17 23:06] avarabyeu opened #100 "Add possibility to pass custom http.Client"
Here is use case. I need to configure oauth2 authentication. I'ld like go's `"golang.org/x/oauth2/clientcredentials"` to do all the job:

[code]

I think add smth like
[code]
would be very useful.

[2017-10-17 23:13] jeevatkm commented on #100
@avarabyeu is `http.RoundTripper` not satisfying oauth2? Reference #89

Please let me know.

[2017-10-19 14:26] avarabyeu commented on #100
@jeevatkm it should, thank you for the comment. But anyway whether it would be useful to pass custom client with some specific network configs (like connection timeouts,etc)

[2017-10-19 17:47] jeevatkm commented on #100
@avarabyeu thank you, I'm planning to add option of setting custom client.

I was trying to clarify, without this option is it preventing you from using resty. Based on that I can prioritize this enhancement.

[2017-10-20 05:03] jeevatkm commented on #100
@avarabyeu added `NewWithClient` method, commit 6d988279fbd02f7e528a54f94401eba048c5be87

[2017-10-20 08:21] avarabyeu commented on #100
@jeevatkm cool! thanks!

[2017-10-20 17:32] jeevatkm commented on #100
@avarabyeu you're welcome.

[2017-10-20 17:43] #100 closed

[2017-10-23 03:56] ramtg opened #103 "Option to set Path Params"
It'd would be helpful to have an option to specify placeholders for path parameter names  and a way to specify values for them through a map much like SetQueryParams.

[2017-10-23 18:51] jeevatkm commented on #103
@ramtg Did you mean this one?

URL:
[code]
Then user provides key-value pair via something like:
[code]

Then URL becomes:
[code]

[2017-10-23 18:55] ramtg commented on #103
@jeevatkm . Correct.  It'd be nice if multiple path params could be supported anywhere in the URL.
(something along the lines of  http://square.github.io/retrofit/ )

[2017-10-23 18:59] jeevatkm commented on #103
@ramtg I got the understanding of this feature. Will work on it. Thanks.

[2017-10-23 19:01] ramtg commented on #103
@jeevatkm  Thank you!

[2017-11-17 11:39] roscopecoltran opened #104 "[Feature] front-end for demo"
Hey guys,

Hope you are all well !

Would be awesome to plug resty with a front-end framework like [aio_admin](https://github.com/aio-libs/aiohttp_admin) for python but for golang.

- React: https://github.com/marmelab/admin-on-rest
   - Custom client: https://marmelab.com/admin-on-rest/RestClients.html#writing-your-own-rest-client
- AngularJS: https://github.com/marmelab/ng-admin

The only soluti

[2017-11-22 08:31] sravanpatro opened #105 "Automatic unmarshalling is not working correctly"
Hi,

I'm trying to decode the Json response of Get(url) and extract the specific field say id.
But only bool type getting populated correctly. Rest of fields are not set.
Response status is 200 OK
Am i missing something?

Code Snippet:
[code]

Output:
Get Response: {id: modified:false username: updated:0 started:0 description:}
Response Status: 200 OK
Response Body: {"session":[{"id":"ED595C92EC75

[2017-11-22 20:18] jeevatkm commented on #105
@sravanpatro It seems non of the fields is populated due to your incorrect `struct` definition.

In Go Fields have to be Exported for JSON marshaling and unmarshalling, like below:

[code]

More Info: https://golang.org/pkg/encoding/json/

[2017-11-22 20:24] jeevatkm commented on #104
@roscopecoltran `resty` library can be used with any Go projects.

It seems you're looking for HTTP/REST client library for JS (front-end based applications)? If yes then please use any JS library OR give it try on Go to JS conversion using `gopherjs` compiler and share your experience with community.

[2017-11-22 21:44] sravanpatro commented on #105
I tried the structure given by you, But still seeing the same result.

[2017-11-22 21:51] jeevatkm commented on #105
@sravanpatro I have pointed you to the right direction (i.e. Exported fields, still your struct has data type problems). You have to create a structure based on your JSON data. Above given links has examples for JSON marshaling and unmarshaling.

Please read more about JSON and create go `struct` based on your JSON data.
[code]

This issue is not a resty related. It is typical JSON issue/work you

[2017-11-28 07:39] dwdcth opened #106 "redirect with method"
I recently ran into a problem when redirect with restful method.
So,I just add a line in "checkHostAndAddHeaders" function.
I think it will be useful for others.
[code]

[2017-12-04 08:48] jeevatkm commented on #106
@dwdcth Could you please describe the purpose of adding method info on redirect?

[2017-12-04 08:50] jeevatkm commented on #105
@sravanpatro I hope you have learned JSON handing in Go. Thank you.

[2017-12-04 08:50] #105 closed

[2017-12-13 14:39] nicolasStevenin opened #108 "RESTY 2017/12/13 15:35:02 ERROR"
Hello,

When I try to test your project in version 1.0 it fails with

[code]
Thank you for your help

[2017-12-14 18:07] jeevatkm commented on #108
@nicolasStevenin Typically `TestSRV*` would fail if you run it locally. Google server disallowed localhost queries beginning of last year. It needs to be on public IP or whitelisted from google.

This is latest Travis CI Build ref https://travis-ci.org/go-resty/resty/builds/311195550 since travis is on public IP, it passed.

[2017-12-18 10:48] gh0st42 opened #109 "set content type for multipart form"
The `SetFile()` and `SetFileReader()` functions always set the content-type to `application/octet-stream` but I need to set it to `text/plain`. There is no obvious way to set individual content types for multiple parts attached to a request. `SetHeader()` with content-type affects the main request.
For the web-service I try to use I need a request that looks like the following:

[code]

The follow

[2017-12-18 13:28] djui opened #110 "Clarification on SetResult and Result API"
It is not clear to me why one would use `Request.SetResult()` and `Response.Result()` or `Request.SetError()` and `Response.Error()` instead of a simple and idiomatic:

[code]

[code]

Could you either elaborate on that either here in the issue or in the README?

[2017-12-20 23:26] jeevatkm commented on #109
@gh0st42 resty uses package [mime/multipart](https://golang.org/pkg/mime/multipart/) to populate the request info and body. Resty doesn't explicitly set content type. Actually package `mime/multipart` sets the content type of the file internally.

[2017-12-20 23:37] jeevatkm commented on #110
@djui I understand what you mean. Actually resty `SetResult` and `SetError` takes an input and processes the type of object, not a object reference. That's why `Result` and `Error` methods retrieve the actual unmarshalled object. This is how initially designed/implemented.

[2017-12-21 07:45] #110 closed

[2017-12-21 10:05] gh0st42 commented on #109
Okay, adding a previously create multipart on the fly is not supported by resty so I either have to build the complete request myself OR patch resty. I opted for the latter and made a pull request implementing your solution in resty. So far I only did this for the SetFileReader function but this could easily be done for the others as well.
I hope my solution is clean enough and suits your API desi

[2017-12-21 16:24] svenax opened #112 "Is it OK to share connections between Goroutines?"
I am trying to use a global connection to make multiple REST API calls to the same server from a number of spawned Goroutines. I attached a rate limiter to `OnBeforeRequest` to avoid flooding the server. Everything seems to work fine if I set the allowed rate fairly low, but if I crank it up the calls start to fail. This can very likely be a problem with the called API endpoint, so I just wanted t

[2017-12-21 20:46] jeevatkm commented on #108
@nicolasStevenin I'm closing this. if you have any questions please reach out. Thanks.

[2017-12-21 20:46] #108 closed

[2017-12-21 20:49] jeevatkm commented on #112
Yes, resty is safe to use with goroutines. It is recommend to keep resty client per server.

[2018-01-05 18:16] oadk commented on #109
Hi, thanks for making Resty!

I just wanted to add that this feature would be extremely useful for me too. I will patch my source using gh0st42's PR for now (thanks gh0st42!), but do you know when you expect to have a fix implemented as part of the mainline?

Thanks

[2018-01-05 18:21] jeevatkm commented on #109
@oadk I'm glad to hear that. For now please use @gh0st42 patch.

I would be adding generic solution as earliest as possible for `SetFile()` and `SetFileReader()` inspired by @gh0st42 idea so additional method may not required. It would benefit everyone. Thanks again.

[2018-01-05 22:17] oadk commented on #109
Ok, I will do that for now. Looking forward to the generic solution too.

Thanks for your help.

[2018-01-12 16:21] RenathoAzevedo opened #113 "Is it possible to add resty.SetDebugBodyLimit on production V1.0 ?"
I would like to have resty.SetDebugBodyLimit on production version of resty, is it possible?
If not, will we have a new production release soon ?

and if it possible I would like to set my prefix to resty.Client.Log in Debug Mode, but it gets overwrited by
c.enableLogPrefix(). could it be avaible ?

[2018-01-12 21:05] jeevatkm commented on #112
I'm closing it

[2018-01-12 21:05] #112 closed

[2018-01-12 21:07] jeevatkm commented on #113
@RenathoAzevedo I'm planning to add #103 and #109 then make a release next week.

I will include your Log prefix enhancement too.

[2018-01-12 21:19] RenathoAzevedo commented on #113
Great, Thank you!

[2018-01-18 02:34] dwdcth commented on #106
@jeevatkm Because some api have redirect

[2018-01-18 22:30] nathantchan opened #114 "TestSRV Depends on External Server"
Is it prudent to have a test that depends on an external service like xmpp-server.google.com being online and available?

[2018-01-21 21:20] jeevatkm commented on #113
`func (c *Client) SetLogPrefix(prefix string) *Client` method added.

It's done, will be released in `v1.1`

[2018-01-21 21:20] #113 closed

[2018-01-21 21:21] jeevatkm commented on #104
Closing it, thanks.

[2018-01-21 21:21] #104 closed

[2018-01-23 00:13] jeevatkm commented on #103
@ramtg Path params feature have been implemented at  branch
`path-params` - 110f66a2f7595f1e263b65d0cf8e4b30dd2987bb  and PR #117

Please give it a try and let me know, thanks.

[2018-01-23 01:13] jeevatkm commented on #109
@gh0st42 I have added implementation of autodetect multipart content type at branch `multipart-content-type` - 513d3b071ad42983368d7d5ff102ab691e99c371

Can you please try it out and share your feedback? then I will create a PR.

[2018-01-23 01:28] jeevatkm commented on #109
@oadk can you please try it out and share your feedback?

[2018-01-23 10:05] oadk commented on #109
Hi, thanks for making the change!

I have tried it out and unfortunately there is a problem. It appears that in some circumstances, too much data is being written for the file data. I have looked through the code, and I think the problem is in writeMultipartFormFile() on this line:

`_, err = partWriter.Write(cbuf)`

The problem is that when we get to the end of the file, cbuf will not be complete

[2018-01-23 19:54] jeevatkm commented on #109
@oadk Thank you for your feedback and testing. Its very helpful.

[2018-01-24 00:31] jeevatkm commented on #109
@oadk I have created PR with changes #118, please have a look and let me know.

[2018-01-24 12:00] oadk commented on #109
Hi @jeevatkm, I have tried this version and it works great! Thank you :)

[2018-01-24 19:08] jeevatkm commented on #109
@oadk Nice, thank you. Glad to hear that. I'm gonna merge the PR.

[2018-01-24 19:11] #109 closed

[2018-01-24 23:52] jeevatkm commented on #103
Merged to edge 😄

[2018-01-24 23:52] #103 closed

[2018-01-26 15:35] lucadepaoli opened #119 "Trailing slash removed"
After commit ad03978733316c, if a request is made with a trailing slash, it is removed in function `composeRequestURL ` (from util.go).
This is not expected, since there are many APIs that require trailing slashes to the endpoints.

[2018-01-26 19:44] jeevatkm commented on #119
@lucadepaoli I understand, let me address that quickly and make an release. Thank you for notifying.

[2018-01-26 20:36] jeevatkm commented on #119
@lucadepaoli I have fixed it, making release `v1.2`. Thank you.

[2018-01-26 20:37] #119 closed

[2018-02-04 14:20] olihey opened #123 "Specific to Microsoft Graph (service providers): Re-ordered URL Query Params causes trouble"
Hej,

I am working with Microsoft Graph and resty. Awesome so far but now I ran into an issue. I get download / upload URLs from the API and using them with resty always fails. The reason is that resty reorders the URLs query parameters.

For example this is the URL I get from Microsoft:
[code]

but resty finally sends the following:
[code]
I know that "technically" those two URLs express the same

[2018-02-04 20:40] jeevatkm commented on #123
@olihey sad to hear that. Thank you for sharing your experience. Technically `SetDoNotParseResponse` behavior, we cannot be compare with this.

To bring better experience; let me have a look and get back to you.

[2018-02-04 22:14] jeevatkm commented on #123
@olihey I have done my analyzes. As you know per RFC there is no order preserve requirement.

Also standard package [url.Values.Encode(...)](https://golang.org/pkg/net/url/#Values.Encode) sorts query params alphabetically.

To bring balance and better resty user experience. I have enhanced the resty to preserve query string order partially, it means "resty will preserve query string order on provi

[2018-02-05 07:05] olihey commented on #123
The fix works for me. Thanks a lot 👍
But I am a bit torn about this. I also read a bit into this and for me the issue actually lies in the Microsoft Graph API and not resty. I opened an issue at Microsoft and looking forward to what they say ( https://github.com/OneDrive/onedrive-api-docs/issues/792 )

If you don't see any issue in merging the changes you made, then please go for it.

[2018-02-05 18:28] jeevatkm commented on #123
@olihey Thanks I'm glad to merge this enhancement. It is fully compatible with RFC and previous resty versions too.

[2018-02-05 18:28] olihey commented on #123
Great, thanks again for the quick help!

[2018-02-06 00:36] jeevatkm commented on #123
Merged 😄

[2018-02-06 00:36] #123 closed

[2018-02-20 10:10] Asker80 opened #130 "custom content type and data for multipart request"
I'd like to raise the issue from #109 again. It was closed with content type autodetection, but there are still 2 problems with that: a) `http.DetectContentType()` does not detect every MIME type and b) `SetFile()` and `SetFileReader()` are written to deal specifically with files, and if you're trying to add some custom data with them, its rather awkward and limited. So instead of patching those f

[2018-02-24 05:58] jeevatkm commented on #130
@Asker80 PR is merged 😄

[2018-02-24 05:59] #130 closed

[2018-03-01 11:01] Eraac opened #131 "Missing query params on relative path request"
Hello,

I found a weird bug (or maybe an error by me)

I have 2 versions of resty on local
- 00cb083b8cdc8b0fb1e1f5ebe24bbc23e0ff0cf6 <- have the bug
- 9ac9c42358f7c3c69ac9f8610e8790d7c338e85d <- no bug

Code for reproduce the error

[code]

Query param foo=bar disappears with the latest version of resty, but not with commit 9ac9c42358f7c3c69ac9f8610e8790d7c338e85d

I think error come from this li

[2018-03-01 16:16] jeevatkm commented on #131
@Eraac Thanks for reporting it. I will have a look and get back to you.

[2018-03-01 16:34] jeevatkm commented on #131
@Eraac I believe found the commit which could have caused it.

* Up to this commit fc8cd4547db65ea4e402a895471cd93aeb6e0a82 - working fine
* And this commit ad03978733316c626c1ca7af03ff35326b04ac54 onwards - we have an issue

With your sample program. I will work on it and then ping you.

[2018-03-01 16:47] jeevatkm commented on #131
@Eraac Sorry missed to mention in previous comment. You're correct, issue come from this line. Thanks.

https://github.com/go-resty/resty/blob/master/middleware.go#L40

[2018-03-01 16:58] jeevatkm commented on #131
@Eraac Issue fixed, again thanks for reporting it.

After PR merge `edge` version is good to go and also I will be making a `v1.3` release and tag today

[2018-03-01 17:09] jeevatkm commented on #131
Merged 😄

[2018-03-01 17:10] #131 closed

[2018-03-02 06:42] jeevatkm commented on #114
I'm closing this one. Thanks.

[2018-03-02 06:42] #114 closed

[2018-03-05 09:01] lacravate opened #133 "Big file upload"
Hi,

i tried my luck with the other issues, sorry if this is a duplicate.

Is it possible to upload files without loading the entire content into memory ?

Cheers !

[2018-03-05 09:06] jeevatkm commented on #133
@lacravate Yes I believe. Please pick your choice, these methods accepts `io.Reader`.

* https://godoc.org/github.com/go-resty/resty#Request.SetFileReader
* https://godoc.org/github.com/go-resty/resty#Request.SetMultipartField

[2018-03-05 09:18] lacravate commented on #133
@jeevatkm

Thanks a lot for the very fast answer. I should have said i am close to an absolute beginner in go (but not at all in development).

I tried SetFileReader, with an io.Pipe() though, before asking, but didn't get the expected result.

I suppose your answer tells me i muste persevere...

Thanks again, cheers.

[2018-03-05 09:25] jeevatkm commented on #133
@lacravate You're welcome. I happened to be online. Will be heading to bed soon.

* Above references are multipart request - This is the method handles multipart https://github.com/go-resty/resty/blob/master/middleware.go#L279
* OR setting body as `io.Reader` - https://godoc.org/github.com/go-resty/resty#Request.SetBody

Please let know how it goes. I will check this thread tomorrow.

[2018-03-05 15:08] dahankzter opened #134 "Support Error marshalling using application/problem+json content type"
I just found out that Mailchimp uses this header which is unfortunate and unusual afaik but there is a spec: https://tools.ietf.org/html/rfc7807 that seems to define this.

It would be nice to be able to use the `SetError()` functionality.

[2018-03-05 16:46] lacravate commented on #133
@jeevatkm

Good morning.
Thanks for your time.

i tried this (dead simple) :

package main

import (
    "os"
    "gopkg.in/resty.v1"
)

func main() {
    f, err := os.Open("my_movie.mp4")
    if err != nil { panic(err) }
    defer f.Close()
    rest := resty.R().SetFileReader("paramName", "my_movie.mp4", f)

    resp, err := rest.Post("http://myhost:4001/my_endpoint")
    if resp.StatusCode() !=

[2018-03-05 21:52] jeevatkm commented on #133
@lacravate  Thank you, sorry to hear that. Let me check the request flow and get back to you.

[2018-03-05 21:59] jeevatkm commented on #134
@dahankzter I have read the Spec. It seems `resty` needs knowledge to understand it.

Let me add a support, once its ready I will ping you.

[2018-03-05 22:24] lacravate commented on #133
@jeevatkm

Thanks again. Most sincerely. In that kind of circumstances, i am generally the one at fault. But even that would be a plus to know : i need something to be sure of, a firm ground, to mend my code, even if that sure is thing is that i s... at Go for the moment.

Cheers !

[2018-03-06 02:11] jeevatkm commented on #133
@lacravate I had a look, there is buffer in-between before the actual request is fired.

I have questions for you-
* File upload via multipart/form-data? OR
* File upload via request body?

For a first one - Multipart data - Parts and boundary values are involved. Its bit complex for bringing  generalized solution in resty. Technically feasible, I need more time for implementation.

For a second o

[2018-03-06 02:53] lacravate commented on #133
@jeevatkm

Here's what i have been up to.

Along with trying to have a bottom-line code that's working, i wanted to make sure the problem was coming from Go/Resty/Net-http.

With my somewhat simple case, we are nevertheless at some edges of common use cases, so there was a chance the problem was coming from my server code.
So i got rid of it to put up a netcat in lsitening mode and, with resty, as

[2018-03-06 03:00] lacravate commented on #133
well, that's probably mime/multipart that would have to be patched/worked around, but you got my point...

Cheers !

[2018-03-06 03:27] jeevatkm commented on #133
@lacravate Yeah, I got your point. Typically its best to use request body for large file upload. Multipart approach is overhead for large file upload.

I will be implementing request body support (as I described in the second point), once done I will ping you then you can give it a try.

[2018-03-06 03:33] jeevatkm commented on #134
@dahankzter Just thought to clarify. I'm planning to add support for `application/problem+json` and `application/problem+xml` per RFC7807

However resty only considers `response status code > 399` as an error.

[2018-03-06 04:44] jeevatkm commented on #133
@lacravate I have implemented it on branch [large-file-support-on-body](https://github.com/go-resty/resty/tree/large-file-support-on-body). This branch contains buffer less request body writing.

I believe you're using prod version `gopkg.in/resty.v1`, follow below step to get the branch code:
[code]

Sample Code:
[code]

Please give it try and let me know.

[2018-03-06 05:01] jeevatkm commented on #134
@dahankzter I have implemented it, available on branch [add-support-for-rfc7807](https://github.com/go-resty/resty/tree/add-support-for-rfc7807)

Please give it try and let me know.

[2018-03-06 06:07] dahankzter commented on #134
I will test it as soon as possible. Having some dep problems now that go.uber.org is gone.

[2018-03-06 06:29] jeevatkm commented on #134
No problem, take your time. What happened to go.uber.org?

[2018-03-06 06:59] dahankzter commented on #134
Some DNS issue over at Cloudflare is the current bet.

[2018-03-06 09:10] lacravate commented on #133
@jeevatkm

Neat, thanks. I'm on another subject right now for the next few hiours. But i will sure test this today, and sure report it to you right after.

Cheers !

[2018-03-06 14:38] dahankzter commented on #134
The regex doesn't' seem to match `application/problem+json` afaik. I tried here https://regex101.com/ as well a little test.

Your test case seems to only assert that the Error is set which it is but not actually parsed and used but maybe I am wrong?

[2018-03-06 14:50] dahankzter commented on #134
Making the "problem+" a group seems to work `(?i:[application|text]/(problem\+)?json)`

[2018-03-06 16:47] lacravate commented on #133
@jeevatkm

Got the sample code to work. Works, but stilll the size of the file, an unacceptable 2.5 GB, RAM consumption, considering my requirements. Because of course your job cut short two third of the problem.

Is it that now it is my job to further the sample code to have it use close to no extra RAM ? Or does it mean that with Resty, memory consumption equal to the file size will be the botto

[2018-03-06 16:48] lacravate commented on #133
@jeevatkm

oh wait ! i may have been stupid in my test.. Be right back at you in a minute...

[2018-03-06 16:56] jeevatkm commented on #134
@dahankzter Thank you, I have updated the regex and test case. Now it should be good.

[2018-03-06 16:59] lacravate commented on #133
@jeevatkm

sorry for the mess in my answers, but i have to leave now, i had the time to launch a very limited test and contrary to my first attempt it looks fine, no extra memory consumption.

I'll get back at it in a few hours and let you know...

Cheers !

[2018-03-06 18:19] dahankzter commented on #134
Excellent! What is your release policy? When can this go out? I use it in a real project and we decided to avoid specific commits and go with proper tags as given by the respective dependency.

[2018-03-07 05:27] jeevatkm commented on #134
@dahankzter Typically bug fixes gets immediately released. Feature and enhancements are monthly.

[2018-03-07 16:11] lacravate commented on #133
@jeevatkm

i did not come right back at you because the results of my tests are mixed up, and i am not sure what to make out of them.

I giive you what i have, and am ready to answer for precision if need be.

Context :
- client : go Resty
- server : ruby sinatra
- backend server tested : webrick, puma, thin

- webrick : just worked, correct file size, entered application code
- thin : never worke

[2018-03-08 01:24] jeevatkm commented on #133
@lacravate Thanks for getting back.

One thing I can assure, the branch I gave you does zero buffer on sending request body.

Let's get into facts:
* The sample code sends a file on request body not a multipart request. Server implementation should handle that (as a file data on the request body since its not a multipart)
* Sample code sends only one header called `Content-Type`
* As for as `io.Re

[2018-03-08 07:22] dahankzter commented on #134
Ok great, I look forward to the next release! :)

[2018-03-08 08:44] lacravate commented on #133
@jeevatkm

i may come back with much more matter than now, but you're right : for the moment, facts.

So in facts, is there a way to manually specify the content-length ?

I tried to set the header, with no luck, i tried other stuff, to no avail. Is there a simple way, in my case, meaning a body specified otherwise than a buffer in bodyBuf, to explicitly set the content length ?

Cheers !

[2018-03-08 16:53] jeevatkm commented on #133
@lacravate Yes you can set manually. I have updated the sample code for header `Content-Length`.

[2018-03-08 21:46] jeevatkm commented on #134
Merged to master :smile:

[2018-03-08 21:47] #134 closed

[2018-03-08 23:09] lacravate commented on #133
@jeevatkm

i am pretty sure i tried that one.

Here is the header and first line(s) of data gotten with a copy/paste of sample code :

[code]

If you have any other way, to get to that result...

Thanks again, and anyway.

Cheers !

[2018-03-09 01:03] lacravate commented on #133
@jeevatkm

don't bother with my last question, i found a way. If there's any question left, if ts in middleware.go code, where you write stuff to enforce Content-Length while i think net/http overrides this entirely. This part, according to my understanding (yet to be bettered), is void code.

I'll come back later, if i get a finalized solution and tell you of it. Maybe that'll be of use to you.

[2018-03-09 04:40] jeevatkm commented on #133
@lacravate Okay, Thank you.

[2018-03-09 04:41] jeevatkm commented on #133
Closing it

[2018-03-09 04:41] #133 closed

[2018-03-26 03:28] displague opened #137 "Include an example of handling a paginated response"
The current examples show how to provide query params, such as `page_no`, but offer no suggestion on how to seamlessly access paginated endpoints.

[2018-03-26 03:32] displague opened #138 "Include an example of using X-Rate-Limit headers"
Include an example of using X-Rate-Limit headers in https://github.com/go-resty/resty#retries, along the lines of https://github.com/digitalocean/godo/blob/master/godo.go#L280-L293

[2018-03-30 05:40] jeevatkm commented on #138
@displague For your question. I think conditional retry may be applicable. It means, You decide based on some logic, whether you want to retry the request again or not.

You can add one or more retry conditions in `Resty`.

[code]

I hope it helps.

[2018-03-30 05:46] jeevatkm commented on #137
@displague This one is bit tricky. Its not a direct answer like your other question.

For eg.: this is part of the response payload returned by DigitalOcean for the paginated applicable endpoints.
[code]

In this case you can get the URL from response and make a next call.

But this varies by API service provider, each might have different way of pagination handling.

[2018-04-05 03:42] jeevatkm commented on #134
@dahankzter FYI resty `v1.4` released.

[2018-04-05 23:46] displague commented on #137
The Linode API response comes with an envelope: https://developers.linode.com/v4/pagination

[code]

Some endpoints make sense to auto-paginate in most cases (common user resources), while others (community contributions) do not.

In making an API wrapper, https://github.com/chiefy/go-linode, it makes sense to abstract pagination away so that the go-linode consumer can use standard iterable patter

[2018-04-06 00:41] jeevatkm commented on #137
@anthonyjmartinez Thank you for your inputs.

@displague I always look for an opportunities to make Resty better. Typically there is no standard approach to pagination. Since is not viable option to add at resty level.

I just look at `go-linode` lib you have mentioned about. Yes I agree. It would be very much feasible and nice addition of pagination feature to that library -

* Payload data struc

[2018-04-06 03:55] ggalihpp opened #139 "Error Handling Status > 399"
So I have read that
* If status code is between 200 and 299 considered as success, you can retrieve via response.Result()
* If status code is greater than 399 considered as failure/error, you can retrieve via response.Error()

However, I use this code:
![image](https://user-images.githubusercontent.com/28330810/38402731-7d194230-3988-11e8-91f3-1b1954b5415b.png)

I expect when status code is greate

[2018-04-06 04:02] jeevatkm commented on #139
@ggalihpp

* In your code you're missing to set an error type like you did for result. Please refer here https://godoc.org/github.com/go-resty/resty#Request.SetError
* To get status code - you just call `resp.StatusCode()` - https://godoc.org/github.com/go-resty/resty#Response.StatusCode

I hope it helps!

[2018-04-06 04:26] ggalihpp commented on #139
@jeevatkm

Thank you for the fast response, I'll try to fix my code. cheers

[2018-04-11 09:26] paradoxengine opened #140 "Include bazel-friendly BUILD file"
It would be great to be able to use resty from a bazel project, and that's much simpler if there is a BUILD file, as one can just point to the git repo and fetch resty and dependencies.

I've got a pull request ready for this, but wanted to check how amenable you were to the request before just sending it out.

[2018-04-11 22:27] jeevatkm commented on #140
@paradoxengine I saw your message last night while I going to bed. I was fleeing very sleepy.

Currently I don't have insights about Bazel build, I will read about it.

[2018-04-11 22:29] jeevatkm commented on #139
@ggalihpp Closing it, If you have issues, ping here.

[2018-04-11 22:30] #139 closed

[2018-04-11 22:31] jeevatkm commented on #137
@displague I hope you're able to progress on it.

[2018-04-11 22:32] jeevatkm commented on #138
@displague I hope you're able to progress on it.

[2018-04-12 15:15] jeevatkm commented on #140
@paradoxengine Bazel PR merged to master 😄

[2018-04-12 15:15] #140 closed

[2018-04-13 20:29] jeevatkm opened #142 "Handle user error on Gzip response"
As everyone knows, certainly Go default client handles Gzip response. However there is a catch in it.

From https://github.com/golang/go/blob/master/src/net/http/transport.go
[code]

So if user by any chance adds header `Accept-Encoding: gzip` manually via `resty` then response will have an issue.

Goal is to add grace handling support for user error.

[2018-04-19 08:31] turboezh opened #146 "`createClient` overrides http.Transport"
This line overrides Transport in custom http.Client.
https://github.com/go-resty/resty/blob/7d81d5596d405bcc25da77590cfec78f31e56293/default.go#L300
I think this line should be removed, it has no sense because transport already embedded in client.

In my case I lost proxy settings from my own http.Client.

[2018-04-19 18:36] jeevatkm commented on #146
@turboezh Nice catch, thanks. It seems I missed this part when I introduced feature of accepting client. I will correct it.

[2018-04-20 05:13] jeevatkm commented on #146
@turboezh I have corrected it on edge, to be released in `v1.5`. Thanks.

[2018-04-20 05:13] #146 closed

[2018-04-20 05:34] #142 closed

[2018-04-25 06:51] RanAbram opened #148 "Add mock example to read me"
Hey,

Lately i was struggling with mocking `resty` calls.
Would you mind if i open PR for updating the read me file to show
example of how to mock those calls?

Something like the example i added to `httpmock` library?
https://github.com/jarcoal/httpmock/pull/39

@jeevatkm

[2018-04-25 07:09] jeevatkm commented on #148
@RanAbram Feel free to send the PR for examples. Also If you see any improvements can be made to readme. Thank you.

[2018-04-26 00:05] jeevatkm commented on #148
PR is merged, Thank you @RanAbram

[2018-04-26 00:05] #148 closed

[2018-05-08 10:43] liron-navon opened #151 "How to close a connection?"
How do I close the connection like in net/http ?

[code]

[2018-05-08 18:41] jeevatkm commented on #151
@liron-navon by default `resty` take cares of it automatically except for [`SetDoNotParseResponse`](https://godoc.org/github.com/go-resty/resty#Client.SetDoNotParseResponse) scenario, its caller responsibility to close. This option is available at Client and each Request level.

[2018-05-11 19:56] bimargulies opened #152 "Unmarshaling does not seem to be working for me."
I have this object:

[code]

And I return it from a GET handler with content-type `application/json`.

I call with Resty:

[code]

and the respMsg object ends up with default values for all of the fields, not the values from the json. If I look at `Body()`, it is correct.

[2018-05-11 20:06] jeevatkm commented on #151
@liron-navon does it satisfy your need?

[2018-05-11 21:52] jeevatkm commented on #152
@bimargulies Typically auto unmarshaling works based on response status code.

### From godoc

* `SetResult` method is to register the response `Result` object for automatic unmarshalling in the RESTful mode if response status code is between 200 and 299 and content type either JSON or XML.
* `SetError` method is to register the global or client common `Error` object into go-resty. It is used for

[2018-05-12 16:30] bimargulies commented on #152
Thank you for writing this up. I am perplexed; this is essentially the same as what's going on in my code, and yet my response comes up empty. I'll have to debug in and see what I can figure out.

[2018-05-12 20:03] jeevatkm commented on #152
@bimargulies You could use `resty.SetDebug(true)` for debugging, its helpful one. Let me know I'm glad to assist.

[2018-05-12 22:54] bimargulies commented on #152
I had a stray call to WriteHeader on the server side that discarded my content type. Thanks for the help!

[2018-05-12 22:54] #152 closed

[2018-05-12 22:59] jeevatkm commented on #152
You're welcome.

[2018-05-12 23:01] bimargulies opened #153 "Very slow server results in EOF error in resty client"
I'm sure I'm missing something here again.

The handler for a PUT of mine can take two minutes. When it does, the call to `Put` fails with `EOF`.
The debug log (below) does not offer any particular clue. It's not a timeout; those are a different error return from `Put`. If the handler is not slow, the whole business works just fine.

[code]

[code]

[2018-05-12 23:10] bimargulies commented on #153
Never mind this; it was a mistake setting timeouts on the server side.

[2018-05-12 23:10] #153 closed

[2018-05-12 23:12] jeevatkm commented on #153
I was typing my comment about timeout settings. You have sorted out 😄

[2018-05-14 23:45] jeevatkm commented on #151
@liron-navon Closing it, if you have any queries open up a new one.

[2018-05-14 23:45] #151 closed

[2018-06-01 09:22] mail2fish opened #154 "How can I set a HOST for request?"
There is  a vhost server IP.  We like to access it with a host name which  like www.example.com.

Usually we can set a Host header in request, but it didn't work for golang http request.

So could you add a special method for the matter?

[2018-06-01 10:12] jeevatkm commented on #154
@mail2fish This is known issue in the Go http client golang/go/issues/7682 however there is a workaround.

Use [`resty.SetPreRequestHook()`](https://godoc.org/github.com/go-resty/resty#SetPreRequestHook) to set Host value.

For example:

[code]

Can you try and please let me know?

[2018-06-02 03:49] jeevatkm commented on #154
Or via classic approach is using `hosts` file mapping of target-ip with host address. Then make with requests with mapped address.

[2018-06-04 01:07] mail2fish commented on #154
@jeevatkm thanks for your answer.  That's worked. But I  think that is convenient for developers if there is a shortcut for this matter.  In my situation, I developed in the localhost, and don't want to change my hosts file because I have to access that host by a browser.

Thanks again, That hook have solved my problem.

[2018-06-04 01:07] #154 closed

[2018-06-04 04:02] jeevatkm opened #155 "Add built-in support for `Host` value override in the request"
By default Go HTTP client has an known issue of "[Unable to override request Host value](https://github.com/golang/go/issues/7682)" without workaround.

Add built-in support for `Host` override, so that resty users doesn't need a Hook #154.

[2018-06-04 04:03] jeevatkm commented on #154
@mail2fish thanks for confirming, I have created an issue to add built-in support for `Host` value. Coming in next release.

[2018-06-05 23:22] #155 closed

[2018-06-05 23:32] jeevatkm commented on #154
@sorribas just did a PR for #155, its coming in `v1.7` release 😄

[2018-06-07 06:02] intel352 opened #157 "REST error handling?"
Is there any built-in logic for reacting to REST responses other than 2xx series?

[2018-06-07 07:34] jeevatkm commented on #157
Yes, of-course.
*  Success scenario [Request.SetResult()](https://godoc.org/github.com/go-resty/resty#Request.SetResult) and [Response.Result()](https://godoc.org/github.com/go-resty/resty#Response.Result).
* Error scenario [Request.SetError()](https://godoc.org/github.com/go-resty/resty#Request.SetError) and [Response.Error()](https://godoc.org/github.com/go-resty/resty#Response.Error).
* Support

[2018-06-07 16:05] intel352 commented on #157
Thanks @jeevatkm, I missed that in my first perusal of the docs, cheers.

[2018-06-07 16:05] #157 closed

[2018-06-18 07:26] puzanov opened #159 "custom http.Client"
Hello.

Thanks for this great lib. We are using it de-facto almost in every project =)

Is there any way to set the custom http.Client to Resty? In some cases we are getting predefined http.Client instance (for example from google oauth2 package) and we want to use this instance with Resty.

[2018-06-18 07:32] jeevatkm commented on #159
I'm very glad to hear, resty is helpful for your projects.

Yes, of-course.
Doc: https://godoc.org/github.com/go-resty/resty#NewWithClient

[2018-06-18 12:17] puzanov commented on #159
Thanks for the clarification. I've tied the NewWithClient func but in my case it's not working, or I am using it wrong. Can you help?

Well, this is my http.Client initialization:
[code]

And this works fine, I can see a valid json response from Google. In this example I prerape http.Client with my creds for Google API.

When I try to use "client" with resty I see 404, this is a usual case when yo

[2018-06-18 16:20] jeevatkm commented on #159
@puzanov Thanks for the details. I will check and get back to you.

[2018-06-19 00:55] jeevatkm commented on #159
@puzanov I have created oauth2 client for facebook to access my user data. At present I don't have any credentials for Google API. However technically its same 😄

**Program**

[code]

**Output**

[code]

**Resty Debug Log**

[code]

I hope it helps.

[2018-06-19 10:28] puzanov commented on #159
@jeevatkm thanks for your response. I think I've found the problem: resty converts two slashes to one in URL before the request. In my case this urls
[code]
converts to this (output from SetDebug(true)):
[code]

As you can see https:/example.com has not valid URL format and Google treats this request as 404

[2018-06-19 16:17] jeevatkm opened #160 "Preserve URL input value in Path parameters"
This issues have been identified by @puzanov, info is here https://github.com/go-resty/resty/issues/159#issuecomment-398352234

[2018-06-19 16:19] jeevatkm commented on #159
Good finding @puzanov. The behavior you have mentioned would be happening at path parameter processing.

I have created an issue for this #160.

[2018-06-20 03:45] jeevatkm commented on #160
addressed, to be released in `v1.7` 😄

[2018-06-20 03:45] #160 closed

[2018-06-20 03:46] jeevatkm commented on #159
@puzanov I have addressed the issue. Could you try on master branch and share your feedback?

[2018-06-20 04:03] puzanov commented on #159
Tested. Works good, the bug is fixed, thank you.

Resty debug output:
[code]

[2018-06-20 04:03] #159 closed

[2018-06-20 04:13] jeevatkm commented on #159
@puzanov Glad to hear your feedback.

[2018-06-22 12:35] allealdine opened #161 "json: unsupported type: func() (io.ReadCloser, error)"
[code]
I expect to get:

[code]
But I get this error instead:

[code]
Can anyone help?

[2018-06-22 20:47] jeevatkm commented on #161
@allealdine It seems you're using it incorrectly. As for as my understanding go package `json` does not support `io.ReadCloser`. That's why you're getting `json: unsupported type: func() (io.ReadCloser, error)`.

And

* By default Go client is gzip enabled internally, so `"accept-encoding": "gzip, deflate, br",` not required
* You're not handling your server response properly

Let's say API respon

[2018-06-24 07:15] uirobot opened #162 "Can't find why unmarshalling not working"
I trying to Unmarshal result and it's not working for me, I'm sure something simple missing

[code]

This is how response looks like

[code]

nUser is empty but,

`fmt.Printf("\nResponse Body: %v", resp)`

is not empty

Sorry for beginner question but can't understand where is a problem.

thank you

[2018-06-24 09:19] jeevatkm commented on #162
Struct fields have to be exported for JSON unmarshal to work. This is visibility rule in Go.

So update your struct to -

[code]

[2018-06-24 13:06] sudo-suhas opened #163 "[Answered] Possible leak on redirection error?"
I was reading this article on Go gotchas and I think this could be relevant for `resty` - http://devs.cloudimmunity.com/gotchas-and-common-mistakes-in-go-golang/index.html#close_http_resp_body. I don't think the response body is closed on redirection error. Is this something the consumer should take care of?

[2018-06-24 21:48] jeevatkm commented on #163
@sudo-suhas Thanks for bringing your concern.

Go client does not expose response instance on redirects pipeline. It has to be caller responsibility i.e. `resty`.

Resty does closes the response body on all scenarios except DoNotParseResponse setting used -

* https://godoc.org/github.com/go-resty/resty#Client.SetDoNotParseResponse
* https://godoc.org/github.com/go-resty/resty#Request.SetDoNotPars

[2018-06-25 03:30] sudo-suhas commented on #163
I tested this and I found that the article was correct about both response and error being present:

[code]

Output:
[code]

[2018-06-25 04:01] jeevatkm commented on #163
@sudo-suhas Thanks, what I meant was response instance on `checkRedirect pipeline`; not on typical request and response.

Go client certainly closes response body on redirect fail and returns non-nil error and response.

For your reference: https://golang.org/pkg/net/http/#Client.Do

It seems that article is not 100% correct on this use case.

[2018-06-25 04:04] sudo-suhas commented on #163
Thanks for looking into it and sharing the relevant resources.

[2018-06-25 04:07] jeevatkm commented on #163
@sudo-suhas You're very welcome. Always bring any question regarding resty. Its good to discuss and vet it out.

[2018-06-25 06:56] #163 closed

[2018-06-26 06:39] Jack47 opened #164 "auto gzip will fail when Content-Encoding is gzip and content-length is zero"
there are some cases that the response's content-length is zero, in this case the below code will return err because failure of `gzip.NewReader`.
  https://github.com/go-resty/resty/blob/master/client.go#L804-L812
[code]
gzip.NewReader(body) will try to read the gzip header, so the call will fail.

I added some test cases and fixed this locally, I would like to pull a request to fix this if needed

[2018-06-26 18:57] jeevatkm commented on #164
@Jack47 Thank you for PR and addressing edge use case.

[2018-06-26 18:57] #164 closed

[2018-06-26 18:58] jeevatkm commented on #162
I hope it helped, closing it.

[2018-06-26 18:58] #162 closed

[2018-06-26 18:58] jeevatkm commented on #161
I hope it helps, closing it.

[2018-06-26 18:58] #161 closed

[2018-06-26 22:41] jeevatkm opened #166 "Collecting Inputs for Resty v2.0 and Plan the release"
The goal of this thread to collect feedback's from `resty` users and `plan v2.0.0` release. Action items get recorded here #167.

- Things could be improved
- Things could be added (generalized one's not specific use case)
- Things could be removed

Share your resty experiences for upcoming `v2.0.0`

[2018-06-27 14:30] moorereason commented on #166
I've used Resty for two small CLI projects that interact with 3rd party REST services.  Resty has done everything I wanted it to do and saved me a lot of time.  The Resty 1.6 API is adequate for me, but my needs are rather typical so far.

The only hurdles I had to overcome were trying to understand how to use Resty's features. Showing a typical usage example with error handling would have helped

[2018-06-27 18:22] jeevatkm commented on #166
Thank you for your inputs @moorereason.

Action Item for v2.0 release:

* Improve documentation and examples

[2018-07-05 15:33] h7kanna commented on #166
How about having DefaultClient a DefaultTransport with sane defaults for Timeouts?
For example https://github.com/hashicorp/go-cleanhttp/blob/master/cleanhttp.go#L24

[2018-07-05 18:41] jeevatkm opened #167 "Resty v2.0.0 Action Item list"
This thread is to keep track of action item comes out from #166 then respective issue would be created once its finalized for `v2.0.0`

Action Items:

- Improve documentation and examples
- Sane default timeouts for client and transport https://github.com/go-resty/resty/issues/166#issuecomment-402763015
- Add method into struct `Request` to accept type `url.Values` for Query strings  https://githu

[2018-07-05 18:42] jeevatkm commented on #166
@h7kanna Thank you for your input, I have noted down here #167.

[2018-07-16 13:09] zjjhzx commented on #166
Any plans on supporting "net/http2" ?

[2018-07-16 16:13] jeevatkm commented on #166
@zjjhzx  resty already supports `http2`. Do you face any issues accessing http2 enabled service or website?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-07-17 03:23] sudo-suhas commented on #166
What are your thoughts on [functional options](http://tmrts.com/go-patterns/idiom/functional-options.html)?

This can be useful to propagate errors instead of logging(which could be missed) as is the case in [`func (*Request) SetQueryString`](https://github.com/go-resty/resty/blob/fccc498aed22c31ff3768bcac00795f94149a21d/request.go#L112-L124)

[2018-07-17 12:08] sudo-suhas commented on #166
Another useful feature would be integration with https://github.com/go-playground/form(I prefer this) or https://github.com/google/go-querystring to be able to pass structs for URL encoding.

[2018-07-17 16:33] jeevatkm commented on #166
@sudo-suhas Thanks for your inputs. I will have a look and get back to you.

[2018-07-17 16:35] h7kanna commented on #166
Functional Options Example:
https://github.com/go-kit/kit/blob/master/transport/http/client.go#L53

[2018-07-20 01:51] jeevatkm commented on #166
@sudo-suhas @h7kanna Thanks for your inputs. I have looked into it.

* struct to URL params - both library https://github.com/go-playground/form and https://github.com/google/go-querystring produces the `url.Values`; it would be good idea to add method in resty to accept `url.Values` to create query parameters. So that resty user could use their choice of library and supply `url.Values` into resty

[2018-07-20 02:11] sudo-suhas commented on #166
I feel error propagation is the most important and that is the reason I prefer functional options.

[2018-07-20 02:54] sudo-suhas commented on #166
This could be solved by using the following interface:
[code]

Another thing I wanted to bring up was use of `json.Marshal` as opposed to `json.NewEncoder`. See https://stackoverflow.com/questions/21197239/decoding-json-in-golang-using-json-unmarshal-vs-json-newdecoder-decode. So it might be better to use `json.NewEncoder`/`json.NewDecoder` since we are dealing with `io.Reader`(`http.Request.Body`

[2018-07-20 03:41] jeevatkm commented on #166
@sudo-suhas

* Could you please describe it further on how this interface gonna be much beneficial with query strings feature?
   - Instead of something like`Request.SetQueryStringValues(v url.Values)`.
* Currently resty supports external JSON library registration https://github.com/go-resty/resty/issues/76#issuecomment-314015250, e62101851570b1515c675672a9daa29887cedcf0
   - First let me analysis

[2018-07-20 04:01] sudo-suhas commented on #166
The `resty.Client` could have a field `URLEncoder` of type `Encoder` which would be used for a new method on `resty.Request` which encodes the value and sets the `url.Values` on the request. This doesn't really work well with the chained calls API though since it could return an error. Additionally, the user could supply his own `Encoder` implementation similar to the way JSON library registration

[2018-07-20 04:01] sudo-suhas commented on #166
And once again, thanks for all your great work. I really appreciate it.

[2018-07-20 05:48] jeevatkm commented on #166
@sudo-suhas Thank you. We had very good discussion. I will think about the design and then we can have a discussion 😄

[2018-07-20 06:04] h7kanna commented on #166
Hi, Not sure if this is feasible, It may be a big API change.
Can the middleware be based on Roundtripper?

Like
https://github.com/improbable-eng/go-httpwares/blob/master/tripperware.go
Though it is possible now also by passing a custom http client using NewWithClient(hc *http.Client).

Thanks for your work on this handy package.

[2018-07-20 06:39] jeevatkm commented on #166
@h7kanna Thank you, I will have a look on your reference.

[2018-07-24 09:43] dewitast commented on #166
[code]
Above code will cause panic. I was expecting it to undo previous SetResult or just unset the result type and I think it supposed to be. Is this intended?

[2018-07-24 14:09] jeevatkm commented on #166
@dewitast By default for every request's Result and Error is fresh and applicable to that request only. No reason to supply to `nil`. Could you describe your use case?

[2018-07-28 23:49] mxpv opened #169 "Response.IsSuccess proposal"
Hey.

I have an API which returns body in case of success or 4xx/5xx and error status text in case of error.
It would be nice to add `IsSuccess` helper, something like:
[code]

This is very similar `IsSuccessStatusCode` in https://stackoverflow.com/questions/32569860/checking-if-httpstatuscode-represents-success-or-failure

The implementation is trivial:
[code]

What do you think?
Thanks.

[2018-07-29 00:39] jeevatkm commented on #169
@mxpv I understand your recommendation.

However, I would like to clarify about resty existing capabilities.

Resty has builtin support JSON and XML response handling(automatic unmarshal) for Success and Error scenario based on status code (Like you have described in the recommendation).

Let's say, if you have response struct for Success and Error.

For example:

[code]

Does it satisfy your use

[2018-07-29 00:45] mxpv commented on #169
Not really.
I don't have an error body, backend sends error description as http status, something like:
[code]

So right now I have something like this:
[code]

[2018-07-29 00:53] jeevatkm commented on #169
Okay, I will add `IsSuccess` method into `Response`.

FYI `SetResult` and `SetError` can be used separately.

[2018-07-29 01:10] jeevatkm commented on #169
@mxpv helper methods added to master branch. Will be released in `v1.8.0`.

[2018-07-29 01:10] mxpv commented on #169
@jeevatkm thanks a lot!

[2018-07-29 01:10] #169 closed

[2018-08-05 19:13] #55 closed

[2018-08-05 19:14] #106 closed

[2018-08-07 14:40] youcandoit95 opened #170 "how to hit url without waiting response ?"
hello..

can somebody tell me , how to hit url both of GET or POST without waiting response ?

like hit n run

thanks

[2018-08-08 15:51] kmanley opened #171 "application/hal+json content type not recognized as JSON"
In trying to integrate with Urjanet API (urjanet.com) I found I couldn't take advantage of resty's automatic JSON unmarshaling because Urjanet uses response content type "application/hal+json". I will submit a pull request to add this to the jsonCheck regexp

[2018-08-08 16:50] 0x111 opened #173 "Problem while sending PATCH request"
Hi everybody!

I have a problem with sending a patch request. Below is a simple example, which if I understood correctly should work but instead it is behaving kind of weirdly.

[code]

The code as such does not even reach the Patch part, based on my investigation it fails at the SetBody part, I tried it with a simple struct, which I've wanted to set as body which did not work either. What am I mi

[2018-08-08 17:37] jeevatkm commented on #171
PR #172 merged.

[2018-08-08 17:37] #171 closed

[2018-08-08 19:09] 0x111 commented on #173
Nevermind. I am blind or something. Consider this solved.

[2018-08-08 19:09] #173 closed

[2018-08-08 19:17] jeevatkm commented on #173
@0x111 Thank you, it seems you have figured out.

[2018-08-08 19:21] jeevatkm commented on #170
@youcandoit95 I believe your question is about approach. That approach applied for any operation in Go.

Probably you may have to use goruntine to fire request.

[2018-08-14 08:32] korlowski opened #175 "Invalid User-Agent header value"
The value of the User-Agent header `go-resty v1.1 - https://github.com/go-resty/resty` does not match the specification (see [RFC 7231](https://tools.ietf.org/html/rfc7231#section-5.5.3)). A valid header should look something like `go-resty/1.1 (https://github.com/go-resty/resty)`

The impact of this is that our akka-http application logs warning logs when resty is calling it:
[code]

[2018-08-14 20:54] jeevatkm commented on #175
@korlowski I have updated the UA value format on branch `user-agent-value-format`. Could you try that branch and let me know. Then I will merge it to master and will be released in `v1.9.0`.

[2018-08-15 03:49] jryd opened #177 "Posting body as JSON escapes the content"
I am using this library to post a collection of products to an API.

Some of the names of the products have special characters (e.g '&') and these are escaped using the below request:

[code]

Example:

Product name is `Super Awesome & Fun`

When posted with the above example request, it is sent as `Super Awesome \u0026 Fun`.

Looking at this StackOverflow answer: https://stackoverflow.com/a/39079

[2018-08-15 15:59] jeevatkm commented on #175
@korlowski Thanks for the confirmation.

[2018-08-15 16:00] #175 closed

[2018-08-15 16:03] jeevatkm commented on #177
@jryd Sure, will add configuration to disable the escaping of HTML on JSON encoder/content-type.

[2018-08-19 12:17] sudo-suhas commented on #166
I recently came across the [`golang.org/x/sync/singleflight`](https://godoc.org/golang.org/x/sync/singleflight) package and I was wondering if something similar could be done with resty to avoid duplicate `GET` requests. After all, resty knows the HTTP request being made and HTTP is supposed to be stateless. So technically speaking it would be better to skip duplicate simultaneous requests and reu

[2018-08-19 19:00] jeevatkm commented on #166
Thanks @sudo-suhas, nice thoughts I will look into it. Yes, suppress and reuse feature should be provided as opt-in.

[2018-08-20 18:03] jeevatkm commented on #170
@youcandoit95 I hope you have figured out. If you have questions feel free to ask. I'm closing this one.

[2018-08-20 18:03] #170 closed

[2018-08-23 02:38] jeevatkm commented on #177
@jryd I have added an option `SetJSONEscapeHTML` to disable HTML escape. Could you please give it a try on branch `json-html-escape-opt` and let me know?  Then I will merge it master. Will be released in `v1.9.0`.

[2018-08-23 20:06] cimnine opened #178 "Go Module"
The documentation suggests that one should use resty as follows:

[code]

(https://github.com/go-resty/resty/blob/ec17de1c59a99e0743dac77aaab6435f364fdc42/README.md#usage)

But this brakes with Go modules, because `go.mod` declares the module as follows:

https://github.com/go-resty/resty/blob/ec17de1c59a99e0743dac77aaab6435f364fdc42/go.mod#L1

This causes troubles when I try to compile code with

[2018-08-23 20:37] jeevatkm commented on #178
@cimnine I would like to clarify if understood correctly.

You mean to say using `gopkg.in/resty.v1` with Go modules breaks the build, correct?

----

By nature of resty package it will work seamlessly with `github.com/go-resty/resty` and `gopkg.in/resty.v1` in plain `go get` (on go1.11 it has to have `GO111MODULE=off`). It keeps backward compatibility with plain go get. Could you please try and l

[2018-08-23 21:10] cimnine commented on #178
Yes.

This will work with plain `go get` as well.

Yes.

But: Everybody who updates their current project to Go modules will have to adjust all import statements in the project from `gopkg.in/resty.v1` to `github.com/go-resty/resty`. This would not be necessary, if `go.mod` would declare the project as `gopkg.in/resty.v1`.

---

What you do in v2 is up to you. The Go community suggests for major v

[2018-08-23 21:16] jeevatkm commented on #178
Okay, let's update the `go.mod` to `gopkg.in/resty.v1` and documentation update 😄

[2018-08-24 17:48] cimnine commented on #178
It's hard to test, because you'd have to release a new release to gopkg.in with the new `go.mod`. It's afaik not possible to clone reference master through gopkg.in.

[2018-08-24 18:08] jeevatkm commented on #178
@cimnine Yes you're correct. Directly we cannot get master via gopkg.in. But we can workaround that.

I believe you have `gopkg.in/resty.v1` on your GOPATH. So goto `$GOPATH/src/gopkg.in/resty.v1` and do `git fetch && git checkout master && git pull`.

I'm at work, I will make a release by EOD when I get home. Thanks.

[2018-08-24 18:36] jeevatkm commented on #178
Thanks. I will make a release by EOD.

[2018-08-25 02:45] jeevatkm commented on #177
Making a release.

[2018-08-25 02:45] #177 closed

[2018-08-25 02:45] jeevatkm commented on #178
Making `v1.9.0` release.

[2018-08-25 02:45] #178 closed

[2018-08-27 17:37] david-l-riley commented on #166
Would love to see a built-in mechanism for interacting with NDJSON streams. This can already be done manually, by pulling line-by-line from the raw Response stream and feeding through a JSON decoder, but it would be handy to have it built in.

[2018-08-27 18:52] jeevatkm commented on #166
@david-l-riley Thanks for your input, I will have a look on NDJSON and get back.

[2018-08-28 11:18] CallMeFoxie opened #180 "Debug mode dumps secret Auth headers"
Hi
it seems that enabling a debug mode dumps password right into the console making it hard to share the log with developers etc. IMHO there should be some filter to filter at least the basic auth/bearer tokens/... out.

[code]

Any opinions? :)
Thanks
Ashley

[2018-08-28 14:14] jeevatkm commented on #180
@CallMeFoxie I agree, let's create an option in resty.

[2018-08-28 14:35] topillar commented on #166
Can you please support Restful server end feature?

[2018-08-28 16:02] jeevatkm commented on #166
@topillar Could you please describe in detail?

Not sure, just taking a guess. Are you looking for RESTful server side framework? if yes then try out my [aah framework](https://aahframework.org)

[2018-08-28 18:44] vvarp commented on #178
When running `go mod tidy` on a project that uses resty as dependency, I am getting:

[code]

Not sure how to interpret that?

[2018-08-28 19:20] jeevatkm commented on #178
@vvarp As part this #178 issue, go.mod is updated to `gopkg.in/resty.v1` so that existing resty users could migrate to Go modules without updating their import path to `github.com/go-resty/resty`. Please see the thread conversation and use `gopkg.in/resty.v1`.

On upcoming `v2.0.0` release I will default and enforce import path to Go modules v2 path.  I'm planning to remove distribution via gopkg.

[2018-08-28 23:03] vvarp commented on #178
Sorry, I forgot to mention that my go.mod is using `gopkg.in/resty.v1 v1.9.0`, however I still get the above when running `go mod tidy`

[2018-08-28 23:29] jeevatkm commented on #178
@vvarp Is Go module build failing too? Also which import path are you using in your project (`gopkg.in/resty.v1` or `github.com/go-resty/resty`)?

@cimnine Could you please share your inputs from your testing?

[2018-08-29 00:41] jryd commented on #177
@jeevatkm sorry for the late reply. Have tried using this in the v1.9.0 release and it looks like it is working well!

[2018-08-29 00:48] jeevatkm commented on #177
@jryd No worries, Thanks for the confirmation.

[2018-08-29 10:15] zuf commented on #178
I also have this issue.

in go.mod:
[code]

import in go code:
[code]

go version go1.11 linux/amd64
`go mod tidy` says
[code]

[2018-08-29 18:46] jeevatkm commented on #178
@zuf @vvarp I will investigate it and get back to you. If any changes required I will do it.

@cimnine Can you try `go mod tidy` on your end please?

[2018-08-29 20:05] cimnine commented on #178
[code]

It's all good.

[2018-08-29 20:07] cimnine commented on #178
I don't think that's the cause, but the example test uses the wrong import path:

https://github.com/go-resty/resty/blob/master/example_test.go#L19

[2018-08-29 21:45] jeevatkm commented on #178
@cimnine Thanks for your inputs. we both kind of doubted the same.

@vvarp @zuf I'm able to replicate the issue you have mentioned with `v1.9.0`.

What I did?

* I have cleaned `github.com/go-resty/resty` and `gopkg.in/resty.v1` from my GOPTAH. To make sure I don't have copies of resty.
* Created a simple main.go with resty get request and go.mod with `require gopkg.in/resty.v1 v1.9.0`
* All go mo

[2018-08-29 21:47] jeevatkm opened #181 "Fix resty for go mod tidy and go mod why"
Issue details is here https://github.com/go-resty/resty/issues/178#issuecomment-417116684

Fix and make a release of `v1.9.1`

[2018-08-29 23:19] jeevatkm commented on #166
@david-l-riley I have read the NDJSON spec (https://github.com/ndjson/ndjson-spec), it seems each line could be different JSON structure.  Not sure how we can generalize this one. Same JSON structure on every line could generalized into resty. Please let me know.

[2018-08-30 04:29] jeevatkm commented on #181
@vvarp @zuf I have released `v1.9.1`. Could you please try out and let me know?

[2018-08-30 04:29] #181 closed

[2018-09-05 20:57] david-l-riley commented on #166
It's true, in NDJSON basically each line is a complete JSON document that could be a different item, suitable for streaming return values (rather than unmarshaling everything at once) If that's something that's difficult to marshal with the built-in JSON library, that's OK; it can be done reasonably simply just by using a line reader and deserializing each line.

[2018-09-06 16:27] dapchen opened #182 "Allow user to edit request body string before the string is dumped to the debug logs"
Sometimes a request body contains sensitive information that user would like to mask out before they share the request log with other people. Can resty make a request body string editable before the string is dumped to the debug logs?

[2018-09-06 22:36] jeevatkm commented on #166
@david-l-riley Challenge with handling NDJSON response payload is unmarshal data types for different items.

One of the approach I could think of handling NDJSON response is to have `SetResult(type1, type2, type3, so on)` and expected response structure should be in the order of `SetResult` arguments.

For example:
[code]

Does it make sense? Do you have any other approach?

[2018-09-06 22:40] jeevatkm commented on #182
@dapchen Its feasible to implement.

I think its better to make generic implementation for handling debug log before logging, so that it would satisfy #180 too.

[2018-09-11 16:28] forrestdix opened #183 "Error when attempting to use with golang 1.11"
`go get -u gopkg.in/resty.v1`
`go get gopkg.in/resty.v1: unrecognized import path "gopkg.in/resty.v1" (parse https://gopkg.in/resty.v1?go-get=1: no go-import meta tags ())`

[2018-09-11 16:57] forrestdix commented on #183
I also get an error when I attempt to use go 1.11 modules and use github.com/go-resty/resty directly.

`go: github.com/go-resty/resty@v1.9.1: parsing go.mod: unexpected module path "gopkg.in/resty.v1"`
`go: error loading module requirements`

[2018-09-11 21:03] moorereason commented on #183
Try again.

See https://github.com/niemeyer/gopkg/issues/63

[2018-09-11 21:26] forrestdix commented on #183
Seems to be working now. Thanks.

[2018-09-12 08:19] jeevatkm commented on #183
Thank you @moorereason

@forrestdix Glad to hear that its working for you.

[2018-09-12 08:19] #183 closed

[2018-09-18 23:50] jeevatkm opened #184 "Escape Path Parameter values"
The goal of this enhancement to escape the Path parameter values set via method `SetPathParams` on client and request level.

Resty Request Path:
[code]

Current:
[code]

After enhancement:
[code]

[2018-09-19 05:58] jeevatkm commented on #180
@CallMeFoxie I have added the implementation fdc2f93ba79cc7e3951f70cbe6b765afa40e7b59, give it try and please let me know. I will merge it.

[2018-09-19 05:59] jeevatkm commented on #182
@dapchen I have added the implementation fdc2f93ba79cc7e3951f70cbe6b765afa40e7b59, give it try and please let me know. I will merge it.

[2018-09-19 06:17] jeevatkm commented on #184
It's done 😄

[2018-09-19 06:35] #184 closed

[2018-09-19 15:38] dapchen commented on #182
@jeevatkm  I pulled in the  `debug-log-enhancement`. I was able to mask password in my request body. Thank you for making this enhancement!

[2018-09-19 15:47] visualphoenix opened #187 "Accept-Encoding: gzip with Content-Length: -1 and Chunked response not decoded"
There is a problem with https://github.com/go-resty/resty/issues/164

A gzipped chunked http response with a -1 content-length should be gunzipped.
Perhaps the patch meant to check if the Content-Length is 0 specifically?

https://github.com/go-resty/resty/blob/master/client.go#L814

https://golang.org/src/net/http/response_test.go#L133

Workaround for now is to set SetDoNotParseResponse(true) and

[2018-09-20 01:01] jeevatkm commented on #187
@visualphoenix Thanks for reporting an issue. I have looked at the PR too, I will accept it.

I would recommend you to NOT to add header manually for gzip (refer to #142). Or do you have any specific use case?

[2018-09-20 01:03] jeevatkm commented on #182
@dapchen Thank you for your feedback.

[2018-09-20 01:10] #180 closed

[2018-09-20 01:10] #182 closed

[2018-09-20 01:11] #187 closed

[2018-09-28 18:19] pborzenkov commented on #166
**Change**: pass error returned by `resty.Client.execute()` to retry condition callback

**Motivation**: It is possible for the underlying http.Client to have a round-tripper that does additional HTTP request(s) before issuing an actual user's HTTP request. Example of such round-trippers is golang.org/x/oauth2.Transport which might tries to fetch a token if none is cached already. This round-tripp

[2018-09-28 22:52] jeevatkm commented on #166
@pborzenkov Thanks for your inputs. I will think about the design around it.

[2018-09-30 04:49] jeevatkm commented on #178
@leonsim both of us understanding about go mod spec correct. And you're point is valid about not to use `v1` in the import path and I agree with you.

However as you might have read this thread. I'm not planning introduce breaking change in minor version (I did before and reverted in `v1.9.1`) of changing import path.  I'm plan to have breaking change in major version and moving away from `gopkg.i

[2018-09-30 07:35] leonsim commented on #178
Thank you, @jeevatkm

After I update `go.mod` to `require gopkg.in/resty.v1 v1.9.1` and then `go mod tidy` works without any error.

[2018-09-30 09:28] foxluqi opened #191 "Set Header with Accept-Encoding:gzip manually, but get uncompressed bytes from resp.body"
When I upgrade resty, I found my previous project failed when I set Accept-Encoding:gzip in header manually. The response body is uncompressed bytes unless I remove the set header statement. Anybody encounter the same problem in newest version resty?
	c.SetHeaders(map[string]string{
		//"Accept-Encoding": "gzip, deflate",
		"Accept-Language": "en-US;q=1",
		"Accept":          "*/*",
		"Connection"

[2018-09-30 12:53] zyp0209 opened #192 "how to disable log output。"
how to disable log output， like log：
    RESTY 2018/09/30 20:46:16 ERROR unsupported 'Body' type/value, Attempt 1

[2018-09-30 13:14] #191 closed

[2018-09-30 19:39] jeevatkm commented on #191
@foxluqi May I know what was the issue and how did you resolve it?

[2018-10-08 14:21] david-l-riley commented on #166
So, coming back to the NDJSON: I've been doing some playing around with NDJSON using the current Resty version. It generally works reasonably well if you attach a `json.Decoder` to the `RawBody` from the `Response`, which requires disabling the response parsing, but that loses some useful functionality of the client (most notably for me, the debug logging on the response). I think the most useful

[2018-10-08 15:08] dmitris opened #193 "update references to point to gopkg.in/resty.v1"
Could you please modify the Godoc link in README (Godoc banner) to point to https://godoc.org/gopkg.in/resty.v1 instead of https://godoc.org/github.com/go-resty/resty?  Also if there are other similar (legacy) references, please replace them as well to be with the module value in `go.mod`.  It could be also useful to highlight in README.md that the canonical value to import the package is now `gop

[2018-10-08 18:18] jeevatkm commented on #193
@dmitris This morning I saw the conversation on gopher slack. I believe this is related to that.

I will surely update the godoc and readme. Do you have an any other issues with go mod and resty besides godoc and readme?

FYI, in upcoming `resty v2` release, resty will not use `gopkg.in` .

[2018-10-08 18:39] dmitris commented on #193
No - thanks for your prompt response! 😄

[2018-10-12 03:30] chinglinwen opened #194 "resty hangup?"
resty hangup? I see my start function stopped, no any output

full src is at here: https://github.com/chinglinwen/svc-d

version: gopkg.in/resty.v1 v1.9.1

[code]

full stack here: https://pastebin.com/Lkdpwj6d

[2018-10-12 03:34] chinglinwen commented on #194
last log:

[code]

[2018-10-12 04:31] jeevatkm commented on #194
@chinglinwen Use resty debug log to analyze the issue. `resty.SetDebug(true)`.

[2018-10-12 05:09] chinglinwen commented on #194
It can't  set debug, since it's already running, it just happen sometimes, I have no idea how to reproduce it. @jeevatkm

[2018-10-12 06:14] chinglinwen commented on #194
I have try simulate network error, it can handle as expect though

[code]

[2018-10-15 03:46] chinglinwen commented on #194
Hi, the normal request debug info similar to the following.

[code]

I have changed the code from direct use of R to create a my own client, it seems not happening again, don't know whether the problem gone or not.

For three days, no hang up been found.

[2018-10-15 22:03] jeevatkm commented on #194
@chinglinwen Thanks for sharing updates. FYI `R()` func returns new request object that uses global default resty client.

[2018-10-18 05:54] jeevatkm commented on #193
References updated 👍

[2018-10-18 05:55] #193 closed

[2018-10-20 17:07] chinglinwen commented on #194
I don't see it happen again, no idea (may fixed by code change).

On Sat, Oct 20, 2018, 2:28 AM Jeevanandam M. <notifications@github.com>
wrote:

[2018-10-22 14:45] jeevatkm commented on #194
Okay, Thanks for the updates. I'm closing this one.

[2018-10-22 14:45] #194 closed

[2018-10-25 14:00] bradclawsie opened #195 "Should never try to unmarshal body on http 204"
Spec states that body of http 204 is to be empty and ignored if not. Automatic unmarshal in resty should make an exception for 204.

[2018-10-26 23:14] jeevatkm commented on #195
@bradclawsie Could you please describe the use case and why exception is needed for 204 status?

[2018-10-28 04:59] jeevatkm commented on #195
Done 😄

[2018-10-28 04:59] #195 closed

[2018-10-28 06:08] michelson opened #196 "no way to send Form Data other than string ?"
Hi , is possible to send golang url.UrlValues to post ? I've seen that the methods to set parameters on posts (url-encoded) only accepts string .

[2018-10-28 06:55] jeevatkm commented on #196
@michelson you could use this method `R().SetMultiValueFormData(param)`.

[2018-10-30 21:47] jeevatkm commented on #196
@michelson Any updates?

[2018-10-30 23:56] michelson commented on #196
Thanks @jeevatkm ! all good

[2018-10-30 23:56] #196 closed

[2018-11-05 14:02] neganovalexey commented on #166
There are some APIs (i. e. https://developers.google.com/drive/api/v3), that return binary content on success and JSON on error. On the one hand, it is not appropriate to read file content into buffer; on the other, error response should be parsed in order to manage retries. Resty client has SetDoNotParseResponse() method, which allows to copy download content from HTTP response directly, but it i

[2018-11-05 14:21] neganovalexey commented on #166
I have noticed that Resty unfortunately has poor support for retries of file uploads. It is possible to pass io.Reader to Request.SetBody(), but if it is a file, it will close after the first unsuccessful attempt. My suggestion is following:
1. Add default OnBeforeRequest middleware to check if the request body implements io.Seeker and seek to io.SeekStart if yes;
2. If the response body is io.Rea

[2018-11-06 22:32] jeevatkm commented on #166
@neganovalexey I think suggested method should work in conjunction with method `SetDoNotParseResponse()`. I will think about the design, since these are targeted for v2, I can change the method behavior.

@neganovalexey I remember resty read and closes the file for multi-part content-type, however I do not remember it closes the `io.Reader` . Because for io.Reader [resty gives control to underling

[2018-11-07 09:07] neganovalexey commented on #166
@jeevatkm thank you for your response!

Golang standard HTTP client closes request body if it implements io.Closer. So if an opened file is passed to Resty's Request.SetBody(), and retries are configured, they will fail.

It is obviously inefficient to reopen file on each attempt.

Moreover, if even io.ReadSeeker does not implement io.Closer (i. e. bytes.Reader), retries will still incorrect, beca

[2018-11-09 12:53] JDeflander opened #197 "Incorrect debug log for request body of type slice"
Given the following program:

[code]

I would expect the following output:

[code]

But instead I got:

[code]

Clearly, the body has been posted correctly, but the debug log ignores it completely.

[2018-11-09 14:30] jeevatkm commented on #197
@JDeflander Thanks for reporting it. I have did few improvements in the latest release. Could you please try latest `v1.10.1` and let me know whether you still reproduce this debug log issue?

[2018-11-09 17:22] JDeflander commented on #197
Issue is still present in the latest version. I think the problem is that slices are not marked as valid for JSON marshalling.

[2018-11-09 17:40] jeevatkm commented on #197
@JDeflander Thanks for verifying it. I have just looked at your PR. I will merge and make release of `v1.10.2`

[2018-11-09 17:40] #197 closed

[2018-11-09 17:53] jeevatkm commented on #197
`v1.10.2` released.

[2018-11-14 19:34] lockp111 opened #199 "header don't have clean"
If I have set some header  in first time,it will have value when I restry.R() it.
[code]
 `req` will send the last time `token`,when my `token` is ""

[2018-11-14 19:42] lockp111 commented on #199
[code]
I can see some duplicate address

[2018-11-14 19:53] jeevatkm commented on #199
@lockp111 `resty.R()` or `someclient.R()` always returns new instance on Request (refer to https://github.com/go-resty/resty/blob/master/client.go#L306-L320). There is no sharing of value between requests.

Could you please check at your end also use debug log of resty?

[2018-11-15 15:48] #199 closed

[2018-11-27 18:16] redyce opened #200 "Https proxy not working"
I've just tried resty with a https proxy, since its also available in Go since 1.10, but I got the following error both in client and request level:
`proxyconnect tcp: tls: oversized record received with length 20527`

[2018-11-27 19:39] jeevatkm commented on #200
@redyce Thanks for reporting an issue.  Let me know have a look and get back.

[2018-11-30 22:08] carlwgeorge opened #202 "Bug: panic: invalid argument to Intn on GOARCH=386"
I'm working on packaging this for Fedora, and I'm getting an error in the test suite when building for Fedora 28, i686 architecture.

[code]

[full build log](https://kojipkgs.fedoraproject.org//work/tasks/6346/31206346/build.log)

This is with golang 1.10.5.  Surprisingly the test passes with this version of golang on all the other architectures (x86_64, ppc64le, aarch64, s390x, and armv7hl).  Bu

[2018-11-30 23:51] jeevatkm commented on #202
@carlwgeorge Thanks for reporting an issue. Resty will work `go1.3` and above.  BTW I have not specifically tested for `GOARCH=386` on travis.

I will have a look and get back.

[2018-12-04 02:41] lanshipeng commented on #178
i have a similar problem,when i use go mod tidy or go build . it's not succeed.
![image](https://user-images.githubusercontent.com/21244175/49415283-2eb9ca00-f7b1-11e8-9280-411c175916bd.png)

[2018-12-04 02:50] jeevatkm commented on #178
@lanshipeng Could you please update the import path to `gopkg.in/resty.v1` and add entry in the go.mod as `require gopkg.in/resty.v1 v1.9.1`

Then you should be good.

[2018-12-04 06:08] jeevatkm commented on #202
@carlwgeorge Could you try master branch and please let me know?

[2018-12-04 06:36] lanshipeng commented on #178
@jeevatkm but i don't know where to update the import path ,i can't find where
transfer the "gopkg.in/resty.v1 "

[2018-12-04 06:40] jeevatkm commented on #178
@lanshipeng In your Go project search for `github.com/go-resty/resty` and replace it with `gopkg.in/resty.v1`

And if you have a file `go.mod` then open that file search for `github.com/go-resty/resty` and replace that line with `gopkg.in/resty.v1 v1.10.2`

[2018-12-04 06:57] lanshipeng commented on #178
@jeevatkm ,thank you. after i replace "github.com/go-resty/resty" with  "gopkg.in/resty.v1 v1.10.2" ,it's run ok

[2018-12-04 06:58] jeevatkm commented on #178
@lanshipeng You're welcome.

[2018-12-04 07:03] lanshipeng commented on #178
@jeevatkm but when i use go build ./... it occured like this:
`go: gopkg.in/resty.v1@v1.10.2 used for two different module paths (github.com/go-resty/resty and gopkg.in/resty.v1)
`

[2018-12-04 07:15] #202 closed

[2018-12-05 04:20] jeevatkm commented on #202
@carlwgeorge Thanks for the confirmation. I will make a release of `v1.10.3`.

[2018-12-05 07:02] jeevatkm commented on #200
@redyce I did my analysis. I have grabbed HTTPS proxy server from this site https://www.sslproxies.org/ for testing, since I don't have any personal one.

I get the same error as you get in both resty and Go default HTTP client. I have `go1.11.1` in my machine.

Then I have tried the same proxy URL with `http` scheme it worked on both. Can you try at your end and please let me know? I don't have a

[2018-12-11 05:15] jeevatkm commented on #200
@redyce Any updates?

[2018-12-16 01:04] xakep666 commented on #166
I have experience using Resty with servers that returns 200 and error in body. Now I handling it like this:
[code]
and using `handleMaybeError` as `OnAfterResponse` callback.

I know that returning error response with successive code is very bad practice but it's 3rd party service and I can't change it.

I suggest to add something like `MaybeError` interface and `handleMaybeError` middleware to Re

[2018-12-18 00:02] jeevatkm commented on #166
@xakep666 Thank you for sharing your experience in 3rd party service.

I understand your description I think it may not be a candidate for generalized approach within a Resty. I can quickly think of couple of scenario's why it won't-

**Scenario 1: Field Name**

As you have described field name as `error`. However I have seen the API return that as a field name `message` too.

**Scenario 2: Respon

[2018-12-18 07:38] pborzenkov commented on #166
@jeevatkm Unfortunately, returning a non-nil error from OnAfterResponse callback combined with configured retries results in unnecessary retries (e.g. Backoff do retries unconditionally if client.execute() returned a non-nil error). This is something we are facing too.

One way to fix it, as I previously suggested, is to pass this error into retry condition callback and let it figure out whether o

[2018-12-19 05:51] jeevatkm commented on #166
@pborzenkov Thank you for your input, I will have a look and get back to you.

[2018-12-19 10:47] VadimKulagin opened #203 "Add Content-Type application/json-rpc into Auto Unmarshaling support"
I need to work with an API that provides JSON-RPC, which returns "Content-Type: application/json-rpc".

But this API client cannot automatically unmarshal a response with such a Content-Type.
This problem is similar to #134, #171, #92.

I think there are two solutions:
* rework the regular expression `jsonCheck` again;
* or make some parameter (ForceJSONUnmarshaling bool or ForcedResponceContentTy

[2018-12-19 19:35] jeevatkm commented on #203
@VadimKulagin Thank you for reporting an issue. Its better to add support via regex update.

[2018-12-19 19:45] jeevatkm commented on #166
@pborzenkov I have cross checked it. It seems I have already added your suggestion as action items #167  for `v2.0.0`.

[2018-12-21 12:40] alexdianomi opened #204 "Not throwing error when can't unmarshal to struct specified in SetResult"
See thread title.

I would expect an error if it cannot unmarshal, no?

Merry Xmas

[2018-12-22 03:17] incubus8 commented on #166
Hi @jeevatkm, I am newbee on Resty, I have use case to track http call. How to integrate resty with zipkin / opentracing / jaeger?

[2018-12-22 05:54] jeevatkm commented on #204
@alexdianomi Resty does returns error for unmarshal failures.

Could you provide an example program to demonstrate the issue?

[2018-12-22 06:08] jeevatkm commented on #203
@VadimKulagin I have added support content-type `application/json-rpc`. You could point to master commit sha in your go.mod file and proceed.

I'm planning to release this enhancement in `v1.11.0`.

[2018-12-22 06:08] jeevatkm commented on #203
Done 😄

[2018-12-22 06:08] #203 closed

[2018-12-22 06:17] jeevatkm commented on #166
@incubus8 Resty does not have direct reference to any of the tracing libraries you have mentioned.

Since you could implement `tracing/stats` easily at your end using any of your choice of library.

Make use of Resty request and response middleware for tracing/stats. Also resty does capture the request time by default.

* https://godoc.org/gopkg.in/resty.v1#Response.Time
* https://godoc.org/gopkg.

[2018-12-23 22:57] alexdianomi commented on #204
Yes I will try to do ASAP.

I can definitely reproduce so far trying to unmarshal an array of structs but failing compared to using json.Unmarshal with the raw body.

[2018-12-24 04:56] jeevatkm commented on #204
@alexdianomi Okay, let me know. If there is any thing needs to be done in resty I will do it 😄

[2018-12-24 04:57] jeevatkm commented on #200
@redyce I'm closing this one. You could create a new issue with details. Thank you.

[2018-12-24 04:57] #200 closed

[2018-12-27 19:12] jeevatkm commented on #204
@alexdianomi Any updates?

[2018-12-28 15:33] alexdianomi commented on #204
[code]

[2018-12-28 15:33] alexdianomi commented on #204
Both of the above tests should work but the one using resty fails.

[2018-12-29 00:32] jeevatkm commented on #204
@alexdianomi As described in the [Feature section](https://github.com/go-resty/resty#features) under `For auto-unmarshal, refer to -` point

For auto-unmarshal, refer to -
* Success scenario Request.SetResult() and Response.Result()
* Error scenario Request.SetError() and Response.Error()

So on the second test case-

[code]

[2018-12-31 09:53] alexdianomi commented on #204
Okay I see what you mean I think.

Cheers

[2018-12-31 09:53] #204 closed

[2019-01-01 11:03] codenoid opened #205 "why resty very slow"
## Resty vs Curl
* Resty vs Curl
* Access Same URL

## Result

Resty + fmt :

[code]
curl :
[code]
## Code

[code]

[2019-01-01 18:12] jeevatkm commented on #205
@codenoid Thanks for trying Resty! Happy new year 2019!

I thought I will not touch my laptop today, but I checked my email and jumped on it 🎉

I can assure you Resty performance is damn good (I'm proud of it 😄).

As always testing performance involves many factors. Its applies to testing http client too. Above stated scenario involves (few comes to my mind)-

* Network latency
* DNS resolution
*

[2019-01-01 19:11] codenoid commented on #205
after following [this](https://gist.github.com/craigvantonder/e9ee426f4108094d56e76ba1f756035e) script to flush DNS in my Ubuntu + with updated code :

[code]

[2019-01-01 21:05] jeevatkm commented on #205
It seems we need to further investigation. We cannot use https://github.com/andelf/go-curl since it's a binding for curl cmd.

Let's try Go default client at your end.

**Default Go client snippet** Resembles same behavior as Resty
[code]

FYI, I have tried Resty and above go default client code snippets on -

My machine:
[code]
My DO VPS:
[code]
On both machine Resty and Default Go Client perform

[2019-01-01 21:08] moorereason commented on #205
I was curious, so I made a `httptrace` version of this little test:  https://gist.github.com/moorereason/f77d69a2c823fb222eba61c151e63a6b
[code]

@jeevatkm, what do you think about adding this kind of tracer to Resty?

[2019-01-01 21:20] jeevatkm commented on #205
@moorereason Thank you. Nice suggestion👍 Just added to v2 action list #167 . Good to have on-demand tracer option in the Resty.

@codenoid Could you please also run @moorereason's code snippet (
https://gist.github.com/moorereason/f77d69a2c823fb222eba61c151e63a6b) at your end, which would provide more insights?

[2019-01-02 05:34] codenoid commented on #205
[code]

[2019-01-02 06:53] jeevatkm commented on #205
@codenoid Thanks for trying with @moorereason code snippet.

It seems on your machine, major time is occupied by `DNS Lookup 10.292216062s`. You might have to investigate your network settings, etc.

As always, feel free to ping me when needed.

[2019-01-02 07:33] codenoid commented on #205
but what about with curl :confused:

[code]

should i close this issue for a while ?

[2019-01-02 07:55] jeevatkm commented on #205
@codenoid I understand what you're trying to convey. BTW what is your Go version?? Could you try with latest Go 1.11.4 version.

We can keep this issue open for a while 😄.

I have looked around found following issues on Go repo:
https://github.com/golang/go/issues/28419
https://github.com/golang/go/issues/21906

I have created a Go HTTP client with tracer based on @moorereason snippet.

[code]

Tr

[2019-01-02 12:42] codenoid commented on #205
GO Version :

[code]
**USING GO 11.4** :rocket:

[code]

[2019-01-02 13:02] codenoid commented on #205
thank you ! :rocket: :sparkles:

[2019-01-02 13:02] #205 closed

[2019-01-02 20:34] jeevatkm commented on #205
@codenoid I'm glad to hear that you have to sorted the issue 😄

[2019-01-03 10:08] clippit opened #206 "Proposal: Add Context() method into Request and consider logging prerequesthook updates"
Hi,

Firstly thank you for creating such a great tool! 😄

I find it's inconvenient for passing user custom parameters when using user-defined middleware. For example, in our development process, the server may receive an `X-Request-ID` header and it should pass this header to any services it calls. That's a simple way for tracing RPC calling actually. Besides of this, we also have some requirement

[2019-01-04 01:49] jeevatkm commented on #206
@clippit Thanks for bringing up your concerns and your appreciations. I understand your suggestions.

I will bring following updates:

- [ ] Expose context via `Request.Context()`
- [ ] Move request logger after `PreRequestHook` call

[2019-01-04 07:07] jeevatkm commented on #206
@clippit I have implemented in branch master. Could you try and let me know?

[2019-01-04 12:44] clippit commented on #206
It's good to me:) and I have added some checks, please take a look at #207

[2019-01-04 22:08] jeevatkm commented on #206
@clippit Thanks for the confirmation 😄 I have responded to your PR please have a look.

[2019-01-04 22:09] #206 closed

[2019-01-06 16:23] codenoid opened #208 "unsupported 'Body' type/value"
hi, i'm trying to send POST DATA with `application/x-www-form-urlencoded` type & the source from struct, but i got

My struct :

[code]

Resty syntax :

[code]
Error :

`unsupported 'Body' type/value`

[2019-01-06 16:37] codenoid commented on #208
hmm, idk why, i'm always getting error when **i really want** use go-resty  **(from the deepest of my heart)**

[2019-01-06 17:16] jeevatkm commented on #208
@codenoid It seems you have mixed up the usage. For form submission please refer to https://github.com/go-resty/resty#sample-form-submission

FYI, Resty does not support this way of form submission yet(content-type as `application/x-www-form-urlencoded` & body as `struct`) -

[code]

[2019-01-06 17:22] #208 closed, assigned to jeevatkm

[2019-01-09 20:00] codenoid opened #210 "Save & Re-Use session"
hi, currently i'm trying to login into `https://mbasic.facebook.com` save the current resty, and re-use the session, my current code :

[code]

[2019-01-10 04:20] codenoid commented on #210
actually not cookie, but session, sorry :smile:

[2019-01-10 06:35] jeevatkm commented on #210
@codenoid First of all, is credentials you have put in the comment is real? if yes change your password. And going forward please do not put real credentials in the public forum.

Resty has cookie jar built-in; it will relay the cookies received from server in the next request for corresponding domains. If you know the Form post URL and know the required values, you can do it with resty.

Being sa

[2019-01-10 06:41] jeevatkm commented on #166
I'm closing this input thread, gonna start the v2 development. So we could discuss in the respective issues I will be creating. Thank you all for the great inputs and discussion.

[2019-01-10 06:41] #166 closed

[2019-01-10 06:42] jeevatkm commented on #167
Resty v2 development issues gonna be created then this one will be closed 😄

[2019-01-10 06:45] jeevatkm opened #212 "Set Sane default timeouts for client and transport"
Refer to https://github.com/go-resty/resty/issues/166#issuecomment-402763015

[2019-01-10 06:46] jeevatkm opened #213 "Add method into struct `Request` to accept type `url.Values` for Query strings"
Refer to https://github.com/go-resty/resty/issues/166#issuecomment-406465002

[2019-01-10 06:48] jeevatkm opened #214 "Pass error returned by `resty.Client.execute()` to retry condition callback"
Refer to https://github.com/go-resty/resty/issues/166#issuecomment-425523656

[2019-01-10 06:50] jeevatkm opened #215 "Refactored resty to move away from `gopkg.in` in favor of go mod"
Refactored resty to move away from `gopkg.in` and completely relay on `go mod` for package versioning

[2019-01-10 07:03] jeevatkm opened #216 "Add on-demand tracer into resty"
There was the issue #205 created by Resty user. In the thread @moorereason have created a quick tracer implementation with resty https://github.com/go-resty/resty/issues/205#issuecomment-450756975.

Refer to gist https://gist.github.com/moorereason/f77d69a2c823fb222eba61c151e63a6b and implement one for the resty.

The goal is to provide following metrics via tracer with structured data format.

[c

[2019-01-10 08:50] jeevatkm opened #217 "Update PreRequestHook method signature"
Update `PreRequestHook` signature to `func(cl *Client, r *http.Request) error` refer to https://github.com/go-resty/resty/pull/207#issuecomment-451732759

[2019-01-10 09:02] jeevatkm opened #218 "Log request and response debug log together for easy debugging"
The goal is to improve Resty debug log readability. Log request and response debug log together for easy debugging instead of separately. Importantly its highly helpful in multi-goroutine usage.

**Current:**

[code]

**Upcoming in v2:**
[code]

[2019-01-10 09:08] jeevatkm commented on #167
Respective issues are created closing this one.

[2019-01-10 09:08] #167 closed

[2019-01-10 22:39] jeevatkm opened #219 "I have created Resty communication channel"
Hello Resty Users - I have created a

- Twitter handle: https://twitter.com/go_resty
- Gitter chat community: https://gitter.im/go_resty/community

I hope it would be helpful for release notifications, communication, community discussions, support, etc.

Feel free to join, follow and participate 😄

[2019-01-17 18:10] codenoid commented on #210
is there any example for cookie jar usage mister ?

[2019-01-17 19:32] jeevatkm commented on #210
@codenoid Cookie jar is enabled by default in Resty.

[2019-01-28 02:06] tiger5226 opened #220 "Ordered Query Parameters"
I have run into a very frustrating issue. I am communicating with an API that leverages HMAC signing. The problem is that given params A,G,F and `hmac_sign`, the url called by resty puts the params in alphabetical order, instead of the order I have set them. HMAC signing, requires you to sign something. In this case the url + parameters. However, once I make the call, go-resty reorders the params.

[2019-01-30 00:33] jeevatkm commented on #220
@tiger5226 I'm sorry about the delayed response.

Typically in Go lang, query parameter will be always alphabetical order (https://golang.org/pkg/net/url/#Values.Encode), resty uses this method.

For your HMAC sign requirement. One workaround I could think is compose your URL with ordered query parameter and supply the URL string into Resty. Do not use Resty query parameter composing methods for y

[2019-01-30 01:01] tiger5226 commented on #220
Yeah, that is how I solved the problem for now. Feels a bit hacky so I wanted to flag it in case you wanted to provide an alternative for HMAC signing. I agree its standard in the golang package. Maybe an issue for golang repo? Or the API requiring the signing.

[2019-01-30 01:40] jeevatkm commented on #220
@tiger5226 Thanks for the confirmation. I will think of one; however, it will be the same as what you did at your end happening inside the Resty 😄.

[2019-01-30 04:07] tiger5226 commented on #220
I don't know why they choose to sort it, besides being required to do so. They are using a `map[string]string` to represent the parameters. This means that the map can only return a random order since golang does not promise ordering. So they probably sort it for it to be deterministic. The problem is everything outside of golang does not do this. They should really just be using a slice so they c

[2019-01-30 16:44] jeevatkm commented on #220
@tiger5226 I don't know either, probably for deterministic behavior. The `url.Values` data type is `map[string][]string`.

I'm closing this one, thanks.

[2019-01-30 16:44] #220 closed

[2019-01-30 17:24] jeevatkm commented on #210
I'm closing this one.

[2019-01-30 17:24] #210 closed

[2019-02-05 05:35] jeevatkm commented on #217
It's done 😄

[2019-02-05 05:35] #217 closed

[2019-02-05 05:59] jeevatkm commented on #218
It's done 😄

[2019-02-05 05:59] #218 closed

[2019-02-05 06:00] jeevatkm commented on #215
It's done 😄

[2019-02-05 06:00] #215 closed

[2019-02-11 07:28] youcandoit95 opened #222 "how to get request header in format string ?"
hello.. can we get request header in string format return ?

like resty.Request.URL

thank you

[2019-02-11 07:56] youcandoit95 opened #223 "how to get all response header in string format ?"
hello i need feature that can provide get all response header in string format  for logging requirement ? can somebody help me ?

[2019-02-11 14:50] moorereason commented on #222
See https://godoc.org/gopkg.in/resty.v1#Request

[code]

[2019-02-11 14:52] moorereason commented on #223
See https://godoc.org/gopkg.in/resty.v1#Response.Header and https://godoc.org/net/http#Header.

[2019-02-11 19:46] AndrusGerman opened #224 "Create multiple http clients with different internet connections"
I would like to do this in resty, I know that it is possible but I do not have the knowledge for her this could someone leave me an example.
I have two lan connections and I want to make requests with both in the same script and I propose that they add functionality similar to the one in the example

[code]

[2019-02-11 22:46] moorereason commented on #224
Start in resty with [`Client.SetTransport`](https://godoc.org/gopkg.in/resty.v1#Client.SetTransport). You have to create a custom transport with a [`net.Dialer`](https://golang.org/pkg/net/#Dialer) containing the `LocalAddr` property set.  [`net.InterfaceAddrs`](https://golang.org/pkg/net/#InterfaceAddrs) will give you a list of interface addresses.

[2019-02-12 16:44] amits1995 opened #225 "Potential race in resty with combination of retries and the buffers pool"
We have a golang project that uses resty as the http client.
We started using the golang race detector in our staging environment and encountered the following race errors:
[code]
The code is not open source atm so I cannot show you exactly what wer'e doing but the main takeaways are:
1. We share a single client across multiple go routines
1. We create a new request struct for every request we exe

[2019-02-12 19:20] jeevatkm commented on #222
@moorereason Thanks for the answer.

@youcandoit95 You could access all the request related values (such as headers, url, etc.). The best place to learn more is godoc as mentioned by @moorereason .

[2019-02-12 19:20] #222 closed

[2019-02-12 19:22] jeevatkm commented on #223
@moorereason Thanks for the answer.

[2019-02-12 19:22] #223 closed

[2019-02-12 19:57] jeevatkm commented on #225
@amits1995 Based on the information you have shared (looking at groutine 149 & 109 and the stacktrace), it does not originate from Resty.

Could you please investigate it further? if you come across a race condition on resty package, please let me know, I would address as quickly as possible.

[2019-02-12 20:15] amits1995 commented on #225
Hey @jeevatkm thx for the response
It looks like the race is on some buffer the http package is reading from.
It's a buffer the http package gets to read as the body of the http request which is generated in resty and passed to the http package of GO.
Since we pass `[]byte` as body to resty, and it is only later being wrapped with a buffer in resty, I believe Resty is somehow maybe reusing the sam

[2019-02-12 21:36] moorereason commented on #225
Are you careful to call `response.Body.Close()`?

[2019-02-13 04:06] AndrusGerman commented on #224
@alexmontecucco  Thanks for your detailed response. Thank you so much. I do not speak English very well, so I would be delighted with a simple example. I will close the issue

[2019-02-13 04:07] #224 closed

[2019-02-13 04:49] jeevatkm commented on #224
@moorereason thanks for the answer.

@AndrusGerman I have not tested this code. try it out and let me know.

[code]

[2019-02-13 05:09] jeevatkm commented on #225
@amits1995 Let me check and get back.

@moorereason the issue seems like on request side not on response.

[2019-02-13 08:06] jeevatkm commented on #225
@amits1995 I had a look. The only scenario, Resty uses as-is provided body is `io.Reader` input. For the rest of the scenario, it gets a buffer instance from sync pool and releases back to pool. Are you using `io.Reader`?

Also just to try, could you please apply this patch at your end and test it out?
[try.patch.zip](https://github.com/go-resty/resty/files/2859369/try.patch.zip)

[2019-02-13 08:44] amits1995 commented on #225
We are not using `io.Reader`, only `[]byte`
I saw the use of buffers from `sync.pool` and was suspecting it.
Maybe something with the combination of retries and the buffers pool?
Also, I began wondering whether race detector might actually get confused by the pool buffers. Maybe the race detector detects two goroutines accessing the same buffer in adjacent times but that is legit as different goro

[2019-02-13 19:43] jeevatkm commented on #225
@amits1995 As I mentioned above Resty do not share a buffer between requests.

I would like to confirm this -

That's why I have shared the patch to test. Patch contains following (you could extract the zip archive to get that) -

[code]

I could create a branch with above patch for your testing, if its gonna make it easy. This way you could test the patch from `go get` or `go mod` mechanism.

Ple

[2019-02-13 19:46] amits1995 commented on #225
Yes, the branch approach will be great. Thx

[2019-02-13 21:41] AndrusGerman commented on #224
It worked perfectly, With different connections.. Thanks @jeevatkm

[2019-02-13 22:21] jeevatkm commented on #225
@amits1995 I have created a branch https://github.com/go-resty/resty/tree/for-225-try-patch please give it a try and let me know.

[2019-02-13 22:25] jeevatkm opened #226 "Add support to Dial a TCP connection from a specific Local Interface/Address"
The goal of this issue to add support in the Resty OOTB for Dial a TCP connection from a specific Local Interface/Address.

This feature is born from #224 😄

[2019-02-13 22:26] jeevatkm commented on #224
@AndrusGerman Good to hear. I have created an issue for this feature #226 will be coming in Resty v2.

[2019-02-15 05:55] jeevatkm commented on #225
@amits1995 Any updates?

[2019-02-15 07:49] amits1995 commented on #225
It'll take a few days I'll update as soon as we deploy

[2019-02-15 08:06] jeevatkm commented on #225
Okay, please keep me posted.

[2019-02-18 16:36] youcandoit95 commented on #223
thankss

[2019-02-19 12:46] amits1995 commented on #225
Small update - we deployed a version with your patch.
We didn't see any data races coming from Resty but we did see some other races in our code.
We had to revert and we are now investigating the other races.
Once those are fixed we'll deploy the patch again and let it run for a few days.
I also want to make sure that we do get race warnings when we use the non patched Resty version, just to make

[2019-02-19 20:09] jeevatkm commented on #225
@amits1995 Thanks for the update. Please keep me posted as you progress.

I'm gonna make this issue as a bug and applying patch fix in `v1.12.0` release in a day or two.

[2019-02-19 22:13] moorereason commented on #225
A test for this bug would be fantastic.

[2019-02-20 00:50] amits1995 commented on #225
@moorereason I actually tried to reproduce locally but failed
What I did was:
1. Single resty client
1. 10 go routines execute 1000 requests in a for loop
1. Ran a local server that returns 500's (to trigger retries)
1. Also tried to run regular server that returns 200's
1. Also tried forcing the use of http2
Neither worked :\

@jeevatkm
Any chance you could explain the patch?
As far as I understa

[2019-02-20 03:46] jeevatkm commented on #225
@moorereason @amits1995 I'm not sure how to reproduce the reported scenario. Technically buffer acquire (middleware execution) and buffer release happens within `client.execute` so race condition should not happen. Honestly, I still have doubt on patch even though I have marked this issue as possible bug and I do not have an answer to myslef "how the patch actually addressing race condition?" becu

[2019-02-20 13:06] skunert opened #227 "Cannot use PathParams in Client"
Hi,
I am trying to prepare a client that is used for subsequent requests.

[code]

In my understanding, the request should work and request the url `http://myhost:123456/test`.
However, I get the following error:

`parse http://myhost:{port}/test: invalid character "{" in host name`

[2019-02-20 14:53] moorereason commented on #227
The method naming may be a little confusing, but the URL Host and URL Path are two separate items that will be joined to form the eventual request.  `SetHostURL` is only `scheme://[userinfo@]host`, and no parameter replacement functionality is exposed for the URL Host.  Parameter replacement only occurs for the URL Path.

[2019-02-20 16:14] moorereason commented on #225
I asked about a test because it's not clear to me why the proposed patch fixed the reported issue.  I'll try to spend some more time reviewing this.

[2019-02-20 18:34] #227 closed

[2019-02-20 19:12] moorereason commented on #225
I've posted a PR with a failing test case.

[2019-02-20 19:58] moorereason commented on #225
I apologize.  My PR is unsafe for other reasons with a completely different stack trace from the original report.  My PR only proves that `resty.Request` is not concurrency-safe.

Back to the drawing board...

[2019-02-20 20:00] moorereason commented on #225
@amits1995, what version of Go produced the original stack trace?

[2019-02-20 20:09] amits1995 commented on #225
@moorereason
It was on Go 1.11
Here's how I tried to reproduce the race but it didn't work... maybe you can make find what I was missing
https://gist.github.com/amits1995/501e49e12a83f8340145a72f65bd57f5

[2019-02-20 23:19] moorereason commented on #225
Thanks for the gist, @amits1995.  I've been unable to reproduce the original stack trace after iterating through several different approaches.  BTW, I don't believe the race detector would give a false positive.  There's a bug somewhere.

I found a very similar data race report at https://github.com/golang/go/issues/25009#issuecomment-404357015.  A fix has been committed upstream, but you'll have

[2019-02-21 15:25] amits1995 commented on #225
@moorereason Interesting! looks like it might actually be a bug in go http2.
I'll try to reproduce the error in 1.11 and later on will try 1.12rc

[2019-02-21 19:35] jeevatkm commented on #225
@amits1995 @moorereason Thank you, glad to see Resty community helping each other.

[2019-02-23 16:15] amits1995 commented on #225
@jeevatkm Let's close this issue for now and I'll open again if I see any problems after Go's patch.

[2019-02-23 23:29] jeevatkm commented on #225
@amits1995 Okay, sure.

[2019-02-23 23:29] #225 closed

[2019-02-26 14:29] moorereason commented on #225
@amits1995, I know we closed this issue, but I'd like to know if Go 1.12, which was released yesterday, resolves this issue for you, so please report back the results.

[2019-02-26 18:13] amits1995 commented on #225
@moorereason no worries, I planned on doing so

[2019-02-27 07:29] jeevatkm opened #229 "Make logger interface based with minimal methods"
The goal is to make the Resty logger interface based in v2 with minimal methods that Resty user could choose their choice of the logger.

Also if possible add default implementation using `log.Logger` compliant with the new interface.

[2019-02-27 08:56] kourtni opened #230 "parsing go.mod: unexpected module path "gopkg.in/resty.v1""
Hi,

I'm trying to generate a go.mod file for a project I'm working on. However it is failing with:
[code]

We don't directly depend on resty, so not certain how I can get beyond this issue.

[2019-02-27 13:53] damianoneill opened #231 "SSE"
Is there a way to do the client side of Server Side Events with go-resty?

[2019-02-27 15:35] jeevatkm commented on #231
@damianoneill Currently no, maybe in an upcoming `v2`.

[2019-02-27 15:37] damianoneill commented on #231
Thanks @jeevatkm, appreciate the quick reply.  Would be fantastic if you would consider this requirement.  Thanks for Resty, its a great library.

[2019-02-27 15:37] #231 closed

[2019-02-27 15:40] jeevatkm commented on #230
@kourtni It seems, one of your project dependencies use incorrect resty import path for `go mod` [refer here](https://github.com/go-resty/resty#installation).

Could you try the following, add this into `go.mod` after the `require` block?

[code]

[2019-02-27 15:47] jeevatkm commented on #231
@damianoneill Thanks for your appreciation. Once I wrap up currently planned items for `v2` then I will take up this one.

[2019-02-27 18:31] kourtni commented on #230
That worked. Thanks!

[2019-02-27 18:31] #230 closed

[2019-03-02 07:22] jeevatkm opened #232 "Remove default client approach from Resty, make resty further simple to use"
The goal of the issue is to bring a simpler approach and easy to use Resty. On v2 resty default client will be removed.

This is born from - On Gitter @moorereason approached with an article for Resty improvement. I have read and thought about it. When I look back. Initially, took an approach of DefaultClient similar to Go Http Client besides that no other reason.

I believe it's better to create

[2019-03-07 23:11] jeevatkm commented on #213
I have analysis, it seems there is method already exists in Resty to accept `url.values` for Query Parameters and Form Data.

So I will do following changes, for easy understanding:
- Refactor method from `SetMultiValueQueryParams` to `SetQueryParamsFromValues`
- Refactor method from `SetMultiValueFormData` to `SetFormDataFromValues`

[2019-03-08 06:36] jeevatkm commented on #212
Its done 😄

[2019-03-08 06:36] #212 closed

[2019-03-08 06:36] jeevatkm commented on #213
It's done 😄

[2019-03-08 06:36] #213 closed

[2019-03-08 06:36] jeevatkm commented on #214
It's done 😄

[2019-03-08 06:36] #214 closed

[2019-03-08 06:38] jeevatkm commented on #219
I hope resty users know it, let's close it and issue is pinned.

[2019-03-08 06:38] #219 closed

[2019-03-09 01:04] jeevatkm opened #233 "Make Resty minimum Go version support to go1.8"
The goal is this issue to make Resty minimum supported version to `go1.8`. There are two reasons -

* Adding tracer support with TLS and non-TLS. `TLSHandshakeStart` & `TLSHandshakeDone` requires it - #216
* Currently Resty supports since `go1.3` its time to raise the bar to `go1.8` on v2 release

[2019-03-09 01:06] jeevatkm commented on #232
Also do cleanups, removal of the deprecated method and organize code 😄

[2019-03-09 19:04] jeevatkm commented on #232
It's done 😄

[2019-03-09 19:04] #232 closed

[2019-03-09 19:04] jeevatkm commented on #233
It's done 😄

[2019-03-09 19:04] #233 closed

[2019-03-10 08:33] jeevatkm commented on #216
Structured trace info would like -

[code]

[2019-03-10 10:15] jeevatkm commented on #216
It's done 😄

[2019-03-10 10:15] #216 closed

[2019-03-12 05:30] jeevatkm commented on #229
Changes:

* `Client.SetLogger` accepts `resty.Logger` interface

[code]

[2019-03-12 05:31] jeevatkm commented on #226
New method added `NewWithLocalAddr` 😄

[2019-03-12 05:31] #226 closed

[2019-03-13 06:34] jeevatkm commented on #229
Its done 😄

[2019-03-13 06:34] #229 closed

[2019-03-13 21:23] jeevatkm opened #235 "Resty v2 release plan and Create migration guide from v1 to v2"
This issue is to provide `v2` release plan and track the migration guide from v1.x to v2.x

**Release Plan:**

* Create a `v1` branch from `master` branch
   * `v1` branch will be kept for critical bug fixes only for 6 months, no enhancements and no feature additions
   * Any bug fixes will be ported to master branch to reflect on v2 series
   * `v1` will be unsupported and locked down in 6 months

[2019-03-16 07:01] jeevatkm commented on #235
@Crevil, @1995parham, @moorereason, @h7kanna, @sudo-suhas, @topillar, @pborzenkov, @incubus8, @xakep666, @neganovalexey

I have just gathered the names from resty v2 discussion since v2 release candidate 1 is ready I thought to collect the user feedback. Could you please try rc1 and share feedback?

Thanks.

[2019-03-18 09:14] sudo-suhas commented on #235
@jeevatkm The go module support has not been implemented correctly:

[code]

Ideally, I should refer to `resty` with the import `github.com/go-resty/resty/v2` but that won't work:

[code]

See https://github.com/golang/go/wiki/Modules#releasing-modules-v2-or-higher, https://blog.samwhited.com/2019/01/supporting-go-modules/, https://www.youtube.com/watch?v=ms5l0zxC-uM

[2019-03-18 21:20] moorereason commented on #235
It's not clear to me that using the `/v2` import path and `@v2` version should work yet.  According to semver, v2.0.0-rc.1 < v2.0.0.  My reading of the Go docs says that `/v2` and `@v2` means v2.0.0 or higher.

It's odd that `go build` downloads the rc.1 pre-release and then won't build with it.  That may be a bug in the Go tools.

[2019-03-18 22:01] jeevatkm commented on #235
@moorereason Releasing multiple version has more than one approach with `go mod`. I have tested them with the sample program for `v2.0.0-rc.1`.

Are you getting any build error? what is it? please let me know.

[2019-03-18 22:21] jeevatkm commented on #235
@sudo-suhas As mentioned in this issue main content. Please refer it as -

[code]

[2019-03-19 10:21] Crevil commented on #235
I'll try to test this out this week or the next. Do you have a time frame for feedback that I need to aim for?

[2019-03-19 19:18] 1995parham commented on #235
I tried with `github.com/go-resty/resty v2.0.0-rc.1` then after running `go build` it replaces it with `github.com/go-resty/resty v0.0.0-20190313065924-46fc51a18d33` is it ok?

[2019-03-19 20:59] jeevatkm commented on #235
@1995parham It is okay. This is pre-release of major version, that's why it resolves like this.  Any feedback about v2 usage?

[2019-03-20 05:59] 1995parham commented on #235
@jeevatkm I switched to v2 in one of my projects and everything looks good to me. Thanks for your awesome work. If anything happens I will comment about it here.

[2019-03-20 06:12] jeevatkm commented on #235
@1995parham I'm glad to hear your feedback 👍, please keep me posted.

FYI, there will be one more breaking change with new feature addition on Retry, refer to #237, I will make `rc.2` once it's ready 😄

[2019-03-20 16:04] moorereason commented on #213
This should be labeled as a breaking change.

[2019-03-20 16:32] moorereason commented on #235
I updated one of my tools to v2.  Below is a snippet of the diff that captures the essence of the changes.  It was pretty simple.

[code]

My contribution to a "migration guide" of the breaking API changes that affected me:

* Global `DefaultClient` variable has been removed.  As a result, `AddRetryCondition()`, `OnAfterResponse()`, `OnBeforeRequest()`, `RemoveProxy()`, and all `Set*()` functions

[2019-03-20 19:15] jeevatkm commented on #235
@moorereason Thanks for trying out `rc.1` and sharing your notes.

I would like to mention one thing from your git diff above. Do not create Resty Client for every request.

[code]
----
@Crevil

Actually I do not have fixed timeline for now. I'm hoping I could make the `v2` release in month of April.

[2019-03-28 04:56] jeevatkm commented on #235
All - I have just made a `v2.0.0-rc.2` release.

[2019-04-04 09:54] MidnightSong commented on #151
@jeevatkm thank you for your answer,I'm trying to find the solution to this problem

[2019-04-13 03:14] runeimp opened #239 "PATCH multipart/form-data"
Thank you for Resty! It's great but I'm currently being blocked on one of my projects as it only allows POST and PUT when sending multipart data per https://github.com/go-resty/resty/blob/master/request.go#L474 . The service I'm sending to uses PATCH to attach files to other data in their system and expect it using `Content-Type: multipart/form-data`. And while I think they should probably be usin

[2019-04-14 06:38] jeevatkm commented on #239
@runeimp I understand your requirement. Could you submit a PR for v1 as well as for v2?

[2019-04-17 21:18] runeimp commented on #239
Didn't have time to work on your code before delivery. I may work on it in the near future though. Just depends on the needs and workload. Thanks again for the tool. As is it is still awesome!  😃

[2019-04-18 13:11] pborzenkov opened #240 "Always try to parse response if SetResult has been called"
It's possible to get a 200 OK response with HTML contents from a JSON endpoint due to faulty backend configuration (e.g. a problem in API gateway, etc.).
Since resty only parses response if content type is JSON or XML the call won't return an error. Such errors could be hard to debug.

I suggest to fix the default behaviour and always parse response if SetResult has been called.

[2019-04-21 17:32] jboelter opened #241 "Allow Content-Length to be set for streams w/o buffering"
Recommend considering this for v2

The current library works, but buffers the entire stream into memory to set the content-length when requested. This allows the caller to specify the content-length. Caveat -- the solution below isn't sufficiently generic. A more complete solution might consider an io.Seeker ([caveat](https://github.com/golang/go/blob/46076c37578fba9b49059584ef896099c9240fb2/src/a

[2019-04-22 05:17] jeevatkm commented on #240
@pborzenkov Thank you for reporting an issue. I will have a look and get back to you.

[2019-04-22 05:25] jeevatkm commented on #241
@jboelter @pborzenkov Thank you for your inputs. It seems you have already read the code base and know the bufferless processing for `io.Reader`.  I think you could set header `Content-Length` using method `SetHeader`. Did you get a chance to try it out?

[2019-05-13 07:29] lrita opened #242 "Add Content-MD5 entity-header field support?"
The `Content-MD5` entity-header field, as defined in RFC 1864, is an MD5 digest of the entity-body for the purpose of providing an end-to-end message integrity check (MIC) of the entity-body. (Note: a MIC is good for detecting accidental modification of the entity-body in transit, but is not proof against malicious attacks.). eg.[aws-sdk-go](https://github.com/aws/aws-sdk-go/blob/f26268b77ea9619d9

[2019-05-13 22:24] Galadros opened #243 "Trying to import resty into a go module fails and refuses to build."
I have a program that includes resty.  I'm trying to add gomodule support to it, but running into issues with importing `resty`.  The error message is:
[code]
I think I see that v2 will fix this error- but do you have any idea when v2 might be coming, or any suggestions I can use for a workaround to still let me use go modules?  I've been working at this for quite a while and can't easily find a s

[2019-05-14 04:33] jeevatkm commented on #243
@Galadros Please try this solution https://github.com/go-resty/resty/issues/230#issuecomment-467911306 with your version number.

I have to prepared v1 to v2 migration docs, once done I will make a release of v2.

[2019-05-17 15:17] jeevatkm commented on #243
@Galadros Any updates?

[2019-05-17 22:33] Galadros commented on #243
I managed to get this playing nicely after a while, which is good!  There are some other oddities about how our deployment/compile process works that proved to be problematic, but eventually I did get it working.  I still do appreciate your quick response!

Patrick

[2019-05-24 13:42] georgewilk01 opened #244 "Resty retries when deserialization fails"
When the GET call fails deserialization resty retries the request spontaneously w/o being asked.
Example:

resp, err := resty.New().
		SetTimeout(250 * time.Millisecond).
		SetRetryCount(4).   // RetryCount includes the original request, so 1 + 3
		SetRetryWaitTime(50 * time.Millisecond).R().
		SetResult(&Member{}).
		Get("http://localhost:8080/member/123")

When the response body deserialization

[2019-05-24 15:58] tsouza commented on #178
I can't seem to get this working. I have cleared everything related to go-resty under GOPATH also fixed the import to be `gopkg.in/resty.v1` and I got the following in `go.mod`: `gopkg.in/resty.v1 v1.12.0`. When I run `go mod tidy` I get:
[code]

[2019-05-26 19:16] jeevatkm commented on #242
@lrita I will look into it and get back to you.

[2019-05-26 19:17] jeevatkm commented on #243
@Galadros  Thank you for the updates.

[2019-05-26 19:17] #243 closed

[2019-05-26 19:19] jeevatkm commented on #244
@georgewilk01 Thanks for sharing your findings. I will verify at my end and get back to you.

[2019-05-26 19:21] jeevatkm commented on #178
@tsouza Please have a look this one https://github.com/go-resty/resty/issues/230#issuecomment-467911306 and try it out?

[2019-05-27 14:51] tsouza commented on #178
@jeevatkm I have that fixed but still with the same issue. For now, I've dropped `go-resty` and I am using golang http.

[2019-05-29 16:54] georgewilk01 commented on #244
Any luck with recreating this condition?

[2019-05-30 05:22] jeevatkm commented on #244
@georgewilk01 I'm sorry. Past of couple weeks I'm stuck with day work urgent deliverables. Maximum I will have a look and get back to you by this weekend.

[2019-06-03 05:15] jeevatkm commented on #239
@runeimp I have added `PATCH` into the multipart in v1.x, this update would carry forward to v2 as well.

I'm closing this one 😄

[2019-06-03 05:15] #239 closed

[2019-06-03 05:18] jeevatkm commented on #241
@jboelter Kindly give it try on above suggestion and please let me know.

I'm closing this one.

[2019-06-03 05:18] #241 closed

[2019-06-03 05:21] jeevatkm commented on #240
@pborzenkov This I will take it up for `v2`.

[2019-06-03 05:24] jeevatkm commented on #242
@lrita I think it's good to add hook/middleware after `parseRequestBody` so that resty users could to more than one operation of thier choices.

I'm moving this item to v2 series.

[2019-06-03 08:33] runeimp commented on #239
@jeevatkm thanks for the patch! 🙂

[2019-06-05 06:49] smiklosovic opened #245 "How to mock Response without executing a request?"
Hey,

I want to test my unmarshalling logic and I do not want to make a call to server, I just want to pretend I already got some response. `body` is package private in Response so how should I set that one?

[2019-06-09 06:10] jeevatkm commented on #244
@georgewilk01 I have verified and also remembered this issue. It is related with retry condition design issue. It cannot be fixed without breaking changes.

So I have addressed retry condition issue in upcoming Resty v2. Once v2 migration docs is ready I will ping you.

[2019-06-09 06:12] jeevatkm commented on #245
@smiklosovic you could use any http mocking library with Resty to mock request. for e.g. [readme reference](https://github.com/go-resty/resty#mocking-http-requests-using-httpmock-library)

[2019-06-09 06:15] jeevatkm commented on #239
You're welcome, I'm planning to move this change in v2 release. Since I'm very close in finishing docs.

[2019-06-10 11:53] georgewilk01 commented on #244
Great!  Thanks for the follow-up.  I look forward to trying Resty v2

[2019-06-11 08:07] smiklosovic opened #246 "how to serialise exported JSON fields with lowercase?"
Hi,

I have this

    { "type": "someType" }

And this struct

    struct MyType {
        Type string
    }

I want to serialise it in such way that it is serialized with "type", not "Type", when I send this to server, I see it is

    { "Type": "someType" }

How to instruct resty to lowercase this?

Thanks!

[2019-06-11 11:09] smiklosovic commented on #246
I can use tags, of course ...

[2019-06-11 11:09] #246 closed

[2019-06-11 17:54] jeevatkm commented on #245
I'm closing this one.

[2019-06-11 17:54] #245 closed

[2019-06-11 17:59] jeevatkm commented on #244
@georgewilk01 In the meantime, you could try out v2.0.0-rc2, please share the feedback. please refer to #235

[2019-06-11 20:25] asauber opened #247 "Cannot call SetRootCertificate with an oauth2 transport"
Hi, I'd like to use an oauth2 client, as in the [this example.](https://github.com/go-resty/resty/issues/159#issuecomment-398240452)

However, when calling SetRootCertificate, we get this error:

[code]

How can we make oauth2 clients compatible with `SetRootCertificate`?

[2019-06-12 01:05] smiklosovic commented on #245
@jeevatkm no worries, I did this for reference

`	client.testResponse = &resty.Response{
		RawResponse: &http.Response{
			Body:       ioutil.NopCloser(bytes.NewReader([]byte(`{ "my": "json"}`))),
			Status:     "200 OK",
			StatusCode: 200,
		},
	}
`

Then I have some logic around that in my client ..

[2019-06-12 14:02] RafPe opened #248 "OnBeforeRequest and SetQueryParams/SetPathParams"
Hi,

I'm trying to use resty client against one of our vendor APIs. In my case scenario I need to sign every request being sent. Therefore my idea was to use `OnBeforeRequest` to get the full URL exactly as it at the end is called and use it to create and add signature.

However within `OnBeforeRequest` the path is not substituted when using SetPathParams ( would need to do it on my own ? ) nor th

[2019-06-18 00:31] jeevatkm commented on #247
@asauber In the OAuth2 scenario, client supplied to Resty, so it uses the given client instead of creating one.  I believe OAuth2 library uses [http.RoundTripper](https://github.com/golang/oauth2/blob/master/transport.go#L27) based implementation. So you could possibly set root cert into the client before creating an OAuth2 instance.

[2019-06-18 00:35] jeevatkm commented on #248
@RafPe for your use case I think [SetPreRequestHook](https://godoc.org/gopkg.in/resty.v1#Client.SetPreRequestHook) could be the one.

[2019-06-18 00:36] jeevatkm commented on #244
I'm closing this one, in favor of upcoming v2 release.

[2019-06-18 00:36] #244 closed

[2019-06-18 01:34] jeevatkm commented on #235
v2 Release notes draft is ready. Just finishing up final user request changes.

--------

# Release Notes

### How to get?

#### go.mod

[code]

#### go get

[code]

### How to use?

[code]

## New Features

* Dial a TCP connection from a specific Local Interface/IP Address #226 @jeevatkm
* On-Demand Resty Request/Responce tracer,  #216 @jeevatkm, see [TraceInfo](https://godoc.org/github.com/go-re

[2019-06-18 04:59] jeevatkm commented on #240
@pborzenkov I have written a small test case for the scenario you have described. I didn't see any errors (This is the upcoming v2 branch, notably this particular part should be same as v1).

Could you please have a look this https://github.com/go-resty/resty/commit/01e423c55b6f5cb2c8068be61f779b0c89593e26?

Let me know what you're trying to explain. If possible provide an example or test case to

[2019-06-18 15:03] RafPe commented on #248
@jeevatkm it exactly does - thanks

[2019-06-18 15:03] #248 closed

[2019-06-18 18:04] jeevatkm commented on #242
@Irita Just wondering, `SetPreRequestHook` isn't helpful for this use case? Could you check and confirm?

[2019-06-19 03:49] lrita commented on #242
I think `SetPreRequestHook` given user a good chance to do this. And it must provide a method like `http.Request.GetBody func() (io.ReadCloser, error)` which return a new copy of payload. Because the payload of given request maybe in `Request.bodyBuf` or `Request.Body` that make users to get payload easily even if they does not well known the internal of go-resty/resty.

[2019-06-19 08:36] jeevatkm commented on #235
I'm closing this one, preparing for v2 release.

[2019-06-19 08:36] #235 closed

[2019-06-19 09:08] pborzenkov commented on #240
@jeevatkm

That's exactly what I was talking about. I'd have expected the `err` to be non-nil, since the response doesn't have the expected structure (`AuthSuccess`). But since Content-Type isn't a JSON, resty doesn't even try to parse it. That's why I proposed to always try and parse the response if `SetResult` has been called, even if the response doesn't have proper Content-Type.

[2019-06-19 09:34] jeevatkm opened #251 "v2 Release error with go mod"
I have tried to make a release v2 with the following approach
* Merging into master
* Having v2 branch

Not sure, what is missing? ran into an error. So reverted the master back to the previous state.

May be go mod vs `github.com/go-resty/resty` vs `gopkg.in/resty.v1` - Need an investigation!!

[code]

[2019-06-19 09:36] jeevatkm commented on #251
Hello Resty users, if anyone has insights about an error and possible solution, please post your inputs here.

[2019-06-19 22:03] 1995parham commented on #251
Hi, I have tried to do this in a forked repository [here](https://github.com/1995parham/resty) and test it with one of my project [here](https://github.com/I1820/tm/tree/master/client). I think this is working.

[2019-06-20 11:13] RafPe opened #252 "Accessing request body in tests"
Hi,

I might be missing something here so would appreciate some guidelines if this is the case.
I'm using resty client to make API calls. That works as expected. To complete the development I began to write tests and this is when I came across a problem.

One of the tests needs to validate that request body matches specific type however when I try to get the request body it is not available

[code