[2019-06-21 05:58] jeevatkm commented on #251
@1995parham Thank you for your inputs, I will have a look at your reference and try it out.

[2019-06-21 17:28] asauber commented on #247
I wasn’t able to modify properties of that RoundTripper, so I ended up using the the default client and adding the `Authorization: ` header manually. Works fine. Feel free to close.

[2019-06-22 07:21] 1995parham commented on #251
@jeevatkm I am available if there is anything that I can do.

[2019-06-26 17:07] janekolszak opened #253 "SetAuthTokenFunction()"
Hi,
Thanks for this great package!

Can you add `SetAuthTokenFunction(fun()(token string, err error))`? You'd pass a function to retrieve the token.

Cheers,

[2019-06-27 09:23] #253 closed

[2019-06-29 19:43] jeevatkm commented on #251
@1995parham I have looked at your changes. I understand go mod expects the `/v2` suffixes across  on library/package side.

However why it is needed on consumer side go mod definition with `/v2`-

https://github.com/I1820/tm/blob/b5f5457edb4da120c8899a26f54d4d3d8d0f0076/client/go.mod#L7

My understanding on consumer go mod is -

[code]

Am I missing something?

[2019-06-29 19:53] 1995parham commented on #251
As you can find it [here](https://github.com/golang/go/wiki/Modules#releasing-modules-v2-or-higher) major branches need a specific version on their module name. It protects the consumer from major upgrades that break compatibility.

[2019-06-29 20:05] jeevatkm commented on #251
@1995parham Yes, you're correct on resty library side changes. I was checking with you about the resty users go mod file definition. I believe on resty user side only `github.com/go-resty/resty v2.0.0` needed without `/v2` suffix.

I need to verify my understanding and also thought to check with you.

[2019-06-29 20:09] 1995parham commented on #251
I think you can do it without adding `/v2` on the user side but some libraries like [echo](https://github.com/labstack/echo) have done that.

[2019-06-29 20:48] jeevatkm commented on #251
@1995parham okay, basically its a user choice 😄 to change their import path or not. Thanks.

I will get this mod part working for Resty.

[2019-06-29 21:02] 1995parham commented on #251
@jeevatkm I want to thank you again for this awesome package 🙌

[2019-07-16 20:40] 1995parham commented on #251
@jeevatkm Is there anything that I can help with to release the v2?

[2019-07-17 05:16] jeevatkm commented on #251
@1995parham Nice timing, I just made v2.0.0 test tag. Can you please test it and ping me?

In the mean-time I will wrap up the release notes.

[2019-07-17 06:09] 1995parham commented on #251
@jeevatkm Awesome 👍 I will test it and let you know

[2019-07-17 20:50] 1995parham commented on #251
@jeevatkm I have tested the new version and I think its working 💪

[2019-07-17 22:57] viseth opened #255 "RESTY request is being called twice when the request handler at the API endpoint is taking a long to time to process"
Hi

I've been using RESTY for 2 project and it'an amazing work.
I've come across the following issue after upgrading to RESTY v2.

It looks like the RESTY request is being called twice when the request handler at the API endpoint is taking a long to time to process and give an answer back. The final answer I got from the RESTY request is net::ERR_EMPTY_RESPONSE.
I haven't noticed such behaviour in

[2019-07-18 00:06] jeevatkm commented on #251
@1995parham Thanks for your testing and validation.

[2019-07-18 00:06] #251 closed

[2019-07-18 00:08] jeevatkm commented on #255
@viseth Thank you for reporting an issue. Could please you help me with some test case? I will also look at my end.

[2019-07-18 08:31] janekolszak opened #256 "Rate limiting outgoing requests"
Hi!
Thank you so much for this project, it saved me a lot of time!

Do you plan on adding a per-endpoint rate limiter, or a global rate-limiter of outgoing requests?

Thanks

[2019-07-18 10:08] viseth commented on #255
@jeevatkm

Please, here's a small test case. Hope this help.
https://github.com/viseth/TestCaseRESTY

Thanks,

[2019-07-18 10:31] janekolszak opened #257 "SetCookie per request"
Hi,
Shouldn't there be a SetCookie method for a Request?

[2019-07-20 08:03] jeevatkm commented on #255
@viseth Thank you for the test case and detailed description, I appreciate it. I will look into to it.

[2019-07-20 08:13] jeevatkm commented on #256
@janekolszak Thank you for your appreciation and suggesting a new feature in Resty as client-side rate-limiting. It will be a good addition.

Typically server-side rate-limiting is known for, it would be good to try out on client-side too. If you have a design suggestion or recommendation. Please post here on the thread.

Currently, I'm bit occupied in at my day work. I will get to it once I get t

[2019-07-20 08:20] jeevatkm commented on #257
@janekolszak yeah currently no easy to set cookie method at request each level. As you know it only exists at the client level.

I will add it, it's fairly straight forward to implement. If you're interested you can take a stab at it.

Stopgap suggestion:

Maybe you can try using the [SetPreRequestHook](https://godoc.org/github.com/go-resty/resty#Client.SetPreRequestHook) until this enhancements c

[2019-07-20 08:23] jeevatkm commented on #252
@RafPe I'm sorry to respond late. Did you get a chance to manage it or still stuck?

[2019-07-20 08:25] jeevatkm commented on #247
@asauber Thank you for the updates. I'm sorry to hear you're unable to use Resty for your use case. I will try to think of easy to use solution around it.

[2019-07-20 08:25] #247 closed

[2019-07-20 08:28] RafPe commented on #252
@jeevatkm unfortunately not - is there something easy and obvious Im missing out ?

[2019-07-20 08:32] jeevatkm commented on #252
@RafPe No worries, I will assist you. Could share your one test case, so that I could try out at my end to see what's happening. Ideally, you will be able to access it.

[2019-07-20 08:37] RafPe commented on #252
There are 2 tests files there - been busy trying to workout some approach https://github.com/apiheat/go-edgegrid/tree/path-refactor/service/netlistv2

[2019-07-20 08:45] jeevatkm commented on #252
@RafPe Thank you for the reference, I will have a look.

[2019-07-23 16:16] viseth commented on #255
@jeevatkm did you manage to reproduce the issue by any chance ?
Thanks,

[2019-07-24 07:50] jeevatkm commented on #255
@viseth I did not verified yet, sorry for the delay. Once I finish my analysis I will get back to you.

Also one thing I noticed while going through your project. You're currently using `v1`; could you please try `v2` and let me know? There are fixes and improvements happened in retry logic and around it. Thanks!

[2019-07-24 10:02] viseth commented on #255
@jeevatkm actually I'm using v2 (go-resty/2.0.0) ?
in the test case :
import (
	"fmt"
	"time"
	"github.com/gin-gonic/gin"
	// resty.v1
	//"gopkg.in/resty.v1"
	"github.com/go-resty/resty"
)
Thanks,

[2019-07-24 22:07] kotyara85 commented on #230
Having the same issue,
My go.mod is :
gopkg.in/resty.v2 v2.0.0

$ GO111MODULE=on go mod vendor
go: gopkg.in/resty.v2@v2.0.0: go.mod has non-....v2 module path "github.com/go-resty/resty/v2" at revision v2.0.0

[2019-07-29 07:27] RafPe commented on #252
@jeevatkm any update you could post on this one ? I would like to have tests in my framework and this is kinda show stopper now :/

[2019-07-29 11:15] janekolszak commented on #257
I'm just using SetHeader for now

[2019-07-30 00:10] viseth commented on #255
@jeevatkm any progress on this issue. Otherwise I will need to rework the ajax call with callback.
Thanks,

[2019-07-30 03:23] dillon-giacoppo opened #258 "json content-type with charset not supported by some servers"
Hello! I am using this to write a client for Artifactory. It looks like they do naive content-type parsing and do not accept `charset=utf-8` in "application/json; charset=utf-8".

Section 6 of the `application/json`  [RFC](https://tools.ietf.org/html/rfc4627) states the media type has no optional or required parameters. Therefore whilst the Artifactory API might not be very robust, it is technical

[2019-07-31 07:02] jeevatkm commented on #258
@dillon-giacoppo Typically if you set the `Content-Type` header value in the request, Resty will not override user provided value.

[code]

Can you please try and let me know?

[2019-07-31 07:05] jeevatkm commented on #255
@viseth I'm really sorry I couldn't get a chance to test and investigate it.

Just for my understanding, are you able to use `v2` without using import of `github.com/go-resty/resty/v2`?

[2019-07-31 08:17] jeevatkm commented on #252
@RafPe Based on branch `path-refactor` mentioned in the thread.

It seems you have a logic issue on your file `signer.go` at method `makeContentHash`

https://github.com/apiheat/go-edgegrid/blob/aec67be40ffb180857f9520ef125eba210c47d72/edgegrid/signer/signer.go#L170

Incorrect one: `req.Body = ioutil.NopCloser(bytes.NewBuffer(buf))`
Correct one: `req.RawRequest.Body = ioutil.NopCloser(bytes.NewBuf

[2019-07-31 08:22] jeevatkm commented on #230
@kourtni For `v2` usage please refer to readme at https://github.com/go-resty/resty#installation and usage.

There are breaking changes in `v2` release, please refer to release notes https://github.com/go-resty/resty/releases/tag/v2.0.0 at `Breaking Changes - Migrating v1.x to v2`

[2019-07-31 09:31] viseth commented on #255
@jeevatkm actually I am using v2 with the following import: "github.com/go-resty/resty"

[2019-08-01 08:50] RafPe commented on #252
Thanks for all your help - problem solved :D

[2019-08-01 08:50] #252 closed

[2019-08-03 13:12] janekolszak commented on #256
One options is to use github.com/didip/tollbooth since it 's already battle tested and simple.

Create the limiter with something like this
[code]

When making the request just use
[code]

For a global, per-client limiter <some key> would be a const string. But one could also use per remote endpoint limiting.

This would be an overkill if we only need a global per-client limiter. It'd introduce a

[2019-08-03 13:16] janekolszak commented on #256
I think that the best option is to use https://godoc.org/golang.org/x/time/rate and just create one limiter per resty client. When making the request we'd just run `limiter.Wait(ctx)` this way we could achieve a useful feature - constant rate of outgoing requests.

Let me know if you want me to write it.

[2019-08-05 00:06] dillon-giacoppo commented on #258
I have already worked around the issue with a pre-request hook that converts the header if it exists so I don’t have to include it on every request. It does however seem from looking into this, that the shorter form will have better compatibility with servers that do naive string matching and is RFC compliant while adding the charset parameter is not, so it may be a worthwhile change regardless

[2019-08-05 13:58] matthewpoer opened #260 "Debug doesn't reveal cookies"
Resty Debug doesn't reflect all of the cookies that are being used.

After using resty to make an API authorization, my API's server responds with a `Set-Cookie:` which Resty handles excellently. The presence of the new cookies is verified in the current client's cookie jar, e.g. the below has plenty of output, including the API's authorization token.

[code]

However, when using Debug mode with R

[2019-08-07 21:31] viseth commented on #255
@jeevatkm any progress?

[2019-08-09 08:10] zsspj12 opened #262 "http or https return stream, How to handle"
Hi!
 As title, In your project, I don't find function to handle http or https request response stream(the request still run)。Can you help me? @jeevatkm

[2019-08-14 14:11] sgon00 commented on #41
Now 2019, the example code above should put in README.md. Without this issue and the code, I have no ideas what to do.

[2019-08-16 12:34] rightjoin opened #263 "how to release memory?"
Hi,

Thanks for creating this fantastic library. I was playing around with it and noticed a few things.

If I create a single client, my memory used for 25K requests is only 15MB (approx)

If I create 500 clients (and each client performs 50 requests), then I use 50MB approx.

If I create a new client per request (approx 25K clients and 1 req per client), then I use 125MB.

I tried other ways also

[2019-08-27 12:18] sunsingerus opened #264 "How to use resty with github.com/golang/dep/?"
Tried to use *resty* with `dep`-enabled project and have the following issue.
Start point:
`Gopkg.toml` code:
[code]
Run `dep ensure` and got:
[code]
Probably related to [this issue](https://github.com/golang/dep/issues/899)

Can you, please, give an advice?

[2019-08-30 19:54] ssmails opened #265 "Is there a way to send a map[string]interface{} instead of map[string]string to SetQueryParams for resty?"
When using resty, sending query for GET using SetQueryParams(paramsMap) does not work. The same query when sent as part of the URL using Get(url) is ok.

"github.com/go-resty/resty"

client := resty.New()
resp, err := client.restyClient.R().
		SetHeader("Accept", "application/json").
		SetQueryParams(paramsMap).
		//Get(url)

DOES NOT WORK-
paramsMap before sending
INFO[0000] Params Map map[q:cicd

[2019-09-07 23:39] jeevatkm commented on #265
@ssmails Thanks for reaching out.

Following methods does not do any data type conversion, it only does compose query with values provided by you:
* https://godoc.org/github.com/go-resty/resty#Request.SetQueryParams
* https://godoc.org/github.com/go-resty/resty#Request.SetQueryParamsFromValues
* https://godoc.org/github.com/go-resty/resty#Request.SetQueryString

It is always good; the resty user p

[2019-09-07 23:47] jeevatkm commented on #263
@rightjoin Thank you for your appreciation.

If you more resty client, I would suggest using no of clients based logic grouping. Technically there is no point creating more resty clients. Since resty has support fully qualified support for each request, you feel free to use one or fewer resty clients for your purpose.

In Go typically releasing memory is assigning `nil` to object then garbage coll

[2019-09-07 23:50] jeevatkm commented on #262
@zsspj12 For stream scenario, Resty users have to handle it explicitly.

* Use https://godoc.org/github.com/go-resty/resty#Request.SetDoNotParseResponse option
* Read your stream response based on your use case using https://godoc.org/github.com/go-resty/resty#Response.RawBody

[2019-09-07 23:56] jeevatkm commented on #264
@sunsingerus I have only tested with `go mod` not `dep` I might have to try it out.  I'm sorry I don't have a suggestion or recommendation right now.

[2019-09-07 23:59] jeevatkm commented on #260
@matthewpoer Thank you for reporting an issue and also submitting PR for the debug log.

[2019-09-08 01:53] jeevatkm commented on #258
@dillon-giacoppo Okay, I will update the JSON content-type without charset in the next release.

[2019-09-08 03:53] jeevatkm commented on #255
@viseth I'm sorry for the delay. I have tested with your test case program from https://github.com/viseth/TestCaseRESTY

**Test result:** Issue is with your web application AJAX request is timing out. Both of your GoLang program of monitor and web server requests are working fine using Resty.

----
What did I do to test your use case?
* I took your test case code base
* Add go.mod file into both t

[2019-09-08 03:53] #255 closed

[2019-09-08 18:47] jeevatkm commented on #258
@dillon-giacoppo I have done changes in branch `json-content-type-no-charset` can you try it out and let me know?

[2019-09-08 20:42] jeevatkm commented on #257
@janekolszak I have added cookie method for request instance in branch `add-set-cookie-in-request`. Can you try it out and let me know?

[2019-09-09 01:06] jeevatkm commented on #242
@lrita I have added `GetBody` method support in the branch `expose-request-body-copy`.  It is available for you to use in `PreRequestHook`. Please give it try and let me know.

[2019-09-09 11:16] lrita commented on #242
Hi @jeevatkm, I have checkouted and tested the branch, it looks gooood.

[2019-09-09 13:25] jeevatkm commented on #242
@lrita Thank you for your testing and confirmation 😄

[2019-09-09 13:27] #242 closed

[2019-09-10 21:14] kmanley opened #270 "Debug emits incorrect body when body contains %"
If the request body contains a % (e.g. because it has urlencoded form data) then the debug logger attempts to interpret the body as a format string with no params, because it uses Logger.Debugf which uses Printf. This causes the output to show printf errors.

You end up with something malformed in the debug output like this
[code]

This is bad because the whole point of the debug output is to show

[2019-09-10 22:06] jeevatkm commented on #270
@kmanley  Thank you for reporting an issue and PR too :smile:

BTW, `v2.1.0` is not released yet. Are you using Resty library directly without any package management tool (go mod, etc.)?

[2019-09-11 00:11] kmanley commented on #270
Hi @jeevatkm yes I am using latest resty via go get.

[2019-09-11 01:31] jeevatkm commented on #270
@kmanley Okay, thanks I have merged your PR into master.

[2019-09-11 01:32] #270 closed

[2019-09-11 01:53] kmanley commented on #270
Great - thanks for making resty it has saved me a lot of time 👍

[2019-09-11 03:40] jeevatkm commented on #270
Thank you @kmanley

[2019-09-11 05:38] iveeshal opened #272 "How to get content length without downloading the file"
I want to show a progress bar in my console while downloading the file.. How can get size of file even without downloading the file. How to support such usecase?

[2019-09-11 07:04] littlexiang opened #273 "retry on timeout?"
How to make retry work on timeout conditions with AddRetryCondition enabled?

[2019-09-11 08:03] littlexiang commented on #273
seems work by check error
`
AddRetryCondition(
				func(r *resty.Response, err error) bool {
					if err != nil {
						log.Println("retry on Error:", err.Error())
						return true
					}
					if (r.StatusCode() == http.StatusBadGateway) || (r.StatusCode() == http.StatusGatewayTimeout) {
						log.Println("retry on Http Error:", r.StatusCode())
						return true
					}
					return false
				},

[2019-09-11 08:03] #273 closed

[2019-09-12 06:59] zhenzou commented on #272
You can try a HEAD request and get the Content-Length header field.

[2019-09-15 02:57] jeevatkm commented on #262
I'm closing this issue.

[2019-09-15 02:57] #262 closed

[2019-09-15 02:57] jeevatkm commented on #263
I'm closing this issue.

[2019-09-15 02:57] #263 closed

[2019-09-15 02:57] jeevatkm commented on #265
I'm closing this issue.

[2019-09-15 02:57] #265 closed

[2019-09-15 03:01] jeevatkm commented on #272
@iveeshal As @zhenzou described, you will have to try that. If the server supports the `HEAD` request, you will be able to get the value. Also, this use case is not related to any HTTP client or Resty capabilities.

[2019-09-15 03:01] #272 closed

[2019-09-18 07:49] janekolszak opened #274 "Support for multiple host urls"
Hi!
It would be really, really practical if there was SetHostURLs() that accepts multiple addresses.  Resty would choose one of them upon each request. This could be configurable as well, but a random choice at first could suffice.

Cheers!

[2019-09-22 18:07] jeevatkm commented on #274
@janekolszak Thanks for bringing up your thoughts.  I'm not sure how it will benefit to Resty users in a practical use case. Are you trying to say client-side load balancing?

[2019-09-23 09:00] janekolszak commented on #274
Yeap - simple client side load balancing

[2019-09-30 10:59] sgon00 opened #275 "why doesn't SetResult work?"
My Code:

[code]

Output:

[code]

I really can't figure out what's wrong with the code for a long time.

[2019-09-30 11:45] sgon00 commented on #275
I figured out why. The server returns content-type text/plain instead of json...

[2019-09-30 11:45] #275 closed

[2019-09-30 14:45] sgon00 opened #276 "Is that possible to force response content-type when it's wrong?"
I find out there is an option to provide fallback content-type when it's not available in response. But what if the response has a wrong content-type? Can I force a correct content-type? For example with the following code, I expect to see a application/json content-type:

[code]

But  the server incorrectly replies a json plain text with content-type text/plain. It's a json format in a plain text

[2019-10-09 10:44] z0al commented on #192
@zyp0209 how did you fix your issue? I see logs like this and all my attempts failed:

[code]

Note: I know the cause of the error above, but I want to disable `RESTY` from logging it (returning the error is enough for my case)

[2019-10-09 14:06] avorima commented on #264
I would suggest moving everything in the master into a v2 subdirectory.

[2019-10-10 05:58] #260 closed

[2019-10-10 06:07] jeevatkm commented on #260
This issue has been addressed via PR #261, thank you.

[2019-10-10 06:08] jeevatkm commented on #264
@avorima Thank you for the updates.

@sunsingerus Any updates?

[2019-10-10 06:13] jeevatkm commented on #276
@sgon00 Thank you for reporting your experience.

Currently, you can provide fallback but you cannot force response content type. However, I see a similar nature of requirement in #240

I will think about it and get back to you.

[2019-10-10 06:16] jeevatkm commented on #274
@janekolszak Thanks, I see a use case. However, I'm not sure about how much this feature going to helpful to the broader audience.

I will keep this open, will implement it later when I get a chance.

[2019-10-15 06:43] coolyrat opened #278 "retry condition can't throw error"
Thank you for creating such a useful library!

I check the response body in the RetryConditionFunc. And If the response body is invalid, I will return true to retry. But after maxRetry, it will still output the response. What I want is to return an error, so after maxRetry, it will return the error instead of the invalid response.

[2019-10-23 11:42] smaheshs opened #279 "Disable automatic content-type setting"
Hi,

As per the documentation, for a request if we do not set the content-type, resty automatically detects the content and sets the header if the 'Content-Type' is not set by the client code.

Is there some way to disable this automatic content type detection and setting at a per request level?

Thanks.

[2019-10-24 05:23] jeevatkm commented on #279
@smaheshs  Resty does not allow you to disable. It's either you can set or it's set it.

Typically HTTP request needs a `Content-Type` at least `application/octet-stream`. May I know your use case to better understand? That way we can think about it.

[2019-10-24 05:26] jeevatkm commented on #278
@coolyrat Sorry for the delayed response. Can you please provide some unit tests to describe the problem?  So that I can understand better and think of what needs to be done.

[2019-10-24 07:04] smaheshs commented on #279
Hi,

Have received documentation for few REST endpoints to be integrated as per which there is no Content-Type mentioned for any of the requests.

Do not have access to these APIs yet, so not able to tell for sure if Resty's auto content-type setting causes problem, but raised issue preemtively to avoid delays later in case it causes issue.

Thanks.

[2019-10-29 15:36] zhangguanzhang opened #281 "Should not print body content under body for boundary"

[2019-11-05 07:15] j3ssie opened #282 "How to disable error log when using SetRetryCount"
Hi, My resty client look like this
[code]
Whenever I send request to error url I get this error.
`2019/11/05 13:40:40.504114 ERROR RESTY Get https://myerror.host: auto redirect is disabled, Attempt 1`

My question is how to disable it? because I need to send request to a list of urls so I might get to some error url like this. It's doesn't show this error if I'm not using `client.SetRetryCount(3)`

[2019-11-10 13:58] huzairuje commented on #264
@jeevatkm i am using v2.1.0 and add to Gokpg.toml like this
`[[constraint]]
  name = "github.com/go-resty/resty"
  version = "v2.1.0"`
not having problem. with dep ensure
and i think this issue with version v2.1.0 is solved

[2019-11-12 02:03] jeevatkm commented on #264
Thank you @huzairuje for verifying and confirmation for `v2.1.0`.

[2019-11-12 03:28] #264 closed

[2019-11-12 03:30] jeevatkm commented on #279
@smaheshs Okay, let me know after you get access to your APIs docs. For now, closing this one.

[2019-11-12 03:30] #279 closed

[2019-11-12 03:31] jeevatkm commented on #278
@coolyrat can you share some unit test case to describe the issue?

[2019-11-12 03:32] jeevatkm commented on #281
@zhangguanzhang Can you please describe the issue in detail with example?

[2019-11-12 03:40] jeevatkm commented on #282
@j3ssie You can disable particular error logs. However, you can implement your own logger to control the output. Resty logging is interface -
https://github.com/go-resty/resty/blob/0b8565526124c3958f30ee0fe3d9a37886f73515/util.go#L30-L34

And then set it to the resty client using https://godoc.org/github.com/go-resty/resty#Client.SetLogger

[2019-11-12 04:37] zhangguanzhang commented on #281
If I post a binary file, the file stream will be printed out by debug.

[2019-11-12 04:37] zhangguanzhang commented on #281
or post a pic

[2019-11-12 05:34] j3ssie commented on #282
Hi @jeevatkm,
I saw `SetLogger` function in the docs but still doesn't know how to use it (sorry because I still a beginner in golang) 😂.

Can you provide simple client config to disable it?
Regards,

[2019-11-13 10:27] jose-sanchezm opened #283 "Debug mode not working in 2.1.0"
I'm using resty v2.1.0 with Go version 1.13.4 in Linux and I'm unable to get debug information for resty calls. I've prepared a little test at https://github.com/jose-sanchezm/resty_test with a couple of calls setting setDebug as true and with and without a logger. Then running the test I get the following output:

[code]

And no trace of the request or response sent to the server. Is there anythi

[2019-11-13 15:43] jeevatkm commented on #283
@jose-sanchezm Thanks for reaching out.

There are two issues in your code.
* Incorrect URL is used in both requests
* Log level is not set in logger instance, before passing it to Resty

[code]

[2019-11-14 07:07] j3ssie commented on #282
I solved the problem by using this code below to disable error log.
[code]

[2019-11-14 07:07] #282 closed

[2019-11-17 16:03] xixinjie opened #285 "Trace context overrides request context if EnableTrace"
If set a cancellable context and enable trace, the request context will be overridden by the trace context, thus cancellation not working any more.
[code]

To fix it, we can create a trace context based on request context if specified, see PR https://github.com/go-resty/resty/pull/284

[2019-11-18 16:17] jeevatkm commented on #283
I'm closing it, answer provided above.

[2019-11-18 16:17] #283 closed

[2019-11-18 16:19] jeevatkm commented on #285
Merged #284 👍

[2019-11-18 16:19] #285 closed

[2019-11-21 01:41] FM-96 opened #287 "See upload progress of file upload"
Is there a way to see the how many bytes have been uploaded already when uploading a file (as a multipart field)? I've tried displaying the reading progress of the reader, but that doesn't work because resty seems to read the entire file at once.

(I'm new to Go, so I apologize if there is an obvious solution to this that I'm just not seeing.)

[2019-11-22 07:54] ruinshe opened #288 "Does this library support dry-run?"
I'm using this library for our internal project's command line tools, and I met a problem that we need a customized flag `--dry-run` to print all useful information but the request will not really sent.

Currently I added a util package to print the client object directly in `client.OnBeforeRequest` if the dry run mode is enabled then let the function return not `nil` error, and it seems not a goo

[2019-11-22 16:57] phillc opened #289 "Retries carry error to a success"
Hello,

I have experienced this in my code base as have translated it to a test in the code base.

In this test case, I have an error (should be anything >399) on a json request with SetError for the first request, and then a successful second request.

I also have a retry condition that is looking for the first error

The result of the execution has the body of the second request, but the error o

[2019-11-22 18:24] phillc commented on #289
I think this solves the problem, but I'm not 100% sure this is the right solution. https://github.com/go-resty/resty/pull/290/commits/6572463ad1bf3dd920f392c7f228b33951f01c1c

[2019-12-01 20:00] jeevatkm commented on #289
@phillc It's a correct spot of resetting an error, the same request object is used for retry. Thanks, PR #209 is merged!

[2019-12-01 20:00] #289 closed

[2019-12-11 07:35] viennadd commented on #281
I got a similar requirement here,
the `debugBodySizeLimit` of resty client works only on response logger,
but not on request logger, resty will log the whole file content in strings when i try to post a file to some API

i think we should apply debugBodySizeLimit on request logger as well
@jeevatkm

[2019-12-11 12:00] volodimyr opened #291 "resty: concurrent map writes"
[code]

Recently my service panic due to this reason. As far as I understand it makes value copy of `http.Trasport{} ` somewhere and sometime when service calls `.SetHeader()` it panics.
A related issue in Golang community: https://github.com/golang/go/issues/31352

Service creates new resty client by using the next method and injects them in each controller:
[code]
Can you help me?

[2019-12-11 15:38] moorereason commented on #291
@volodimyr, did you run `go vet` on your project?  What release of Go and resty are you using?

[2019-12-11 21:09] volodimyr commented on #291
@moorereason
go: 1.11
We used gopkg.in/resty.v1 v1.12.0 and panic occurred.
Now we use github.com/go-resty/resty/v2 v2.1.0 and panic still occurs.

`go vet ./...` gives me nothing sufficient.

[2019-12-13 15:29] volodimyr commented on #291
We shot ourselves in the foot. Basically, we share the client between controllers. In one of the case we simply did next:
`r.client.SetHeader("X-AUTH-TOKEN", xAuth).SetHeader("Content-Type", "application/json").`
instead of
`r.client.R().SetHeader("X-AUTH-TOKEN", xAuth).SetHeader("Content-Type", "application/json").`

[2019-12-13 15:29] #291 closed

[2020-01-03 13:30] iiiusky opened #292 "Can You Add two new usage functions？"
Can You add a method to directly obtain all the original request packets and response packets? It is convenient to output to the log center to understand the entire process of sending packets at that time. Similar to the following
[code]

[code]

[2020-01-08 13:56] JonnyPillar opened #293 "TraceInfo Function Panics If Tracing Is Not Enabled"
Hi, I came across an issue today where TraceInfo() panics when called and EnableTracing has been called. (Version v2.1.0)

Example based on [SimpleGet](https://github.com/go-resty/resty#simple-get) (https://play.golang.org/p/n1EvoADpC3P)

[code]

[code]

Running with EnableTrace wont panic (As expected)
[code]
[code]

This might be intentional behaviour but a simple nil check and maybe returning a

[2020-01-08 22:49] jeevatkm commented on #293
@JonnyPillar Thank you. You're correct I have kept it intentionally. Also, I agree with you having a nil check. Please feel free to send PR, appreciated 😄

My suggestion is to return an empty trace info object instead of the error.

[2020-01-08 22:56] jeevatkm commented on #288
@ruinshe I think it would be best to add the dry run option in the Request object. Having a flag in the request to drop the outgoing request.
E.g. `client.R().DoDryRun()`

If you're interested, you can submit PR otherwise I will take it up later on 😄

[2020-01-08 22:59] jeevatkm commented on #292
@iiiusky Typically this information gets logged in the Debug mode of Resty. Having debugged mode enabled will have some performance difference. So please test it out for your use case and decide it.

[2020-01-08 23:04] jeevatkm commented on #287
@FM-96 I'm sorry for the delayed response. Resty does read the entire request body in the memory before sending request BUT NOT ALL THE CASES.

If Body is supplied to Resty as interface `io.Reader` then resty does not read entire content instead it passes that interface to Go HTTP client as-is.

So you can build progress info at your end 😄

[2020-01-08 23:07] jeevatkm commented on #281
@zhangguanzhang @viennadd Sure, I understand. We can apply it to request logger too.

If you're interested you can submit PR otherwise I will take it up later on 😄

[2020-01-09 01:00] ruinshe commented on #288
@jeevatkm Maybe I don't have much time in current stage, for free take it up..

Besides, I will take a look if I have time later.

[2020-01-09 02:07] jeevatkm commented on #288
@ruinshe Thanks, no worries. I will take it up later.

[2020-01-09 10:41] JonnyPillar commented on #293
@jeevatkm Agreed. No need to change the API then. Will get the PR to you soon

[2020-01-10 07:44] pelly-ryu opened #294 "Can't parse 'struct' body when http method is GET"
https://github.com/go-resty/resty/blob/7a9880107942440bdca20fe3e7217022ee35da73/util.go#L236-L238

This function prevents it.

but If I pass a byte buffered body, then it works.

---

About HTTP GET and request body:

 - https://stackoverflow.com/a/983458

[2020-01-10 17:08] FM-96 commented on #287
That is weird then. I *am* passing an `io.Reader` to it (I think), but it is definitely reading the whole file into memory first.

This is the relevant part of my code, for reference:
[code]

[2020-01-11 01:54] viennadd commented on #281
I would like to submit a PR later tomorrow @jeevatkm 😀

[2020-01-11 05:32] jeevatkm commented on #287
@FM-96 You code snippet example is multipart form, it is not the use case what I referred above for `io.Reader`.

[2020-01-11 12:47] theblackturtle opened #295 "Redirect History support"
Hi, I think it will be nice if you support Redirect history logs.

[2020-01-11 13:54] FM-96 commented on #287
Yes, like I mentioned in the original issue, I'm uploading a file as a multipart field. So there is no way to do what I need with this library then?

[2020-01-11 20:20] jeevatkm commented on #287
@FM-96 I understand and I agree about your original issue. I have overlooked the word `multipart`.
I'm sorry for the confusion I have caused with my initial response about `io.Reader`.

Let's get the facts clear this time.

Per HTTP RFC specification, Its not feasible to build file upload progress info since multipart data sent with boundary metadata and complete file content and form fields. **_B

[2020-01-11 20:22] #293 closed

[2020-01-11 20:31] jeevatkm commented on #294
@pelly-ryu Thanks for reporting an issue and discussing your concerns. I'm aware of the RFC updates in this aspect.  There was an option added to Resty in the PR #82 to allow sending the body in the GET request.

This method `SetAllowGetMethodPayload()` is the one you need here. Can you please try it out and share your feedback?

In the future, we can make this a default behavior to allow it.

[2020-01-11 20:32] jeevatkm commented on #295
@theblackturtle Thank you for suggesting a feature in the Resty.

[2020-01-15 07:37] jeevatkm commented on #281
PR #297 is merged, closing this one. Thanks.

[2020-01-15 07:37] #281 closed

[2020-01-18 14:24] sidtelco commented on #52
I tried but it not works

`require github.com/go-resty/resty/v2 v2.1.0`

`
resp, err = client.R().
		EnableTrace().
		SetHeader("Accept", "application/json").
		SetResult(map[string]interface{}{}).
		Get("https://...../person/filtered")

	if err != nil {
		panic(err)
	}
`
panic: json: cannot unmarshal array into Go value of type map[string]interface {}

[2020-01-22 03:12] iiiusky commented on #292
In my program, I need to record the original request and response. The debug mode does not meet my needs. My current solution is to use httputil in OnAfterResponse to store the string in the header for use. If you can set a switch in the client to set whether to record the original request and response, and you can set the specified maximum body byte, then you can read the recorded string from two

[2020-01-23 04:31] codenoid opened #299 "ignore SSL"
how to ignore ssl my friend

[2020-01-23 14:34] moorereason commented on #299
Try reading the README.

[code]

[2020-01-23 15:25] codenoid commented on #299
wow thankyou mister

[2020-01-23 15:25] #299 closed

[2020-01-24 12:00] grafael opened #300 "Getting Body size 0"
For some **POST** requests I'm getting Body length = 0 error.
I did the exact same request using curl and worked properly, also I did use pure **http.request** and worked. I have no idea what else I could configure to get that working.

Snippet:

[code]

http: ContentLength=181 with Body length 0

[code]

[2020-01-27 15:33] fewpiwork opened #301 "setproxy is global ?"
`package main

import (
	"fmt"
	"github.com/go-resty/resty/v2"
)

func main() {
	client := resty.New()
	get, err := client.SetProxy("http://127.0.0.1:1087").NewRequest().Get("http://members.3322.org/dyndns/getip")
	fmt.Println(string(get.Body()), err)
	client2 := resty.New()
	get2, err := client2.NewRequest().Get("http://members.3322.org/dyndns/getip")
	fmt.Println(client2.IsProxySet())
	fmt.Print

[2020-01-27 15:52] #301 closed

[2020-01-29 11:44] fewpiwork opened #302 "OnAfterResponse."
I want to automatically process cookies, but. It seems that OnAfterResponse will not call when redirection occurs

any example?

![image](https://user-images.githubusercontent.com/32926982/73354031-b163e980-42cf-11ea-83a3-2d16fd79eac3.png)

[2020-01-30 10:31] IvanRibakov opened #303 "Unable to get latest v0 version with Go Modules"
I'm using API bindings generated by `swagger-codegen` v2.2.3 which imports Resty like this:

[code]

When I execute `go build` on the project, `go.mod` for my project is updated with following entries:

[code]

and build fails with the following error:

[code]

If I manually change `v0.4.1` to `v0.13` I get `go.mod:8: no matching versions for query "v0.13"`.

I'm using Go Modules and go version `1

[2020-01-30 14:16] sbengo opened #304 "TraceInfo - TotalTime does not include DNSLookup time"
Hello,

First of all, thanks for this awesome library!
We are using resty to do some HTTP and API test and retrieve metrics from `EnableTrace`  and `TraceInfo` features.

After do some test, we have seen that `TotalTime` is not including `DNSLookupTime`

![image](https://user-images.githubusercontent.com/13196237/73456798-d8272c00-4372-11ea-8e9d-3cfd73fb7442.png)

On this repo README's example:

[

[2020-01-30 14:40] corvinusz opened #305 "Add logging/exporting as curl request(s)"
Hello.

Is it possible to add feature to log (or export to std/writer/...) go-resty requests as text curl commands?
Mb I just missed the way to do it.

Best...

[2020-01-30 22:20] rigrassm opened #306 "Add ability to change the token type in SetAuthToken()"
Working with an API that uses an authorization header with the `OAuth <token>` sytax and thought it would be useful to be able to specify an alternative to "Bearer" when using the helper function. Not a big deal since it can be done manually using SetHeader() but figured I'd throw out the suggestion anyways!

[2020-01-31 01:34] moorereason commented on #306
I'll propose a `SetAuthScheme` method.  I would likely need to precede the `SetAuthToken` call.

[code]

But is it worth adding to the API?  How prevalent are these alternative Authorization schemes?

[2020-02-02 00:53] rigrassm commented on #306
I like that design, simple and consice.

As far as how prevalent it is, I'd say it's likely enough to come up to warrant facilitating it(Personally have used both Bearer and OAuth in the past and am currently working with the statuspage.io API which uses the OAuth schem).

The Authorization header does have [RFC-7235](https://tools.ietf.org/html/rfc7235) and an accompanying registry that defines t

[2020-02-07 02:49] eclipseo opened #308 "v1: Tests failures w/ Go 1.14 beta1"
I don't know if you're still maintaining v1 but if it's the case, there are test errors due to a change in Go 1.14 beta 1:
[code]

See golang/go@64cfe9f
and
golang/go#29261 for the changes to Error reporting.

[2020-02-09 02:38] jeevatkm commented on #308
@eclipseo Thanks and I appreciate your issue reporting. Resty v1 support got completed last year, currently, it's not maintained.

[2020-02-09 02:38] #308 closed

[2020-02-09 02:46] jeevatkm commented on #304
@sbengo Thanks for reporting an issue. Yes, the DNS lookup time should be counted against total time. I will have a look and update the logic.

[2020-02-09 02:57] jeevatkm commented on #303
@IvanRibakov The issue you're facing is `go mod` requirement. go mod requires full semver so technically is supposed to be `v0.13.0`.

`v0.13` was released in Jun 2017, it's not `go mod` compatible.  I think you can safely try `v1.7.0` and I don't recall any breaking changes.

Can you please try and share your feedback?

[code]

[2020-02-09 06:49] jeevatkm commented on #302
@fewpiwork By default Go HTTP client treats the redirects as a separate flow.  Resty provides the [RedirectPolicy](https://pkg.go.dev/github.com/go-resty/resty/v2?tab=doc#RedirectPolicy), so can try this for cookies processing when the redirect happens.

[2020-02-09 06:51] jeevatkm commented on #300
@grafael Would you mind providing an example program to demo the issue?

[2020-02-09 19:01] #303 closed

[2020-02-09 19:12] jeevatkm commented on #303
@IvanRibakov How did it go?

[2020-02-10 08:30] sbengo commented on #304
Great @jeevatkm ! Thanks for the answer and for accepting the issue!
Ask me if you need me to test it or something else!

Thanks,
Regards!

[2020-02-13 10:50] n0v3xx opened #309 "Reduce multipart form upload memory usage!"
Hi,
the problem with this multipart form implementation is that they need huge amount of RAM. You should include an option to switch to a diffrent method where you can use io.Pipe to stream the file.
Would be great if you can implement this.

[2020-02-18 15:35] creekorful opened #311 "New release ?"
Hello back.

Do you have any date in mind for the new release?

[2020-02-18 16:07] jeevatkm commented on #311
@creekorful Most probably coming weekend.

[2020-02-18 16:10] jeevatkm commented on #309
@n0v3xx Thank you for sharing your experience. I will look into it when I get a chance.

If you're interested, you can take a stab at it too.

[2020-02-18 16:14] jeevatkm commented on #306
@rigrassm Actually, once you could add RFC & IANA reference links into godoc then I will merge your PR. Take your time 😄

[2020-02-18 16:16] jeevatkm commented on #294
I'm closing it. Thanks.

[2020-02-18 16:16] #294 closed

[2020-02-18 16:22] jeevatkm commented on #305
@corvinusz Is this similar to #292 request? can you please check.

[2020-02-18 16:28] creekorful commented on #311
Thank you!

[2020-02-18 16:28] #311 closed

[2020-02-19 11:08] corvinusz commented on #305
Seems it is not.
This issue is about generation of bash-like command line parameters for /usr/bin/curl. It will be very helpful for integration go-resty with other tools (with different langs/frameworks).

Mentioned #292 request is about logging of real network packets sent

[2020-02-19 12:24] Niondir opened #312 "Allow to update token for retries"
I would like to update my token inside the retry condition to handle invalid tokens on the fly.

Is there another way to do so?

[code]

[2020-02-24 04:42] jeevatkm commented on #312
@Niondir Thanks for reaching out.

I think you could achieve that via instance `response.Request`. Can you try and share your feedback?

[2020-02-25 09:43] jeevatkm commented on #304
@sbengo Can you please try the branch `next-dev-prep` and share your feedback?

[2020-02-27 01:05] renathoaz opened #315 "is there any reason for retries not to be configured per request?"
Hi there,
I noticed that retries are configured per client,
is there any reason not to be per request?

Should I always create a new client each time I want to change RetryCount, RetryMaxWaitTime or RetryCondition without affecting one another if it runs concurrently?

For example:
[code]
in that case I should create a new instance for each function, right ?

[2020-02-28 10:58] sbengo commented on #304
Hi @jeevatkm !

Thanks for the commit and sorry for the late answer.

I have been reviewing the original issue and I think I missed something on my first analisis (sorry!), the original `TotalTime` seems not be the sum of all times (even excluding `DNSLookup` time).

I have tried your last version directly using your `README` example and got the following results:

[code]

-  `TotalTime` is not th

[2020-02-28 16:03] jeevatkm commented on #304
@sbengo Thanks, I have noticed the difference that you're described above during analysis.  Also, I have fixed it.

Can you please confirm "You tested using codebase from branch **next-dev-prep**"?

_PS: The fix is not merged into master yet or released._

[2020-02-29 18:52] OJFord opened #316 "SetHeader "Authorization" ignored if set on the Client"
[code]

is ignored/overwritten; it must instead be add in `client.OnBeforeRequest` handler.

[2020-02-29 18:54] OJFord opened #317 "OnRequestLog, OnResponseLog fail if not SetDebug(true)"
[code]

and
[code]

have no effect without `client.SetDebug(true)`.

[2020-02-29 19:02] OJFord opened #318 "client.SetHostURL causes path to be duplicated & URL-encoded if it has a leading `/`"
[code]

Causes errors like:

The workaround is to use:
[code]

Additionally, it is important that the scheme is included in the argument to `SetHostURL`. Using `SetScheme` instead fails in the same way.

[2020-02-29 19:45] OJFord opened #319 "Method changes on redirect"
If the redirect policy allows redirection, and the request method was initially `POST`; on the redirected request it's no longer `POST`, and the response may be `405 Method Not Allowed` (very confusing if the logs aren't showing that redirection happened!) or an unexpected response/effect in the event that the method is allowed.

[2020-03-01 21:35] vlourme opened #320 "Proxies does not work"
Hi, I'm facing issues with proxies. When I use proxies with authentication (like Luminati) I'm always facing this issue : `Auth Failed (code: ip_forbidden)`

Actually I tried to set a proxy using this :
- `client.SetProxy("http://username:password@host:port")`
and I also tried to do with that :
- `client.SetProxy("http://host:port")` and putting a `Proxy-Authorization` header with `Basic <username

[2020-03-02 01:53] jeevatkm commented on #304
PR #321 addresses this bug. Thanks.

[2020-03-02 01:53] #304 closed

[2020-03-02 01:55] jeevatkm commented on #302
@fewpiwork ping!

[2020-03-02 01:56] jeevatkm commented on #300
@grafael Any updates? I think you could also explore the resty test cases to validate the resty.

[2020-03-02 02:04] jeevatkm commented on #305
@corvinusz Thanks for your response.

If you're referring to the generation of curl CLI statements/commands from Resty.  Then it might take considerable effort to bring completion factors. What we can do, we can place this idea in a backlog and get to it later.

[2020-03-02 02:04] jeevatkm commented on #312
@Niondir Any updates?

[2020-03-02 02:26] jeevatkm commented on #315
@renathoaz Thanks for reaching out.

Retries are usually gets configured at the client level.  E.g.:  let's say the application needs to integrate with two services. Then typically people create two dedicated client instances with appropriate settings for each service of nature and thrid one they will create for general usage.

Begin said that technically it is possible to add new enhancement for

[2020-03-02 02:49] jeevatkm commented on #316
@OJFord Thanks for reaching out. I'm unable to fully understand your issue in nature. Just taking an appropriate guess.

Please check this test case `TestRequestOverridesClientAuthorizationHeader` and play around with it then let me know.

[2020-03-02 02:54] jeevatkm commented on #317
@OJFord Yes, it's implemented that way. I think the better method name could have been `OnRequestDebugLog ` and `OnResponseDebugLog `.

[2020-03-02 03:02] jeevatkm commented on #318
@OJFord Thanks for reporting, appreciated. I will check and take appropriate action.

[2020-03-02 03:14] jeevatkm commented on #319
@OJFord I think you can take full control of all redirect(s) via policy. By default resty does not assign any redirect policy to the client.

[2020-03-02 03:27] jeevatkm commented on #320
@vlourme Actually, resty handoff the proxy value to GoLang HTTP client. Could you research around to find more info?  I will also try at my end to share my inputs.

[2020-03-02 05:15] jeevatkm commented on #278
@coolyrat I have analyzed it. In the resty v2 retry condition func only allows the decision of retry or not.

I would like to know your suggestion or proposal to solve or workaround.

[2020-03-02 05:17] jeevatkm commented on #295
@theblackturtle FYI, until resty brings the redirect history support. I think you could build redirect history using custom redirect policy in the resty.

[2020-03-02 06:09] vlourme commented on #320
Actually It’s clearly not a Resty issue, I’ve looked how Resty sets the proxy and the issues does not come from this. It looks like more a Go issue to not handle proxies correctly, but I did not see anything on the web about my problem yet, maybe I could try to open a issue at Go repository

[2020-03-02 08:32] jeevatkm commented on #240
@pborzenkov Currently resty have [ExpectContentType](https://pkg.go.dev/github.com/go-resty/resty/v2?tab=doc#Request.ExpectContentType) and I have added new method `ForceContentType` for #276 in the branch [result-parsing-enhancement](https://github.com/go-resty/resty/tree/result-parsing-enhancement)

Does it satisfy your use case, can you please check, let me know?

[2020-03-02 08:34] jeevatkm commented on #276
@sgon00 I have added a new method `ForceContentType` method on the `Request` object that complements the [ExpectContentType](https://pkg.go.dev/github.com/go-resty/resty/v2?tab=doc#Request.ExpectContentType). It's available in the branch [result-parsing-enhancement](https://github.com/go-resty/resty/tree/result-parsing-enhancement)

Can you please try and let me know?

[2020-03-02 08:40] pborzenkov commented on #240
@jeevatkm Yes, it does satisfy the describe use case. Thanks!

[2020-03-02 08:42] jeevatkm commented on #306
@rigrassm PR #307 has been merged.

[2020-03-02 08:42] #306 closed

[2020-03-02 08:44] jeevatkm commented on #240
@pborzenkov wow, quick response, appreciated. Sorry for the delay!

[2020-03-02 09:16] theblackturtle commented on #295
Thanks, I'm using it. I just suggest the new feature xD

[2020-03-02 09:38] golemiso commented on #312
I do exactly the same thing, using `client.SetAuthToken`

## Example
[code]

## Notice
SetRetryCount() has to be at least 2 until v2.3.0. https://github.com/go-resty/resty/pull/322

[2020-03-02 10:23] OJFord commented on #316
@jeevatkm Sorry that wasn't very clear.

That test does:
[code]

The issue I'm seeing is that if the second `SetHeader` - the one on the request - isn't there, the Authorization header is _not_ set to `some token` - the call on the client (rather than request) seems to be ignored.

As a workaround, what I've done to set it on each request is set it in the function passed to `OnBeforeRequest`:
[cod

[2020-03-02 10:29] OJFord commented on #319
@jeevatkm I'm not sure I understand - would it ever be desirable that a POST resulting in a redirect ends up being a GET on the redirected-to resource?

The behaviour I saw by default (not specifying a redirect policy) was the same as when I supplied one that allowed the redirect (`DomainCheckRedirectPolicy`) - but it wasn't POSTed and as a result I noticed the error because the server responded 4

[2020-03-02 14:47] moorereason commented on #305
Tightly coupling a log to the curl CLI would be a headache to maintain.  As a middle ground, you could consider logging the request properties as JSON and leave it up to the user to convert to curl or any other tool.

[2020-03-03 03:17] jeevatkm commented on #320
@vlourme That's sound good. We can find out from the Go repository. Keep me posted! thanks.

[2020-03-03 04:57] jeevatkm commented on #316
@OJFord I think I did not explain it properly. The reason I have shared that test case for you play around with it. Example, in the test case `TestRequestOverridesClientAuthorizationHeader` if you comment out the line
[code]

then you will get an unauthorized 401 error (like the log below).  Since it sends the header that was set on the client. Then uncomment the line and run it again you will get

[2020-03-03 05:14] jeevatkm commented on #318
@OJFord I have created a small test case and check at my end. I do not see an issue. Details below-
[code]

Output:
[code]

[2020-03-03 05:51] jeevatkm commented on #312
@Niondir @golemiso It depends on the use case.

If the auth token should reflect only for current request then do it using `Request` instance
[code]
If the auth token applicable for all the requests raised from the client then do it using `Client` instance.
[code]

[2020-03-03 06:00] jeevatkm commented on #319
@OJFord It certainly possible. Because on the server-side if they redirect POST to GET then HTTP clients simply going to follow the redirects. So **_the client is not going to take a decision on its own_**.

Define a custom redirect policy on your client to investigate it.
[code]

If you do not want to follow the redirect kindly use `client.SetRedirectPolicy(NoRedirectPolicy())`

[2020-03-03 10:01] dvlato commented on #137
hi @jeevatkm , do you know the jsonapi specification? It could give you pointers into implementing some minimal support:  https://jsonapi.org/format/#fetching-pagination.
To iterate along the results pages you would follow the link in links:next (this can be of course configurable so you can redfine where to find the link for the next page).

[2020-03-03 11:02] OJFord commented on #319
The redirect response is `301`, methods are not supposed to change, but MDN notes:

The response is just:
[code]

I do want to follow the redirect, I just don't want the method to change.

[2020-03-03 15:21] moorereason commented on #316
I modified the test to match @OJFord's case, and I works as expected (see below).  @OJFord, can you provide a test case that fails the way you're describing?

[code]

[code]

[2020-03-03 16:36] moorereason commented on #318
@jeevatkm, the original report used `.Post()` instead of `.Get()`.  I modified the test to use Post, but I still don't replicate the issue (see below).

@OJFord, can you provide a test case that duplicates the issue?  What version of Resty are you using?

[code]

[code]

[2020-03-03 20:19] vlourme commented on #320
The issue is now in "NeedInvestigation" label from go repository (https://github.com/golang/go/issues/37623). Maybe we should close this issue, I think go-resty is no more involved in the issue, thanks for helping!

[2020-03-03 21:39] renathoaz commented on #315
I got it. maybe not worth the effort. Thank you for the excellent project.

[2020-03-04 10:25] sbengo commented on #304
Hi @jeevatkm , sorry for late answer.

First of all, the analysis done on https://github.com/go-resty/resty/issues/304#issuecomment-592462718 was using the branch `next-dev-prep` and commit `1b451e1`, referenced on my `go.mod` as follows (im not very familiar with go-modules, so correct me if I did something wrong):

[code]

I have repeated the same test with the merge commit on master (https://gi

[2020-03-04 19:32] OJFord commented on #316
Sure, here:
[code]

[2020-03-04 19:33] OJFord commented on #316
(By the way, sorry if my Go's weird - I don't use it much.)

[2020-03-05 13:45] moorereason commented on #316
@OJFord,
I'm confused.  You're test is checking for an `Authorization` header in the *response*, not the request.

[2020-03-06 09:29] #240 closed

[2020-03-06 09:29] #276 closed

[2020-03-06 14:22] OJFord commented on #316
@moorereason https://httpbin.org/headers returns the request headers in the response body under key `"headers"`.

[2020-03-06 16:36] moorereason commented on #316
Oh, my bad.  I don't use httpbin.org much.

If you print the response body in your test, you'll see that the `Authorization` header is present.  The issue there has to do with `SetResult` not working as expected.

[2020-03-07 13:59] NeoCN opened #324 "Request level retry strategy support"
Is there plan to support request level retry strategy? Currently request will use client retry strategy, and can not override at request level.

[2020-03-09 08:37] sbengo commented on #304
Hi @jeevatkm , excuse the insistence, but:

- Can you review the last comment and check if this issue needs to be reponed?

Thanks,
Regards

[2020-03-09 15:38] moorereason commented on #304
For the record, I made a quick Go program (without resty) that just prints timestamps at each trace hook:

[code]

I just noticed that resty is using `GetConn` to check for zero DNS times instead of `ConnectStart`.  That needs to be fixed.

I think all of the timings that Resty prints are helpful for tracing/debugging.  I'd have to look more closely at what Resty's doing, but it may just bee that

[2020-03-13 06:41] ryanembregts opened #326 "how to properly use resty client with echo framework"
Good day,

I am using echo framework to use different request and then using awesome resty client to forward those requests upstream. Thanks for great work.

I need suggestions about the best way to use resty,

1. Should i use a single client and share it between different routes?
`client := resty.New()`

2. Or each route should have its own client.

Any suggestion is much appreciated.
Thanks.

[2020-03-23 00:28] alidhkh opened #327 "option to not encode form data"
Hi, I've been using resty for a while now, and man, this is superb! Thank you for this awesome library.

I'm trying to post using SetFromData, one of the fields contains JSON, so while sending request, resty encodes the JSON inside that field; But the receiving server rejects the request because it doesn't contain a valid JSON.

I know there's a `SetJSONEscapeHTML` method, but that only works when

[2020-03-31 10:12] sherodewo commented on #264
thankyou mang ujeee wkkw

[2020-04-06 23:18] jeevatkm commented on #320
I'm closing it in favor of golang repo issue.

[2020-04-06 23:18] #320 closed

[2020-04-06 23:20] jeevatkm commented on #318
Thanks @moorereason for catching it.

@OJFord Please provide details.

[2020-04-06 23:21] jeevatkm commented on #324
FYI, yes - https://github.com/go-resty/resty/issues/315#issuecomment-593189957

[2020-04-06 23:23] jeevatkm commented on #319
@OJFord  will check it again in Resty. Just want to clarify, you're using Resty v2 correct?

[2020-04-06 23:24] jeevatkm commented on #317
I'm closing it.

[2020-04-06 23:24] #317 closed

[2020-04-06 23:26] jeevatkm commented on #305
@moorereason has a point. Yes, I agree. We should not couple this.

[2020-04-06 23:28] jeevatkm commented on #312
@Niondir I'm closing it with above response.

[2020-04-06 23:28] #312 closed

[2020-04-06 23:29] jeevatkm commented on #302
@fewpiwork I'm closing it.

[2020-04-06 23:29] #302 closed

[2020-04-06 23:33] jeevatkm commented on #278
@coolyrat I'm closing it with the above response.

[2020-04-06 23:33] #278 closed

[2020-04-09 02:11] xiaoxfan opened #328 "Should I create a new client for each request? How to use http client pool?"
My application is frequently requests third-party API, I create a new client for each request,but sometimes, when multiple goroutines request concurrently (eg. 1000 goroutines),
[code]
I got an error :
` dial tcp REMOTEHOST:PORT: socket: too many open files`
Are there any suggestions for use in this situation? Such as http client pool?

[2020-04-09 02:14] xiaoxfan commented on #328
Does the connection close automatically? Or is there any way I can close it manually?

[2020-04-09 02:43] jeevatkm commented on #328
@xiaoxfan Thanks for reaching out.
* HTTP connection pooling is maintained by internal Go HTTP client automatically
* Do not create a client for every request. Move this line `client := resty.New()` out of the func
* Connection gets closed automatically sent to pool

[2020-04-09 03:46] xiaoxfan commented on #328
@jeevatkm Thanks for your suggestion.

[2020-04-09 03:46] #328 closed

[2020-04-10 00:18] latenite4 opened #329 "problem with resty.Unmarshalc(..)"
running on ubuntu 18.04 sending GET request to rapidAPI "coronavirus/cases_by_country.php" API.
API server responds with correct JSON and the Unmarshalc routine returns err == nil.
here is partial example of JSON response:
{
  "countries_stat": [
    {
      "country_name": "",
      "cases": "721",
      "deaths": "13",
      "region": "",
      "total_recovered": "619",
      "new_deaths": "0",

[2020-04-10 00:22] latenite4 commented on #329
note there are 212 entries in the JSON array

[2020-04-10 01:15] latenite4 commented on #329
note: i tried resty v1 and resty v2 and i see the same problem

[2020-04-14 06:15] Niondir commented on #312
I fetch and update the token in `OnBeforeRequest` now:

[code]

[2020-04-17 09:57] wjh000123 commented on #300
@jeevatkm this issue occurred when the reponse is in HTTP status - 307.

[2020-04-20 12:44] OJFord commented on #319
Sorry for the delay - v2, yes.

[2020-04-21 06:31] zbqyexingkong opened #330 "Bug: invalid memory address or nil pointer dereference"
for  resty@v2.2.0;
when i set debug is true, and  new a client with **NewWhiteClient(http.DefaultClient)**,
the client Jar is nil . in requestLogger func used composeHeaders

https://github.com/go-resty/resty/blob/ad527ebb23b1ffdeba0c8b9b096190c001061711/middleware.go#L275

https://github.com/go-resty/resty/blob/ad527ebb23b1ffdeba0c8b9b096190c001061711/middleware.go#L290

[code]

[2020-04-22 08:59] sbengo commented on #304
Hi @moorereason , thanks for reviewing it

A first PR #331 is requested to fix this issue

@jeevatkm , can you reponen this issue?

Thanks,
Regards!

[2020-04-28 04:54] 2030405043 opened #332 "An exception occurred while executing the go mod"
go mod tidy

github.com/go-resty/resty: github.com/go-resty/resty@v1.12.0: parsing go.mod:
	module declares its path as: gopkg.in/resty.v1
	        but was required as: github.com/go-resty/resty

[2020-04-28 04:55] 2030405043 commented on #332
go version 1.13
windows 10

[2020-04-28 04:56] 2030405043 commented on #332
github.com/go-resty/resty: github.com/go-resty/resty@v1.12.0: parsing go.mod:
        module declares its path as: gopkg.in/resty.v1
                but was required as: github.com/go-resty/resty

[2020-04-30 03:48] lrita commented on #329
What is the `Content-Type` header of response? Is it a validated json hit?

[2020-04-30 04:05] lrita commented on #327
I think it is your server endpoint's issue.

I think you want send `x={"abc":"de"}` to server, server got `x=%7B%22abc%22%3A%22de%22%7D`, this is legally.

[2020-04-30 04:12] lrita commented on #288
I think we have `SetTransport()` is enough to support this. I think there alway some customized-codes need be wrote by users, it does not necessary to support all non-common use cases.

[2020-05-04 10:40] phsym opened #334 "Retry doesn't work with FileReader and MultipartFields"
Hi,
First, thank you for this excellent library.

### Description
I'm trying to send data using `FileReader `and `MultipartFields`, but the server I'm sending those data to is a bit crappy, and sometimes drops the connections. Unfortunately I have no control on this server.
I configured the resty client to use the retry mechanisms, which works well for almost all my requests, except those with `Fi

[2020-05-08 10:21] manojkva commented on #300
I had this same issue while using resty v2.2.0 with Gin framework. Resty was adding up an additional "/" at the end of the Endpoint even when not provided.
This was not allowed in Gin i suppose (https://github.com/gin-gonic/gin/issues/1004).
I got it resolved by downgrading my resty version to v2.0.0 .
Please note that v2.1.0 too had the same issue.

[2020-05-08 15:45] ArcticSnowman opened #336 "SetFormData() could support `mutlipart:form-data` by offloading to SetMultipartField?"
I've been trying to make a PUT request to an API that wants the form data as `multipart:form-data`.  Finally worked out (after digging into the code) that SetMultipartField can be used if you don't set the filename and pass in the values via `strings.NewReader(value)`.

[code]

It got me thinking that SetFormData could be enhanced or a new SetMultipartFormData() added. Such that it you can simply

[2020-05-09 11:05] rightjoin opened #338 "incorrect traceinfo upon timeout"
When a request timesouts, the data is traceinfo is incorrect.

Often connection time, Response time etc will have max or min possible int64 values

[2020-05-11 01:29] jeevatkm commented on #336
PR #337 is merged.

[2020-05-11 01:29] #336 closed

[2020-05-11 01:37] jeevatkm commented on #338
@rightjoin Thanks for reporting an issue, surely I will look into it.

There is a recent contribution to trace info by @JoaquinJimenezGarcia on #331. Can you please give it a try and share some sample test case for the issue?

[2020-05-11 01:52] jeevatkm commented on #338
Also, I have created [v2.3.0-rc.1](https://github.com/go-resty/resty/tree/v2.3.0-rc.1), you could try out.

[2020-05-11 02:12] jeevatkm commented on #334
@phsym I believe your understanding is correct. Resty keeps complete request in the memory before it sends to the server, this approach has downside on large request body scenarios, that's why `io.Reader` introduced and resty submits the body handling to underlying Go HTTP client if its an `io.Reader`.

I'm not sure, keeping `Request.bodyBuf` around all retry. what will be the side effect? I have

[2020-05-11 02:22] jeevatkm commented on #330
@zbqyexingkong Thanks for reporting an issue. Sure I will address the nil pointer issue with adding nill check.

[2020-05-11 02:25] jeevatkm commented on #329
@latenite4 Thanks for reporting your observation. Could you please provide a test case/code snippet which demonstrates an issue?

[2020-05-11 02:31] jeevatkm commented on #327
@lrita Thank you.

@alidhkh Thanks for your appreciation.
I'm not sure I fully understand your issue. Would you mind providing an example to describe the issue?

[2020-05-11 02:35] jeevatkm commented on #326
@ryanembregts Thank you for your appreciation.
I would suggest you to having a resty client **per upstream host** along with its respective settings.

[2020-05-11 02:36] #326 closed

[2020-05-11 02:40] jeevatkm commented on #334
Just referencing an issue #309

[2020-05-11 02:43] jeevatkm commented on #305
@moorereason @corvinusz will work on providing demand way to get request attributes as JSON.

[2020-05-11 02:45] jeevatkm commented on #300
@wjh000123  @manojkva Thanks for the inputs, will have a look.

[2020-05-11 02:50] jeevatkm commented on #288
@lrita has a point. Technically custom transport could be used with user code to achieve this.

For now I will put this in the backlog.

[2020-05-11 05:25] jeevatkm opened #339 "Address HTTP/2.0 issue for go1.13 onwards"
@golgoth31 has reported HTTP/2.0 is not working via PR #325. Today I have analyzed the issue. It seems HTTP/2.0 got broken `go1.13` onwards and it's working up to `go.12`.

Anaylzes Details:
https://github.com/go-resty/resty/pull/325#issuecomment-626475777

[2020-05-11 06:09] alidhkh commented on #327
@jeevatkm Hi, this an example:
[code]
When I try to POST this to a server using resty, the server rejects the request because the JSON inside the request is encoded. I though it would be a good feature to choose if we want to send a raw request or encoded.

[2020-05-11 07:07] jeevatkm commented on #316
@OJFord Thanks for providing a test case. That cleared up all my questions.

So you have an incorrect field definition for JSON on headers. **Go JSON will only work for exported fields**.

I have updated your test case with correction, please find it below.

[code]

[2020-05-11 07:08] jeevatkm commented on #316
@moorereason FYI

I'm closing this issue. Thanks.

[2020-05-11 07:08] #316 closed

[2020-05-11 07:41] jeevatkm commented on #318
@OJFord I'm closing it, feel free to open a new issue with details.

[2020-05-11 07:41] #318 closed

[2020-05-11 08:39] oyjjpp commented on #291
@volodimyr  Hello, how to solve this problem？We also have this problem

`
fatal error: concurrent map writes
goroutine 2712 [running]:
runtime.throw(0xc6e8b0, 0x15)
	/usr/local/go/src/runtime/panic.go:774 +0x72 fp=0xc0015b2cd0 sp=0xc0015b2ca0 pc=0x4312f2
runtime.mapassign_faststr(0xbd04e0, 0xc001572a80, 0xc6120c, 0x5, 0x0)
	/usr/local/go/src/runtime/map_faststr.go:211 +0x417 fp=0xc0015b2d38 sp=0xc

[2020-05-11 09:14] ruinshe commented on #288
Thank all for the suggestion, although the solution seems to be same as what I did, it will make th code more clearer.

I switched my code using customized transport for request rewritten.

[2020-05-11 09:23] jeevatkm commented on #288
@ruinshe Do you mind sharing the code what you did? so that we can evaluate to include in the resty lib or not?

If it's trivial, we can add it as resty documentation. What do you think?

[2020-05-11 10:08] ruinshe commented on #288
I think refine the document helps, because in the transport we can do everything (even if the user only cares about the headers not whole request, etc).

[2020-05-11 13:25] moorereason commented on #291
@oyjjpp, see the last comment by @volodimyr for the solution to the original issue.  If you need any more assistance, please open a new issue.

[2020-05-12 01:32] #330 closed

[2020-05-12 01:32] #339 closed

[2020-05-12 01:40] oyjjpp commented on #291
@moorereason  Okay,thanks

[2020-05-13 11:25] rightjoin commented on #338
Hi Jeevatkm,

I don't see it resolved in the rc1.

Here is a quick test case:

[code]

Thanks for the amazing library.

[2020-05-13 13:55] moorereason commented on #338
If the connection times out, how useful is the trace info?

[2020-05-13 14:32] moorereason commented on #338
To be clear, I agree that the trace values are inaccurate in this scenario.  I'm just curious what your use case is for using the trace info on failed requests.

[2020-05-13 14:40] OJFord commented on #316
@jeevatkm Ok, but that's a bug with the test I wrote right? It's not actually anything to do with the issue I initially reported, it's just how I (tried to) reproduced it?

[2020-05-13 15:16] moorereason commented on #316
@OJFord,
We're unable to reproduce your original report ([here](https://github.com/go-resty/resty/issues/316#issuecomment-593767912) and [here](https://github.com/go-resty/resty/issues/316#issuecomment-594006011)...and even [here](https://github.com/go-resty/resty/issues/316#issuecomment-626513928)).

We can only assume this issue is resolved unless you can provide a simple example that clearly de

[2020-05-13 16:26] amarjeetanandsingh commented on #309
Hi @jeevatkm
Please assign this task to me.

[2020-05-13 16:51] rightjoin commented on #338
There are a number of requests generated for the server, and TraceInfo stats are being aggregated.

[2020-05-14 08:33] #338 closed

[2020-05-14 08:39] jeevatkm commented on #332
@2030405043 Thanks for reporting your concern. I do not have complete insight into your problem. Do you mind taking a look at this issue https://github.com/go-resty/resty/issues/230 and share your feedback?

[2020-05-18 00:11] haalcala opened #343 "request.SetQueryParams with int value"
How can I pass an int value to request.setQueryParams if the signature only accepts map[string]string?

[2020-05-18 19:27] moorereason commented on #343
[`strconv.Itoa`](https://golang.org/pkg/strconv/#Itoa)?

[2020-05-21 09:28] lrita commented on #305
Using `github.com/moul/http2curl` in callback of `SetPreRequestHook()` will perform it easily.

[2020-05-25 07:50] amarjeetanandsingh commented on #309
@jeevatkm
Could you please help me a bit to gather the requirement?

As far as I can understand, we need to implement an alternate of `SetMultiValueFormData(params url.Values)` method so that we can stream the values of multipart form data.
Since `SetMultiValueFormData()` takes `url.Values`(_which is a map of string, string_) as input, it stores all the data in memory that we need to escape that.

[2020-06-02 00:34] 0x010 opened #345 "RFC: create client let us choice not much more middleware."
[code]

the current createClient seems abit heavy with much more Middleware.

Please allow use choice which middleware can been used.

[2020-06-08 05:16] smaheshs opened #346 "Getting improper value for TotalTime"
Hi,

Wrote this simple program to check the effect of the total time when using a connection from a pool.

[code]

In the first loop, the print for TotalTime is proper, however in the subsequent loops, the TotalTime is the same huge value as below:

Loop count 1
TotalTime    : 429.728934ms
Loop count 2
TotalTime    : **2562047h47m16.854775807s**
Loop count 3
TotalTime    : **2562047h47m16.85477580

[2020-06-08 05:34] smaheshs commented on #346
I confirmed that I am using the latest version. Go.mod:

`github.com/go-resty/resty/v2 v2.3.0`

[2020-06-08 18:15] moorereason commented on #346
The issue is how the TotalTime is calculated when a connection is reused.  I'll work on a fix.

[2020-06-17 19:03] danthemanvsqz opened #348 "Not able to mock request according to documentation"
I posted my problem on SO
https://stackoverflow.com/questions/62434999/httpmock-is-not-intercepting-resty-call

[2020-06-18 16:10] moorereason commented on #348
It looks like the problem is in your `ApiWrapper` design since you call `resty.New` inside of `ApiWrapper`.

[2020-06-18 16:20] #348 closed

[2020-06-19 07:59] #346 closed

[2020-06-21 11:27] niroshea opened #349 "Does resty support RFC7386 ? I tried ,but failed . Will this feature be added in the future?"
![image](https://user-images.githubusercontent.com/30043244/85223331-fca0a500-b3f4-11ea-971f-644153b9dd16.png)
![image](https://user-images.githubusercontent.com/30043244/85223343-0d511b00-b3f5-11ea-875a-0d2fc0a1cee0.png)

[2020-06-23 10:32] nitiprabhu opened #350 "resp.Request.TraceInfo().TotalTime giving invalid time format"
client := resty.New()

resp, err := client.R().
		EnableTrace().
		Get("https://httpbin.org/get")

With the above example:

I am using _resp.Request.TraceInfo().TotalTime_ to print the total time spent on the request.
In the logs, most of the time I can see the time in the strange format, something like this:

Time Took - is 2562047h47m16.854775807s
Time Took - is 2562047h47m16.854775807s

This is

[2020-06-23 14:00] moorereason commented on #350
What version of resty are you using?

[2020-06-24 09:12] inix commented on #343
I also have this issue,backend interfaces only accept int query value instead of string.

[2020-06-24 14:00] moorereason commented on #343
@inix & @haalcala, help me understand.  I'm envisioning a request such as `https://host/path?param=99`.  How is resty failing to support such a request?  The URL is inherently a string when sent to the host.  What am I missing?

[2020-07-02 06:13] avinash92c opened #351 "Multiple files posting with same key"
If you check in postman, you can see that u can send an array of under one key in form body.
Using the same thing as reference someone developed a rest API which accepts multiple files as array which I'm trying to consume.

I see your api accepts map of files which if I use for my requirement will just overwrite all files and send only the last file. Could you some how add a new function which acc

[2020-07-06 10:59] alexio777 commented on #300
I have exactly the same problem.

`	resp, err := hc.rc.R().
		SetHeader("Content-Type", "application/octet-stream").
		SetBody(data).
		Post(fmt.Sprintf("%s%s", gRemoteAPIURL, path))
`
where data is []byte

and I get an error: http: ContentLength=224 with Body length 0

[2020-07-06 13:38] moorereason commented on #300
@alexio777, can you provide a complete test program to demonstrates the issue?

[2020-07-09 15:02] christophe-dufour opened #352 "Find a way to fetch the number of attempt"
Retry comes with a nice retry system.
For monitoring reason, I would like to be able when I get a response, how many attempts Resty has to do to complete the request.

Something like that:
[code]

Is there a way to get that value?

[2020-07-09 18:12] moorereason commented on #352
I'm not aware of the number of attempts being exposed by resty, but you can track the attempts yourself as in [here](https://github.com/go-resty/resty/blob/6ad880ce57f42586729e0e7e90be1bceefa68a68/retry_test.go#L180) (using `AddRetryCondition`).

[2020-07-10 09:35] feiquan123 opened #353 "go-resty is support HTTP_CONNECT_POOL?"
i can't see HTTP_CONNECT_POOL from code

[2020-07-21 16:37] lggomez opened #356 "Allow OnAfterResponse ResponseMiddleware to run on all paths"
As of now, custom response middlewares are only executed on the happy path of a request (that is, no error and with `notParseResponse == false` due to them being in the same list as the internal Resty middlewares for response handling

It is desirable that the user defined middlewares are executed on all paths and let the response handling to the user (as user defined request middlewares work now)

[2020-07-27 20:20] jj0e opened #358 "User/pass proxies"
Is it possible to use proxies that are authenticated via username & password with resty? I was only able to see examples without user/pass.

[2020-07-27 21:56] moorereason commented on #358
I haven't had to do this resty yet, but how does your proxy authentication work?  If it's via a basic auth header such as `Proxy-Authorization`, you should be able to add that header to your requests.

[code]

[2020-07-27 23:41] jj0e commented on #358
To be honest I'm not sure exactly how it works because I just buy the proxies and they are formatted like ``ip:port:username:pass``. However, I have been using the [Requests](https://requests.readthedocs.io/en/master/user/advanced/#proxies) module in Python where I formatted them like this:

[code]

and it worked. So, I'm not exactly sure what the requests module is doing in the background whether

[2020-07-28 13:41] moorereason commented on #358
In that case, you can probably just use `client.SetBasicAuth("username", "password")`.

[2020-07-29 18:24] tamal-appsbee opened #359 "capture json request body in OnAfterResponse"
Hi,

I am trying to capture json request body in OnAfterResponse. but its giving me empty response

[code]

[2020-07-31 14:49] franta opened #360 "Repository should contain go.sum file"
[Should I commit my 'go.sum' file as well as my 'go.mod' file?](https://github.com/golang/go/wiki/Modules#should-i-commit-my-gosum-file-as-well-as-my-gomod-file)

[2020-07-31 16:37] moorereason commented on #360
Agreed.  @jeevatkm, what was the reasoning behind not including `go.sum`?

[2020-08-03 03:28] cascax opened #361 "Missing error message when Marshal failed"
If it fails during Marshal JSON or Marshal XML, the Marshal error message is lost. only get "unsupported 'Body' type/value" error. Can it return errors with the original error message?

master/middleware.go:477
[code]

[2020-08-04 14:09] moorereason commented on #361
@cascax,
Can you provide a simple example program that exhibits this behavior?

[2020-08-05 02:21] cascax commented on #361
[code]

get `panic: unsupported 'Body' type/value`

[2020-08-05 13:39] moorereason commented on #361
I've submitted a PR that should resolve this issue.

[2020-08-12 10:36] ervitis opened #365 "Typo in documentation in function AddRetryCondition"
The readme has a typo inside the AddRetryCondition function. It should be

[code]

The typo is in the return values from the function passed as parameter in AddRetryCondition

Like is writing in the code at https://github.com/go-resty/resty/blob/49899fe61282655ba17c21b295289292c335e15b/retry.go#L26

I have created a pull request, any comments are welcome! :)
https://github.com/go-resty/resty/pull/

[2020-08-12 17:19] mattfenwick commented on #329
I ran into something similar to this -- in my case, the value for the `Content-Type` header is `application/vnd.docker.distribution.manifest.v1+prettyjws`.

Is there a way to tell Resty to parse the response as JSON and use the `Result` struct anyway in this case?  @jeevatkm

Thanks for the help, love the project!

[2020-08-14 08:25] jeevatkm opened #366 "Analyzes and Fix Travis Build issue, many PRs are waiting."
Recently Travis builds for resty is NOT completing properly. However, codecov gets executed in Travis properly and produces the report.

[2020-08-26 14:25] MrTreasure opened #369 "http2: response body closed"
when use ```resp.RawResponse.Body``` show me this err, but use http.Get is fine
[code]
i just want to use this to show download progress

[2020-09-03 09:05] zhong-wx opened #370 "collect more http trace info like remote IP which is a import message"
to do that, we just add more field in TraceInfo struct
and remote IP can get from Request.clientTrace.ci.gotConnInfo.Conn.RemoteAddr()

[2020-09-03 09:18] zhong-wx commented on #356
Due to middlewares cannot run on all paths, I have to design a new Middleware layer base on Wrapping Transport. QAQ

[2020-09-04 05:56] jeevatkm commented on #366
It was a deprecated attribute usage in a travis yaml configuration file.

[2020-09-04 05:57] #366 closed

[2020-09-04 06:20] #361 closed

[2020-09-04 06:27] jeevatkm commented on #370
@zhong-wx Are you interested in sending in PR?

[2020-09-04 06:31] jeevatkm commented on #360
@moorereason @franta During the transition to go modules from gopkg.in also during the release of v2 major version. It caused an issue. Go mod was not friendly at that moment. Also resty has one only dependency, so it had very least impact/need.

[2020-09-04 06:32] #365 closed

[2020-09-04 06:38] jeevatkm commented on #353
@feiquan123 HTTP connection pool is maintained by underlying Go HTTP client [`net/http.Client`](https://golang.org/pkg/net/http/#Client), Resty does not maintain any connection pool explicitly.

[2020-09-04 06:40] jeevatkm commented on #358
@jj0e I'm closing this one, @moorereason have answered your question. Thanks.

[2020-09-04 06:40] #358 closed

[2020-09-04 06:42] jeevatkm commented on #352
@christophe-dufour Did you get a chance to try out the @moorereason's input?

[2020-09-04 06:45] jeevatkm commented on #350
@nitiprabhu Can you let us know the resty version you're using?

[2020-09-04 06:51] jeevatkm commented on #349
@niroshea Just looked around it seems I have added that support v1.11.0 release #203.
This is the line
https://github.com/go-resty/resty/blob/986808a2a70a71a69fbc463606307692dc7e9e62/client.go#L62

Can you please validate and provide some go test cases?

[2020-09-04 06:58] jeevatkm commented on #345
@0x010 Thanks for reaching out with your thoughts. I would like to understand the viewpoint of `bit heavy`.

From the design of resty, every mentioned middleware is needed otherwise the resty library will not work :(
The only thing which stands out/out of place is `saveResponseIntoFile`.

May I know the issue you're facing?

[2020-09-04 06:59] jeevatkm commented on #343
@inix @haalcala Closing this one.  @moorereason has given direction and asked for clarification.

[2020-09-04 06:59] #343 closed

[2020-09-04 07:00] jeevatkm commented on #332
@2030405043 Closing this one.

[2020-09-04 07:00] #332 closed

[2020-09-04 07:03] jeevatkm commented on #329
@mattfenwick @latenite4 you could make use these methods -
* https://pkg.go.dev/github.com/go-resty/resty/v2?tab=doc#Request.ForceContentType
* https://pkg.go.dev/github.com/go-resty/resty/v2?tab=doc#Request.ExpectContentType

[2020-09-04 07:08] jeevatkm commented on #327
@alidhkh I'm sorry for the delayed response.

It seems server endpoint design has an issue. Based on the above example, you're using typically FORM fields but sending JSON data in the field.  Technically the server endpoint has to decode it before processing.

[2020-09-04 07:11] jeevatkm commented on #300
@grafael @alexio777 I have tried to reproduce it. I am unable to. Could you please provide an end-to-end unit test case to showcase an issue?

[2020-09-04 07:18] nitiprabhu commented on #350
@moorereason @jeevatkm sorry for the delay, the version is: **v2.3.0**

[2020-09-04 07:31] feiquan123 commented on #353
fine

[2020-09-04 07:32] #353 closed

[2020-09-04 08:52] zhong-wx commented on #370
I will send it.

[2020-09-04 15:13] moorereason commented on #350
I can't reproduce this.  Can you provide a test case that reproduces the issue?

[2020-09-04 22:38] jeevatkm commented on #360
@franta I have recalled one thing. Go mod was causing an issue between `v2.0.0` and `v2.1.0` releases. Let's add go.mod and will see any issues pop up or not.

[2020-09-04 22:41] jeevatkm commented on #369
@MrTreasure By default, Resty will read the body and parse it to struct if possible. If you want to take over the body read at your end. Tell resty via https://pkg.go.dev/github.com/go-resty/resty/v2?tab=doc#Request.SetDoNotParseResponse

[2020-09-04 22:43] jeevatkm commented on #356
@lggomez I believe you're referring to response middlewares correct? If so what is the behavior you're trying to propose, do you mind showcasing via PR?

[2020-09-04 22:45] jeevatkm commented on #351
@avinash92c I think you could achieve the behavior using [`SetFormDataFromValues`](https://pkg.go.dev/github.com/go-resty/resty/v2?tab=doc#Request.SetFormDataFromValues). Can you try and share your feedback?

[2020-09-04 22:57] jeevatkm commented on #350
@nitiprabhu Thanks for the response. @moorereason have tried to reproduce it, no luck.
Let's understand the problem first and come to the same page.

What you're trying to do and how you're measuring, do you mind describing in detail?
E.g.: you have some local or remote server endpoints accessing via resty and capturing the trace info.

Also, if you could create a Go test case to demonstrate an is

[2020-09-04 22:58] #329 closed

[2020-09-04 23:01] jeevatkm commented on #309
@amarjeetanandsingh This issue created/reported to propose to use `io.Pipe` while processing multipart files to reduce memory usage during a request.

[2020-09-04 23:04] jeevatkm commented on #305
I'm closing this issue, in-favor of @lrita package reference https://github.com/go-resty/resty/issues/305#issuecomment-631984779

[2020-09-04 23:04] #305 closed

[2020-09-05 01:07] lggomez commented on #356
The work involved is similar to #355, plus a separation of `afterResponse` and `udAfterResponse` so that OnAfterRequest middlewares behave exactly that the OnBefore ones, internal ones first and client defined after

Now that you solved the ci issue (thanks!) I was hoping to take a shot at this soon

[2020-09-05 01:32] lggomez commented on #359
Since the request body is a buffered reader, once the request is executed that body will be empty

You should instead apply an `OnBeforeRequest` middleware, read the request body into a buffer of your choice and then from it recreate the request body so it can be read during request execution

[2020-09-05 07:24] nitiprabhu commented on #350
@jeevatkm @moorereason This can be produced when you re-use the existing resty-client to send the requests.
**Example:**

[code]

[2020-09-05 09:38] jeevatkm commented on #350
@nitiprabhu Thanks for the sample code snippet to describe the issue.

I was able to find the reference, there was an issue in total time when connection was reused. @moorereason have already addressed this issue in #347. It will be released in the upcoming v2.4.0

You could try out and share feedback.
[code]

[2020-09-05 11:25] nitiprabhu commented on #350
@jeevatkm Tried, it is working fine here (v2.3.1-0.20200904223602-d2ba00f5a573). Looking forward to using version v2.4.0

[2020-09-05 11:25] #350 closed

[2020-09-05 22:03] jeevatkm commented on #356
@lggomez You're welcome, it was a config issue with Travis build.

Resty's middleware behavior (typically it should) will halt the execution at middleware which had an error regardless of internal or user-defined middleware.

#355 is different (thanks again for submitting PR). I'm trying to understand the design & approach of "run on all paths", could you please describe?

[2020-09-06 03:29] zhong-wx commented on #356
I think "run on all paths" meas that afterResponse middlewares will be execute whether the request and beforeRequest middlewares are done successfully or not

[2020-09-07 14:16] bartzz commented on #309
Can confirm this is an issue

`(pprof) top
Showing nodes accounting for 781.27MB, 100% of 781.27MB total
Showing top 10 nodes out of 19
      flat  flat%   sum%        cum   cum%
  781.27MB   100%   100%   781.27MB   100%  bytes.makeSlice
         0     0%   100%   195.24MB 24.99%  bytes.(*Buffer).Grow
         0     0%   100%   586.02MB 75.01%  bytes.(*Buffer).Write
         0     0%   100%   781

[2020-09-08 15:24] lggomez commented on #356
It is as @zhong-wx says, I layed out the initial implementation on the linked PR

[2020-09-09 04:00] FreeZhang61 opened #373 "how to sikp certificate verification"
I use resty sent an https request and I want to skip the certificate verification just like the "curl https://domain.com -k", so how do implement it by resty?  can anyone give me a demo? Thanks

[2020-09-09 06:02] FreeZhang61 commented on #373
Got solution, just use
`	client := resty.New()
	// skip the certificate verification
	client.SetTLSClientConfig(&tls.Config{InsecureSkipVerify: true})
`

[2020-09-09 06:02] #373 closed

[2020-09-09 19:31] jeevatkm commented on #309
@bartzz Thanks for sharing profiling info. Yeah, its good to optimize memory usage for multipart file upload follow.
BTW, I noticed, you're using resty v1, I would recommend you to upgrade it to v2 😄

[2020-09-09 20:45] jeevatkm commented on #370
@zhong-wx I have added the remote address info, you can leave it.

[2020-09-09 21:00] jeevatkm commented on #349
@niroshea Do you have an update?

[2020-09-09 21:05] jeevatkm commented on #352
@moorereason FYI, resty already have a value also I think it might good to expose in trace info too.

[2020-09-10 23:55] #360 closed

[2020-09-15 09:03] jihoon-seo opened #376 "SetBody() is not working for Get()"
Hi there,

I checked that `SetBody()` is working for `Post()`,
but it seems that `SetBody()` is not working for `Get()`.

---

["net/http" and "io/ioutil" version]
[code]

[Console output at REST API server]
[code]
(works well.)

---

[Resty version]
[code]

[Console output at REST API server]
[code]
(seems that `SetBody(tempReq).` not worked.)

---

Is this an intentional design?
It would be appr

[2020-09-15 21:50] #352 closed

[2020-09-15 21:50] #370 closed

[2020-09-16 00:58] jihoon-seo commented on #376
I conducted another test.

[echoing REST API server, based on Echo framework]
https://github.com/jihoon-seo/testcodes/blob/master/echoing-echo-server/server.go
[code]

[REST client, based on Resty]
https://github.com/jihoon-seo/testcodes/blob/master/resty-rest-client/main.go
[code]

---

[Result]
[code]

(seems that `SetBody(tempReq).` not worked for `Get()`.)

[2020-09-16 01:04] jeevatkm commented on #376
@jihoon-seo I think this is the option you're looking for -
https://pkg.go.dev/github.com/go-resty/resty/v2?tab=doc#Client.SetAllowGetMethodPayload

[2020-09-16 01:09] jihoon-seo commented on #376
@jeevatkm
This is exactly what I needed.
Thank you!!

[2020-09-16 01:09] #376 closed

[2020-09-22 10:40] dimitrimus opened #377 "SetTLSClientConfig doesn't work for custom http.RoundTripper implementation"
I have a wrapper over *http.Transport. It implements http.RoundTripper interface and my wrapper implements it as well. Then I set this Transport to http.Client.Transport field which is http.RoundTripper too. And then I create resty.Client with my http.Client using constructor function NewWithClient.

Everything works well, but when I call SetTLSClientConfig function on resty client it checks wheth

[2020-09-24 20:46] nandra opened #379 "Progress when uploading bit file"
Hi,

I'm using multipart POST method to upload file to server. File is ~100M and it take some time when it is uploaded. Is there possibility to somehow show kind of progress when uploading? I checked library shortly but cannot spot anything like that. Many thanks.

[2020-09-27 19:24] gilbsgilbs opened #381 "Feature request: don't follow redirects, but don't error on redirect"
Currently it is possible to set the `NoRedirectPolicy` policy to forbid redirects. But I'm in a case where I don't want to error if any redirect occur, but I don't want to follow it either. I just want the redirect response as if it were a normal status.

It is possible to achieve this [using the stdlib](https://stackoverflow.com/a/38150816/8808265), but AFAIK resty does not allow this at the mome

[2020-09-27 19:31] gilbsgilbs commented on #381
My bad, it is possible, but you have to implement a custom redirect policy:

[code]

Maybe this should be documented. Sorry for the noise.

[2020-09-27 19:31] #381 closed

[2020-10-07 05:59] jeevatkm commented on #377
@dimitrimus Thanks for reaching out.

I see your suggestion of introducing a new interface to support custom `http.RoundTripper`. I would suggest keeping both implementations together with the order of evaluation in the PR. So, it works with backward compatibility for all resty users.

[2020-10-07 06:00] jeevatkm commented on #369
Thanks for the response, @MrTreasure

[2020-10-07 06:00] #369 closed

[2020-10-07 06:01] jeevatkm commented on #349
@niroshea Any updates?

[2020-10-07 06:02] jeevatkm commented on #359
@tamal-appsbee Did you tried the suggestion given by @lggomez?

[2020-10-07 06:03] jeevatkm commented on #351
@avinash92c Any updates?

[2020-10-08 05:17] niroshea commented on #349
I used version 2 before. In order to avoid this problem, I used other components to achieve the function. I am willing to do some tests to see if this problem still exists. wait a moment.

[2020-10-09 04:53] niroshea commented on #349
![image](https://user-images.githubusercontent.com/30043244/95544619-3b06b200-0a2e-11eb-89f5-bc04bbd3408d.png)
![image](https://user-images.githubusercontent.com/30043244/95544632-435eed00-0a2e-11eb-9a4f-f10dfefcbae9.png)
![image](https://user-images.githubusercontent.com/30043244/95544640-49ed6480-0a2e-11eb-8ac4-94039d891136.png)

I tested v2.3.0, resty still has this problem

[2020-10-09 04:57] niroshea commented on #349
![image](https://user-images.githubusercontent.com/30043244/95544792-be280800-0a2e-11eb-897c-dfb5ad8e8454.png)
![image](https://user-images.githubusercontent.com/30043244/95544812-cd0eba80-0a2e-11eb-8473-ca63f724b3d8.png)
![image](https://user-images.githubusercontent.com/30043244/95544820-d1d36e80-0a2e-11eb-94b2-6ddc481932bb.png)

I tested v2.3.0, resty still has this problem

[2020-10-09 13:41] moorereason commented on #349
Can you construct a request with curl or the Go stdlib that is successful?  Can you enable debug to log the underlying request?

[2020-10-10 02:17] niroshea commented on #349
In the first picture, the "patchRequest" function in the first line I marked with a red box is implemented by net/http. It runs very well, and the input parameters are the same as the "restyTest" function.

[2020-10-15 06:01] amarjeetanandsingh opened #383 "Make client.SetHeader() thread safe"
Hi

Is there any problem to make [client.SetHeader()](https://github.com/go-resty/resty/blob/9e4ce7a0b8e317309b9a8a3b4c7d4f058ac26a84/client.go#L164) thread safe? Any specific reason?

If performance impact is a reason, should we consider making it configurable or expose a safe api like `client.SetHeaderSafe()`?

@jeevatkm

[2020-10-23 07:48] Hyingerrr commented on #300
I also encountered such problems in production. Is there any solution? thinks.

[2020-11-01 19:52] jeevatkm commented on #383
@amarjeetanandsingh Thanks for reaching out. Ideally, you create a Resty client once in the beginning, and requests made using that client across for the purpose.

Can you please share the scenario and your usage of the resty client? An example will help me to understand your usage.

[2020-11-01 19:53] jeevatkm commented on #300
Fixed by PR #380

[2020-11-01 19:55] #300 closed

[2020-11-02 02:55] amarjeetanandsingh commented on #383
Thanks for your response @jeevatkm

Agree that we should be creating resty client only once, but there can be a situation where we need to add one more request header later(_based on some condition_) to make this header available in every next request through this client. At that time we may run into race condition while setting up the new header.

If we don't want to update the header in resty cl

[2020-11-02 11:47] creekorful opened #386 "TestClientRetryWaitCallbackSwitchToDefault fails on 32-bit systems"
Hello there,

I've packaged your library on Debian, and some tests are failing:

The test ***TestClientRetryWaitCallbackSwitchToDefault*** pass on 64-bit systems, but fails on 32-bit systems, such as i386, armhf. It has been reported on [Debian](https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=973720).

One can easily reproduce the error locally by doing something like this:

[code]

Error log:

[2020-11-03 14:44] felixd opened #387 "Default Authorization Key name change"
Hello.

I am in need of changing default Authorization key name (**hdrAuthorizationKey** var) to **"X-Authorization"**

https://thingsboard.io/docs/reference/rest-api/

* client:go
https://github.com/go-resty/resty/blob/master/client.go#L56
https://github.com/go-resty/resty/blob/master/client.go#L92

* middleware.go
https://github.com/go-resty/resty/blob/master/middleware.go#L252

My proposition i

[2020-11-12 13:50] git-hulk opened #389 "apply OnAfterResponse middleware when got err response"
hey,  `OnAfterResponse` middleware only applied when the HTTP response without error, does it make sense that also applies it on error?

[2020-11-13 10:29] felixd commented on #389
Can you please clarify your question. It does work even when HTTP response with an error. Below you can find part of my code:

[code]

[2020-11-13 10:39] git-hulk commented on #389
hi, @felixd,

thanks for your reply, sorry that I didn't explain the question clearly.  My question was  that`OnAfterResponse` hook wasn't invoked when occurs the error like network/DNS failure, since the resty would return the error before invoking the hook in below:

https://github.com/go-resty/resty/blob/master/client.go#L837
https://github.com/go-resty/resty/blob/master/client.go#L860

[2020-11-20 03:33] Jexbat opened #391 "how to change 'Content-Type' when I call 'SetFormData'"
Code:
[code]

And `Content-Type` is still `application/x-www-form-urlencoded`. How to add `charset=UTF-8` in it?

[2020-11-26 10:12] zhaogx commented on #391
it works.
`client.SetPreRequestHook(func(c *resty.Client, request *http.Request) error {
	if request.Method == http.MethodPut {
		request.Header.Set("Content-Type", "application/x-www-form-urlencoded;charset=UTF-8")
	}
	return nil
})`

[2020-11-26 13:47] radhikadentsu commented on #391
approve

[2020-11-30 07:41] yjhmelody commented on #391
Are there any other methods to do it without hook or callback ?
I need to export these apis to more high level language, but I don't want to export these callback or hook apis.

[2020-11-30 18:45] moorereason commented on #391
@jeevatkm, what do you think about the change below?  It should fix this issue by not overwriting an existing `Content-Type` header, but would you consider it a breaking change?

[code]

[2020-12-01 09:18] yx1989 opened #393 "Response.Result() lost fields in embedded struct"
[code]

[2020-12-02 10:02] ArthurYangZhiBin opened #394 "compiteGenerator not implemented for type kind: slice"
_, err = i.Eval(fmt.Sprintf(`import "%s"`, manifest.Import))
err:/golang.org/x/crypto/ocsp/ocsp.go:142:32: compiteGenerator not implemented for type kind: slice

[2020-12-02 10:03] #394 closed

[2020-12-02 11:04] creekorful commented on #386
Hello,

I have uploaded my patch and now the package builds fine on i386, but not armhf.
You can view build status [here](https://tests.reproducible-builds.org/debian/rb-pkg/unstable/armhf/golang-github-go-resty-resty.html).

I'll take a look this week,

Cheers

[2020-12-07 16:32] vijayrajah opened #395 "How to set Content-Length header"
I'm trying to call an API, that expects 'Content-Length' = 0 for a HTTP PATCH Request. There is no request body for this request.

It seems golang (from 1.8) does not allow to set Content-length with zero bytes. ( pls see -- https://github.com/golang/go/issues/20257)

How do I set the header?
I have tried
[code]

And
[code]

None of these 2 ways set the content-length header.

[2020-12-07 17:35] clannadxr opened #396 "`trace.dnsStart` will be zero if client was reused and transport got persistConn from idle queue"
`clientTrace.dnsStart` and `clientTrace.dnsDone` will be set when `DNSStart`/ `DNSDone` or `ConnectStart` hook be called.

When `resty.Client` was reused and the transport delivered an already-idle connection, those hooks above won't be called thus leading to `clientTrace.dnsStart` and `clientTrace.dnsDone` be zero

[2020-12-07 20:33] moorereason commented on #395
I'm not able to reproduce this issue.  Can you provide a reproducible example?

[code]

[code]

[2020-12-07 23:55] moorereason commented on #396
Isn't that by design since no new connection is established?  What would you expect them to be if not zero?  On a connection re-use scenario, several hooks are skipped (DNSStart, DNSDone, ConnectStart, ConnectDone, TLSHandshakeStart, & TLSHandshakeDone).

[2020-12-08 00:37] clannadxr commented on #396
@moorereason sorry, the actual issue was `response.Time()` is calculated by `clientTrace.endTime.Sub(clientTrace.dnsStart)` when trace is enabled. So if when `dnsStart` is zero, `response.Time()` would be maximum duration.

[2020-12-08 03:19] vijayrajah commented on #395
@moorereason Thanks for looking into this issue

I added debug.. so this is my test code now

[code]

The http bin response in-deed has content-length header. But the request does not have one
[code]

as you can see the request does not have the content-length header

[2020-12-08 03:47] vijayrajah commented on #395
one more interesting info.

if i set
[code]
resty debug shows the content-length header is being set
[code]

But fidler trace does not show the header as part of this request....

[code]

[2020-12-08 15:48] moorereason commented on #395
Resty debug likely won't include the `Content-Length` header unless you add the header yourself.

It looks to me like httpbin **is** receiving a `Content-Length` header (based upon your first reply).  Can you cross-reference the httpbin output and Fiddler?

[2020-12-08 15:59] moorereason commented on #396
Are you using the latest resty?  This issue should be resolved in v2.4.0 (see #347).

[2020-12-08 16:22] clannadxr commented on #396
@moorereason Oh sorry didn't check the latest codes.

I noticed the v2.4.0 has not released yet, since it's a bug could you please merge it into v2.3.x and release a minor version if v2.4.0 is not ready for now

[2020-12-08 16:26] moorereason commented on #396
My bad.  I forgot that v2.4.0 isn't released yet.

Cc: @jeevatkm

[2020-12-11 15:14] LinkinStars commented on #351
@jeevatkm I met same problem. The request just like this:

[code]

Like you said, using `SetFormDataFromValues` function can solve it. Maybe like this: @avinash92c
[code]

So maybe we can actually implement a method to meet this requirement.
[code]

If you think need such a function, I can make a pr.

[2020-12-11 15:36] avinash92c commented on #351
I already solved this before making this post. i just thought a simpler and straight forward function might make things much easier to use for others facing same issue.

[2020-12-12 04:59] vijayrajah commented on #395
@moorereason It seems this is inconsistent.. I do not see the Content-Length response from httpbin

here is the code I used
[code]

Here is the response from httpbin
[code]

While this was running I did packet capture... Here is the packet capture... ( Using: tcpdump -nn -vv -A  port 80 )
[code]
If it makes any difference, This test I performed in my personal PC (go 1.15.6 on Linux ). The previous

[2020-12-12 06:35] vijayrajah commented on #395
One more info.. Courtesy of [this](https://stackoverflow.com/questions/63537645/content-length-header-is-not-getting-set-for-patch-requests-with-empty-nil-paylo) SO question

i wrote this code
[code]

For this I DO see the content-Length header

Response:
[code]

Packet capture
[code]
Can we do similar thing in Resty?

[2020-12-12 16:19] moorereason commented on #395
Interesting.  If you hit the SSL URL (https://httpbin.org/anything), resty sends a `Content-Length` header.  Non-SSL requests don't send the header.  😕 Hmm

[2020-12-12 17:44] moorereason commented on #395
### Findings

Ok.  I'm not able to come up with a way to send a `Content-Length` header for non-http2 requests with the current release of resty (v2.3.0).  My previous comment about SSL requests working was really that the client was using http2.  If you disable http2 on the client (`GODEBUG=http2client=0 go run main.go`), the SSL request also fails to send the `Content-Length` header.

### Work-a

[2020-12-13 09:59] whotakekajibu opened #397 "RawResponse field in Response should be unexported"
I run the code snippet below ,there is a bug with error message  "http2: response body closed (Client.Timeout or context cancellation while reading body)"

[code]

`GetClient() ` is my teammate's func which  wrapped of resty。
after i debug a lot ,then i found this is the misuse of access the repose body, which means
`config, ext, err := image.DecodeConfig(response.RawResponse.Body)`
should be repl

[2020-12-17 04:39] hikyaru-suzuki commented on #96
I had same problem but that is solved by this setting.

https://pkg.go.dev/github.com/go-resty/resty/v2#Client.SetCookieJar

[code]

My use case is a large number of requests are sent sequentially to the API that sets the cookie. Then the cookie will continue to be added and will be rejected from the API with 431 header too long.

[2020-12-23 06:29] mrwenhui opened #399 "resty not support GoLand IDE Debug Mode"
when I debug resty application in goland IDE on Ubuntu 20.04,  always  response   500 Inner server Error.
IF  i  run the resty application  in command line,  it works fine.

[2020-12-24 04:41] pfdtk opened #400 "Save response to file by custom middleware"
https://github.com/go-resty/resty/blob/0de0d7e3240b249466241b87947fcdc87c543909/client.go#L842

I try to save the response to file by my custom middleware registered by `OnAfterResponse`, but the option `isSaveResponse` is default to false because i dont use the default middleware `saveResponseIntoFile`, so the response will auto download and set to `response.body` before my custom middleware can

[2020-12-24 22:18] Strxngy opened #401 "How to get final redirect url"
_my code:_
[code]
**1 url:** host1.com
**2 url:** host2.com

### I want the second url

[2020-12-24 22:48] Strxngy commented on #401
**Nvm I found this**:
`fmt.Println(resp.RawResponse.Request.URL)` 👍

[2020-12-24 22:48] #401 closed

[2020-12-31 04:02] git-hulk commented on #396
hi, @moorereason when the v2.4.0 would be released, we are suffering from this issue as well.

:) thanks

[2020-12-31 04:05] git-hulk commented on #389
yeah, close this issue as a duplicate

[2020-12-31 04:05] #389 closed

[2021-01-03 03:20] moorereason commented on #395
BTW, this is fixed upstream in Go 1.16beta1.  See https://github.com/golang/go/issues/40978.  The [draft release notes](https://tip.golang.org/doc/go1.16#net/http) say:

With Go 1.16beta1 and resty v2.3.0, I'm now seeing a `Content-Length: 0` header with the following request:

[code]
Yea! :tada:

[2021-01-04 06:38] vijayrajah commented on #395
@moorereason Thanks a lot. That is the exact API, I'm trying to use. :) (azure DFS Gen2 API)

one more reason to look forward for 1.16 ( as it also includes //go:embed)

[2021-01-05 11:03] alexbolgov opened #402 "SetPathParam (add one parameter)"
Hey there!
Thanks for supporting this project!

I'd like to add one small thing that will save some lines of code for me
I want to propose a function
[code]

What do you think?

[2021-01-05 15:45] moorereason commented on #402
This request makes sense to me.  We would end up with:

[code]

We have similar capabilities with other client/request properties.  For example:

[code]

[2021-01-10 12:41] #386 closed

[2021-01-10 13:19] jeevatkm commented on #387
@felixd Thanks for reaching out. I understand what you mean. Let me think about a better way.

[2021-01-10 13:35] jeevatkm commented on #391
@zhaogx @radhikadentsu Nice community collaboration, thank you.

@moorereason I like your suggestion. I think there is another approach we can do here. Basically, resty can define exported fields for appropriate constants so that Resty users can set it via `func init() { .... }` on their end. This enhancement will cover #387

[2021-01-10 13:38] jeevatkm commented on #393
@yx1989 That's strange, typically `json.Unmarshal` function used internally. Could you share your JSON payload sample? I will try it out.

[2021-01-10 13:53] jeevatkm commented on #395
@moorereason @vijayrajah Nice interaction 👍

@moorereason your fix suggestion, I think we can go for it.

[2021-01-10 13:56] jeevatkm commented on #396
@git-hulk @clannadxr I'm sorry will do the release in few days.

@moorereason Thanks.

[2021-01-10 21:18] jeevatkm commented on #402
@alexbolgov @moorereason Sounds good!

[2021-01-10 22:04] jeevatkm commented on #397
@whotakekajibu Thanks for reaching out.  Technically, as a library, `RawResponse` should not be unexported.

While reading your issue details, you're trying to access the response body and manipulating it. I think the following approach will improve performance.
[code]

Refer to Resty godoc for further reading.

[2021-01-10 22:04] #397 closed

[2021-01-10 22:06] jeevatkm commented on #399
@mrwenhui I'm sorry, I could understand it. Could you please provide further details and examples to replicate the issue you're describing?

[2021-01-11 01:52] jeevatkm commented on #391
@Jexbat @moorereason I just did [bit of study](https://stackoverflow.com/questions/16819502/application-x-www-form-urlencoded-and-charset-utf-8) around this. It seems; better not to do any changes in the Resty. If needed Resty users could use PreRequestHook for customization.

[2021-01-11 02:03] #391 closed

[2021-01-11 02:35] jeevatkm commented on #387
@felixd After Resty v2.4.0 release, you could possibly do -

[code]

[2021-01-11 02:44] jeevatkm commented on #395
@moorereason I have applied your suggestion will be part of v2.4.0 release.
@vijayrajah FYI

[2021-01-11 02:53] jeevatkm commented on #377
@dimitrimus I thought to check with you. Are you still interested in making PR?

[2021-01-11 02:56] jeevatkm commented on #400
@pfdtk If you want to save the file as part of your custom response middleware then please do not use the `SetOutput` option.

[2021-01-11 02:58] jeevatkm commented on #359
@tamal-appsbee I'm closing this one.

[2021-01-11 02:58] #359 closed

[2021-01-11 05:34] #395 closed

[2021-01-11 05:34] #387 closed

[2021-01-11 05:34] #402 closed

[2021-01-11 09:11] mrwenhui commented on #399
I means   you can use resty  Post  Way to  request a restful api  like register user, login, or something else  with goland IDE debug step by step  mod,   the bug will always  show.   if you just run the request in command mod, it works fine.   It is difficult to show a server  and request here.

[2021-01-11 09:12] mrwenhui commented on #399
mod  is mode.

[2021-01-11 14:05] moorereason opened #404 "SetRetryCount allows negative values that Backoff doesn't properly handle"
`SetRetryCount` allows values less than zero, but the [`Backoff` implementation assumes `opts.maxRetries` is zero or greater](https://github.com/go-resty/resty/blob/b90c855d687abc2b9efef0e936ea5462836954a1/retry.go#L92).  The result is that `Backoff` doesn't actually make a request but also doesn't return an error.

Two options for a solution:

1. Convert negative values to zero in `SetRetryCount`

[2021-01-11 22:58] jeevatkm commented on #396
@git-hulk @clannadxr v2.4.0 is released, can you try and let us know?

[2021-01-12 01:04] git-hulk commented on #396
Thanks for your great work, I will try it out later.

[2021-01-12 14:39] moorereason commented on #404
@yjhmelody commented [here](https://github.com/go-resty/resty/pull/392#issuecomment-758527480) that option 2 (retry forever) is preferred.

I tend to agree.  Normally, a `-1` in this scenario means "no limit."

[2021-01-14 02:54] yx1989 commented on #393
the json payload like:
{
  "code": 13,
  "message": "some error msg..",
  "details": [
  ]
}

[2021-01-16 15:39] mmzhi opened #405 "The long connection function is currently not supported."
https://github.com/go-resty/resty/blob/61f4307870842f056ac439c0d627a9611846de02/client.go#L899

Currently, long connections are used to continuously obtain data, and HTTP will not be disconnected during this process. Since all data will be read here, it will cause the link to be blocked here, and we hope that developers will support the long connection function .

[2021-01-18 15:09] vijayrajah commented on #399
@mrwenhui I also use Goland IDE (from jetbrains), I do not have this issue..

[2021-01-18 15:12] vijayrajah commented on #395
@moorereason & @jeevatkm Thanks...

[2021-01-19 13:08] tamal-appsbee commented on #359
@jeevatkm @lggomez Sorry for late response. I will try it out.
Thank you.

[2021-01-19 13:09] tamal-appsbee commented on #359
ok
Thank You

[2021-01-25 14:07] hendryang opened #407 "client SetScheme and SetHostURL causing the hostname to be invalid"
See #318

I have managed to get the reproduction step. It's mainly caused by SetScheme

[code]

Error from first and second request:
[code]

[2021-01-25 15:03] moorereason commented on #407
Resty should somehow do the right thing here (or at least not do the wrong thing), but the API assumes that the `SetHostURL` parameter will contain the scheme.  Don't mix `SetScheme` and `SetHostURL`.

[2021-02-01 10:56] buglloc opened #408 "Execute user defined middlewares after resty's internal middlewares produced backward incompatible changes"
Latest v2.4.0 release have backward incompatible changes: #355
In this regard, I want to clarify - that now we can't manipulate the final request through `*resty.Request` is expected behavior or not? And now we need to rewrite all of our `OnBeforeRequest` middlewares?

Reproducer:
[code]

Before v2.4.0 (this behavior introduced in the #57 afaik) output:
[code]

v2.4.0:
[code]

[2021-02-02 14:51] moorereason commented on #408
I agree.  We should not have merged this breaking change into a minor release.

My recommendation would be to revert the change and issue a new minor release (v.2.5.0) ASAP.  Then we can open a new issue and discuss the problem #355 was trying to solve.

Cc: @jeevatkm

[2021-02-03 13:01] NeariX67 opened #410 "Support for custom Ports"
I am currently writing a client that will test against my local API on different port than 80.
Using "localhost:<port>" doesn't work because localhost doesn't seem to be a valid target, as well as a colon inside the url.
Is there any way to use a custom port for this?

[2021-02-03 14:04] NeariX67 commented on #410
Figured it out. Using `http://` as a prefix will fix this. See [this issue](https://github.com/golang/go/issues/19297)

[2021-02-03 14:04] #410 closed

[2021-02-07 20:35] jeevatkm commented on #408
@buglloc I'm sorry for the delay. I agree with @moorereason, apologies for the inconvenience. I will try to revert and make a release tonight or tomorrow. We will decide later on what do to with revert change.

[2021-02-09 05:41] uvindra opened #411 "resty support for no_proxy"
resty currently supports setting proxies via `client.SetProxy()`, allowing it to work with values defined in HTTP_PROXY and HTTPS_PROXY env variables.

Is there any functionality that would allow bypassing hosts defined in no_proxy/NO_PROXY env variables from the resty proxy settings?

[2021-02-09 12:11] jameshoulahan opened #412 "SetRetryMaxWaitTime with negative number + RetryAfter callback doesn't work reliably (due to 32bit/64bit integer conflict)"
`(*Client) SetRetryMaxWaitTime(time.Duration(-1))` should work, as shown in `retry_test.go`.

However, it seems to fail due to 32bit max integer value when used in collaboration with `(*Client) SetRetryAfter` due to the implementation of `func sleepDuration(...)` (in `retry.go`).

See my annotations here for an example when attempting to set max to -1 while the retry-after callback returns 5s:

[c

[2021-02-09 14:25] moorereason commented on #411
Unless you create your own `http.Transport`, by default resty uses the `http.ProxyFromEnvironment` method from the stdlib, which looks to the env for proxy info.  Resty's `client.SetProxy` uses `http.ProxyURL`, which bypasses the env lookups.

[2021-02-10 13:15] uvindra commented on #411
Ack @moorereason  thanks for the clarification. Tested and it does work as specified

[2021-02-10 13:15] #411 closed

[2021-02-10 16:26] buglloc commented on #408
jeevatkm@ any news? :)
The longer we wait with reverting, the more people can starts using the new behavior :(

[2021-02-11 10:15] jeevatkm commented on #408
@buglloc @moorereason Revert has been done!

[2021-02-11 10:15] #408 closed

[2021-02-11 10:36] buglloc commented on #408
Thanks!

[2021-02-12 06:00] RiyaJohn commented on #393
@jeevatkm Even I have the same issue when status code is 400, but is it that by design result will be set only for status code > 199 and < 300?

[2021-02-12 15:46] moorereason commented on #393
Use `SetError` to unmarshal error responses.

[2021-02-15 09:31] #396 closed

[2021-02-15 15:07] mrz1836 opened #415 "Verifying module, checksum mismatch (with new version 2.5.0)"
I'm getting this error after upgrading from resty 2.4.0 to 2.5.0:
[code]

Already did:
[code]

Any ideas? Thanks!

[2021-02-15 17:53] mxie1563 commented on #415
I encountered the same issue just now. any suggestions is appreciated. Thanks!

[2021-02-15 19:19] Blokje5 opened #416 "Proposal: OnRetry hook"
Currently the Retry interface of the Resty client supports a custom condition for when to retry and a custom callback to calculate the time between retries. What I am currently missing is an `OnRetry` hook to execute side effecting operations whenever a request is retried.

For example, I have a use case where I want to authenticate with an API after an access token has expired. One potential way

[2021-02-16 19:49] onwsk8r commented on #415
I'm getting (mostly) the same thing from dependabot -

[code]

[code]

[code]

I noticed that dependabot PR'd the `GmC` hash, but then running `go mod download` in CI found the `WFb` hash. Not sure how dependabot does those updates...

[2021-02-17 19:25] weeco commented on #415
Same issue here after updating the dependencies:

[code]

[2021-02-18 10:18] weeco commented on #415
@jeevatkm Can you release 2.5.1? I assume you have released/tagged it, then it has been downloaded at least once so that the checksum got registered in the checksum db and then you recreated a release quickly to patch/fix something. Hence the mismatch.

[2021-02-21 16:55] alfonmga opened #418 "Resty doesn't pass host name to SOCKS5 proxy"
I'm unable to resolve [Tor](https://www.torproject.org) `.onion` addresses when using `client.SetProxy()` option.

Error message:
[code]

Is there any way to get it working? thanks.

[2021-02-21 17:07] alfonmga commented on #418
BTW I can verify the SOCKS5 proxy works by using cURL:
[code]

[2021-02-21 18:25] alfonmga commented on #418
I'm able to make it works by setting up a custom `transport`:

[code]

[2021-02-21 18:25] #418 closed

[2021-02-22 18:28] onwsk8r commented on #415
y'know, I came across [this article](https://nakedsecurity.sophos.com/2021/02/16/how-one-man-silently-infiltrated-dozens-of-high-tech-networks/) the other day talking about what the bug bounty hunter in question called [dependency confusion](https://medium.com/@alex.birsan/dependency-confusion-4a5d60fec610) (medium.com), which is more or less what we're seeing here.. Of course it's possible someon

[2021-02-22 20:53] moorereason commented on #415
I'm not able to reproduce this error.  I'm using Go 1.16.

[2021-02-23 14:23] janflyborg commented on #415
We are seeing this in our build pipelines when using Go 1.15.8. Do we need to be concerned?

[2021-02-23 14:35] moorereason commented on #415
@janflyborg, yes, I would be concerned with build integrity.

Someone that can reproduce this needs to investigate this more.  What OS/arch?  Go versions?  What CI systems?  Is the CI system using its own module proxy?  More info on the Go module proxy system: https://blog.golang.org/module-mirror-launch.

[2021-02-24 18:37] matjam commented on #415
Seeing this also in our environment. Hits some users, not others, it's something to do with local cache and the proxy.

Correct fix is to tag v2.5.1.

You should never delete a tag, make changes, then retag the same version.

If you want to mark a version as bad there's a `retract` option for go.mod that lets you retract an earlier version, say, for security reasons.

[2021-02-24 18:50] janflyborg commented on #415
@moorereason thanks for the update. My question was not about build integrity in general, but about this specific case.

If we could get a confirmation from the maintainer of the project that he has indeed overwritten a tag, we could ignore this issue.

[2021-02-24 18:57] moorereason commented on #415
Cc: @jeevatkm

[2021-02-25 14:43] mrz1836 commented on #415
How long does it take to release a new version with the correct checksums? Should I just fork-off?

[2021-02-26 08:23] IdanAdar commented on #415
Agreed. A new minor release should be done to fix the mess that has happened...

[2021-03-03 16:25] albttx commented on #300
I had the same issues, my probleme was that i initialize my "Service" with a new request for always having  the http header

eg:

[code]
creating a new `R()` on each request fixed the issue

[2021-03-06 07:39] TemhAAhmeT opened #419 "de br"

[2021-03-06 07:39] #419 closed

[2021-03-07 17:03] gotobeexpert opened #420 "Cookie does not persist"
I need to persist cookies in a session.

In other words, I want "Set-cookies" which is in response header are saved automatically, and in the next request, it will be sent.

However, resty does not works like this.

Is it intented action?

Should I set cookies manually?

My test code is like this.

[code]

It prints it

FIRST REQUEST
-------------------------------
[code]
FIRST RESPONSE
----------

[2021-03-11 14:11] modest0 commented on #415
I'm having the same issue in go 1.16.1 linux/amd64

[2021-03-12 09:13] caeret commented on #415
same problem in go 1.16 macOS

[2021-03-12 11:29] lookwi commented on #415
Maybe the problem comes from goproxy
curl -s https://goproxy.cn/gopkg.in/src-d/go-git.v4/@v/v4.13.1.mod | sha256sum && \
curl -s https://goproxy.io/gopkg.in/src-d/go-git.v4/@v/v4.13.1.mod | sha256sum &&  \
curl -s https://goproxy.baidu.com/gopkg.in/src-d/go-git.v4/@v/v4.13.1.mod | sha256sum && \
curl -s https://mirrors.aliyun.com/goproxy/gopkg.in/src-d/go-git.v4/@v/v4.13.1.mod | sha256sum

swith t

[2021-03-13 15:59] forging2012 commented on #415
➜  client git:(dev) go mod tidy
go: downloading github.com/go-resty/resty/v2 v2.5.0
go: downloading github.com/opentracing/opentracing-go v1.1.0
go: downloading google.golang.org/grpc v1.29.1
verifying github.com/go-resty/resty/v2@v2.5.0: checksum mismatch
	downloaded: h1:GmCjQ7qW3Dzr3Lh7FvTrRJSWgYNWswDdOy+T8sgTAFI=
	go.sum:     h1:WFb5bD49/85PO7WgAjZ+/TJQ+Ty1XOcWEfD1zIFCM1c=

SECURITY ERROR
This

[2021-03-14 00:42] caeret commented on #415
after replacing GOPROXY from goproxy.io to goproxy.cn, the problem is solved.

[2021-03-14 09:31] forging2012 commented on #415
after replacing GOPROXY from goproxy.io to goproxy.cn, the problem is solved.

[2021-03-15 08:50] lookwi commented on #415
Congratulations

[2021-03-15 08:51] lookwi commented on #415
LGTM

[2021-03-19 17:36] modest0 commented on #415
Changing the proxy or configuring GONOPROXY may seem like a desperate solution but is definitely not an acceptable fix. Like @IdanAdar mentioned previously, a new minor tag should be released to the public.

[2021-03-19 17:39] mrz1836 commented on #415
I agree @modest0 - can we make a quick release @jeevatkm ? 🙏

[2021-03-19 18:49] onwsk8r commented on #415
I don't see any automation around tagging and releasing - it's easy to understand why we don't have a version 2.5.1. And hey, my automation still works; if @jeevatkm is comfortable automating releases, I'm happy to help. If not, I still don't like writing this kind of code and am still grateful to have this library available to me.

It looks like the only change in 2.5.0 was to revert a breaking c

[2021-03-20 22:20] jeevatkm commented on #416
@Blokje5 Thanks for your proposal. I agree it will be a helpful feature for Resty users.

[2021-03-21 07:03] jeevatkm commented on #404
@moorereason @yjhmelody Just wondering, the forever retry option is good or bad for the client library since it will result in DoS behavior on targeted application/service.

[2021-03-21 07:12] cxfksword commented on #420
You can try to use CookieJar:

[code]

[2021-03-21 07:12] jeevatkm commented on #415
Hello everyone - I understand and I'm sorry for the inconvenience. Before making release I have verified at my end (go1.15.6) it was looking good. I'm open to automation, no concerns.
I will see to make 2.5.1 or I will go for the 2.6.0 release with few contributed enhancements.

[2021-03-21 07:17] jeevatkm commented on #412
@jameshoulahan There is an update that happened in the retry sleep duration method. do you mind trying the branch master?  if the issue persists can you provide a test case.

[2021-03-21 07:23] jeevatkm commented on #393
@yx1989 @RiyaJohn You have to use `SetError` option as mentioned by @moorereason above. Since HTTP status code > 399, considered as Error then Resty uses Error reference for unmarshaling.

[2021-03-21 07:27] jeevatkm commented on #420
@cxfksword Thanks.

@gotobeexpert FYI, Resty by default sets the cookie jar, see here
https://github.com/go-resty/resty/blob/72b25e597a183bb1cc14b9e6020ab8f3ef45c1f2/resty.go#L21

Wondering what could be an issue.

[2021-03-21 07:53] jeevatkm commented on #400
I'm closing it.

[2021-03-21 07:53] #400 closed

[2021-03-21 07:55] jeevatkm commented on #399
@vijayrajah Thanks.

@mrwenhui I do not know how to reproduce it. Plus library does not have anything specific to any IDE.

[2021-03-21 07:56] #393 closed

[2021-03-21 07:59] jeevatkm commented on #405
@mmzhi Can you please explain what do you mean by the long connection function?

[2021-03-21 08:17] jeevatkm commented on #327
I'm closing this one.

[2021-03-21 08:17] #327 closed

[2021-03-22 07:46] mmzhi commented on #405
Sorry my bad English. It user google translate.
The client connects to the server through the HTTP protocol. After a successful connection, neither the server nor the client will disconnect, and will continue to transmit data, similar to the MQTT protocol.

[2021-03-22 12:28] jwrookie opened #422 "SetQueryParams failed in onBeforeRequest"
succeed
[code]
failed
[code]

[2021-03-22 18:31] moorereason commented on #422
Is this a typo?  Where are you using `onBeforeRequest`?

[2021-03-23 03:19] jwrookie commented on #422
[code]
2021/03/23 11:17:52.135393 ERROR RESTY Post "https://webgfw.ymt.com/hangqing_ditu/api/hot_market_price_list": proxyconnect tcp: dial tcp 127.0.0.1:8888: connect: connection refused, Attempt 1

2021/03/23 11:17:52.237422 ERROR RESTY Post "https://webgfw.ymt.com/hangqing_ditu/api/hot_market_price_list?fCode=xxx&ts=xxx&version=xxx": proxyconnect tcp: dial tcp 127.0.0.1:8888: connect: connectio

[2021-03-24 09:22] jamesfyp opened #423 "about retry function"
Why can't the "retry" function change the condition of an HTTP request? For example, User agent, proxy, did I not notice? If not, in what scenario should the "retry" feature be used?

[2021-03-24 10:47] jamesfyp commented on #423
I think SetRetryAfter can solve my problem,thank u and my bad

[2021-03-25 02:45] mrwenhui commented on #399
Still have this issue. Thanks for your effort.  If anyone eles dont have this issue , I can close it.

[2021-03-25 05:37] gotobeexpert commented on #420
I think I get some mistakes.

Now, there is no problem in cookie operation.

I'm sorry, thanks

[2021-03-25 05:37] #420 closed

[2021-03-26 10:24] cxfksword opened #424 "Request debug log loss cookie header when use CookieJar"
I found Request debug log not print cookie header. for example:

[code]

output:
[code]

[2021-03-27 17:52] #423 closed

[2021-03-29 06:29] #399 closed

[2021-04-07 16:12] comartmit commented on #415
Can we prioritize the version bump to v2.5.1 to unblock everyone's build pipelines? This is a quick solution and shouldn't require packaging any other enhancements besides fixing the broken checksum, which is currently blocking.

[2021-04-08 11:20] jeevatkm commented on #415
@comartmit I thought about it, but there are few commits that happened for v2.6.0 dev iteration. That's why couldn't do a quick version bump. By tomorrow I will surely make v2.6.0 release.

[2021-04-08 11:24] #416 closed

[2021-04-16 09:04] #415 closed

[2021-04-27 07:03] yuelwish opened #426 "error cookie domain"
[code]
------------------------------------
[code]
When I use client to set up cookie, I should need to determine the domain. of cookie

github.com/go-resty/resty/v2@v2.6.0/middleware.go:createHTTPRequest:185
[code]

[2021-04-29 12:31] xfixxy1356 opened #427 "error"
go get: github.com/go-resty/resty@v1.8.0 updating to
        github.com/go-resty/resty@v1.12.0: parsing go.mod:
        module declares its path as: gopkg.in/resty.v1
                but was required as: github.com/go-resty/resty

[2021-05-12 08:33] okhowang opened #429 "OnAfterResponse can do before default afterResponse"
background:
there is a HTTP API which response is json, but it's not utf8 encoding.

I want add a response middleware by `OnAfterResponse` to transform response.body's encoding before parseJson.
but `OnAfterResponse` append my hook function after `parseResponseBody`.

[2021-05-16 10:08] smadarasmi opened #430 "Service Discovery option for clients"
# Current Behavior
Resty seems to support two ways of looking up address
1. Specifying host information as part of url parameter which will be taken as-is if `SRVRecord` is not provided
2. Use `net.LookupSRV` if `SRVRecord` is provided

# Proposal
Allow for other types of service discovery.

Some projects use Consul or K8s APIs to discover the available addresses of service and does client-side ro

[2021-05-25 05:43] haibeihabo opened #431 "Upload empty file get "EOF" error"
[code]

upload empty file error

[code]

[2021-06-08 12:40] Flowersea commented on #429
+1

[2021-06-09 16:21] DazKins opened #432 "Implement easier adding of multi-value http headers"
There are currently 2 `SetHeaders` functions with the following types:

[code]

It might be convenient to add a 3rd:

[code]

As listed in RFC2616 HTTP headers can have multiple values: https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html

This would also be convenient as the inbuilt golang `http.Header` type is defined as `map[string][]string` so would allow for direct usage of that type:

[co

[2021-07-02 15:58] bigfoot31 commented on #328
Add this to the readme/FAQs

[2021-07-03 12:22] rohitkg98 opened #433 "Request Specific Retry Conditions"
Currently Retry Conditions are added to the client which are then subsequently used by the request. This introduces the need to create a new client to create a request with different retry condition. A workaround would be setting`client.RetryConditions` to an empty slice, which would fail is used concurrently.

I propose Request Specific RetryConditions, while keeping the client one and using comb

[2021-07-04 11:32] bigfoot31 commented on #291
should add this to FAQ or highlighted in examples

[2021-07-14 16:27] wsw70 opened #437 "[not an issue] THANK YOU"
Sorry if I use the Issues for this message but I have to say

**THANK.YOU.**

For someone new to Golang and coming from a (mostly) Python background, `go-resty` brings sanity to the HTTS calls. This is truly a life saver.

I will close this "Issue" in a few days, after I made sure the world has seen it :)

Thanks again.

[2021-07-15 04:06] NathanBaulch commented on #431
I stumbled on this same issue and have fixed it in PR #438.

[2021-07-16 21:24] chb0github opened #439 "modularize accept and content-type as middleware functions"
Right now there is no way to set a custom accept/content-type - you can set the header, but you can't actually manipulate the data. This means that resty has no way to handle anything that isn't

1. `JSON`-ish
2. text
3. Sniffed mime

Ideally, something like
[code]
The current code could be migrated to a map of accept/content handlers

Here is the relevant code currently in use:

[code]

[2021-07-27 10:46] vacero opened #440 "PreMiddlewaresHook?"
First of all, thanks for you awesome project!

I wanted to know if it would be possible to have a custom hook or a middleware that executes **before** any of the resty middlewares do. The context is that I am using the Path Parameters feature and I would like to access the raw string before the param values are applied by the resty middleware. I want to have metrics for each request with a path la

[2021-07-28 03:46] gungdr commented on #49
hi @jeevatkm
is it possible do Post request like this?
[code]

[2021-07-29 12:43] MJjainam commented on #427
Facing the same issue.

[2021-07-30 19:33] jvitoroc commented on #28
Has the function name changed overtime? It seems it is "SetQueryParamsFromValues" now.

[2021-08-02 09:37] johnnybubonic opened #441 "Nomenclature fix"
Currently, SetHostURL() is a bit ambiguous in its wording. A more appropriate term would perhaps instead be "SetBaseURL" or the like. "HostURL" sounds more like specifying a `Host` header to me. Alternatively, this can be made a bit more clear by specifying a path other than `/` in the example in the documentation, such as  `client.SetHostURL("http://httpbin.org/some/path")` ("Unique settings at C

[2021-08-03 10:23] kishaningithub commented on #437
@jeevatkm Can you enabled discussions in this repo? I think others can add their testimonials as well there :-)

And can be a place for general Q and A as well

[2021-08-05 17:02] kaduartur opened #442 "Return error when "RetryCount" is negative"
In my work, we have some requests that are created at runtime. We noticed that resty retries always start at zero and when retrying with a setting of 1 resty would retry this twice.

So we made an adjustment to (Retry -1), but we started having null pointer problems when using the `response.Size()` function because when our retry setting is zero, we pass -1 to the `SetRetryCount` function, and to

[2021-08-11 13:30] pkositsyn opened #443 "Do not wait retry time if exceeded max attempts"
In this block https://github.com/go-resty/resty/blob/70336cb87f39407ce7f8d41ffcd2b40b9729f401/retry.go#L104-L145
when `attempt == opts.maxAttempts` and `onRetryCondition` returned true we wait extra time for retry. But after waiting just return err as long as we don't enter cycle anymore.

Example: https://play.golang.org/p/v3l6LmcWRvA. Should wait 2 seconds for 1 retry instead of 4.

[2021-08-15 12:42] wsw70 commented on #437
OK, I think enough people have seen this.
The discussion suggestion by @jeevatkm is a great one

[2021-08-15 12:42] #437 closed

[2021-08-18 10:32] xbabybus opened #445 "Form request processing speed is too slow"
POST request is too slow, I tested the original Post Form request and RESTY POST FORM request, the same URL wants query string, all 5S test duration, the original can request 780 in the specified time, average 156 / s And RESTY can only request about 180 or more in the same time, with average 36 / s, I hope to optimize the request processing speed.

[2021-08-20 10:07] RafPe opened #446 "Encoded QueryStringParam shows !A(MISSING)"
Hi ,

When working with resty & querystring params I noticed that when showing debug output and having special characters in queryParamString it shows them as `!A(MISSING)` altough query is properly formated and sent

[code]

Its not a show stopper - but confuses end users when debugging.

[2021-08-20 13:30] moorereason commented on #446
I think [this line](https://github.com/go-resty/resty/blob/d01e8d1bac5ba1fed0d9e03c4c47ca21e94a7e8e/middleware.go#L318) is the problem.  `debugLog` should be escaped before passing to `Debugf`.

[2021-08-22 11:42] rizalgowandy opened #448 "Implement Circuit Breaker Pattern"
It will be awesome if resty has a built-in circuit breaker that can be enabled.
This feature protects from too many open files and much more accidents.

Reference: https://github.com/eapache/go-resiliency

[2021-08-23 01:53] Nyx2020 opened #449 "How to decrease verbose informations"
when the url is not reachabble,resty will print a lot of errors like:

ERROR RESTY Get "*****": read tcp ***
![image](https://user-images.githubusercontent.com/51039208/130379528-eb0475db-cfb1-4be2-a78c-e97aca924bf4.png)

i wanna know how to decrease or close these outputs

[2021-08-23 15:29] moorereason commented on #449
To override the default logger, use [*Client.SetLogger](https://pkg.go.dev/github.com/go-resty/resty/v2#Client.SetLogger).

[2021-08-24 13:54] Nyx2020 commented on #449
i found the SetLogger(l Logger) *Client function,the Logger has 3 types:
type Logger interface {
	Errorf(format string, v ...interface{})
	Warnf(format string, v ...interface{})
	Debugf(format string, v ...interface{})
}

from the picture, i got a error,so , can i close the output in my picture by using resty.setlogger(Logger.Errorf) ?

[2021-08-24 14:13] moorereason commented on #449
You need to build your own type that satisfies the Logger interface.

[2021-08-25 09:32] Nyx2020 commented on #449
can u show me a example

[2021-08-26 21:21] jj0e opened #450 "How can I avoid cookies persisting on a single resty Client?"
I'm working on a specific application where I would like to just have a single, global, request client. The client will make several different requests. However, I noticed that cookies returned from one request on the client will persist on a subsequent request. When I try to list the clients cookies, it appears to be empty, yet the cookies are still submitted. How can I avoid this without creatin

[2021-09-01 06:18] mhdiiilham commented on #432
Hey @DazKins is anyone already working on this? If not, I'd be glad if you assign this to me

[2021-09-01 07:14] DazKins commented on #432
Hey, I don't have permission to assign, but no I don't believe anyone is working on this

[2021-09-12 16:51] #432 closed

[2021-09-12 18:14] jeevatkm commented on #315
@renathoaz I thought to inform. RetryConditions at the request level enhancement PR #436 got submitted. Will close this one after the merge.

[2021-09-12 18:17] jeevatkm commented on #324
@NeoCN I thought to inform you. RetryConditions at the request level enhancement PR #436 got submitted by @rohitkg98. Will close this one after the merge.

[2021-09-12 18:42] jeevatkm commented on #446
@RafPe Do you mind helping with the tiny test cases or test request data? It will be helpful to replicate at my end and addressing an issue.

[2021-09-12 18:46] jeevatkm commented on #445
@WSZ9527 Thanks for reaching out.
Typically, the term "speed" is a variable factor based on consumer use cases and data.

It will be helpful for analyzes/investgation; if could provide the test cases to showcase your use case and exact sample data.

[2021-09-12 18:50] jeevatkm commented on #412
@jameshoulahan Any update from your end?

[2021-09-12 19:00] jeevatkm commented on #442
@kaduartur Thanks for reaching out.
I would like to clarify the fix approach (starting from 1 instead of 0??). I would like to avoid negative value input. Currently no validation, thinking to add that in v3.0.0.

While making changes, please this reference into consideration.
* Code reference
   https://github.com/go-resty/resty/blob/c1fa35881e814e06d0b49c1ea899fe65738282e0/request.go#L743-L748
*

[2021-09-12 19:08] jeevatkm commented on #441
@johnnybubonic Thanks for reaching out and sharing your thoughts.
Yeah, the name `SetBaseURL` suitable name too. This is a breaking change, so parking it for v3.0.0

[2021-09-13 04:07] #443 closed

[2021-09-13 04:11] jeevatkm opened #454 "Please use Github Discussions for Support, Q&A, Discussion, etc."
DO NOT CREATE ISSUE for Support, Q&A, Discussion, etc. instead please use Github Discussions.

[2021-09-13 04:16] jeevatkm commented on #449
@Nyx2020 You could do something similar to what Resty does internally and override.
https://github.com/go-resty/resty/blob/b8f7c11e7ffbd132c6743f16d784ee7164a883ba/util.go#L44-L66

[2021-09-13 04:17] #449 closed

[2021-09-13 04:37] #450 closed

[2021-09-13 04:49] jeevatkm commented on #440
@vacero Thanks for reaching out and your appreciation.

I would like to clarify, you want to get this URL value `/v1/users/{userId}/{subAccountId}/details`, am I correct?

[2021-09-13 04:55] jeevatkm commented on #439
@chb0github Thanks for reaching out.
Just to clarify, the above suggestion is for Request or Response?

[2021-09-13 04:56] jeevatkm commented on #431
Thank you @NathanBaulch

[2021-09-13 05:00] chb0github commented on #439
Both, actually. So can set the accept and content type handlers. And, as it's a list, i suggest the verb "AddContentTypeHandler" (and AddAccept...)

Then, reimplement the current code to follow this paradigm.

I'm willing to commit time and implement it if it's an agreed upon design

[2021-09-13 05:02] jeevatkm commented on #430
@smadarasmi I think, this is where Resty Request Middleware shines, resty could write a middleware process with their discovery service and set the request-host URL.

[2021-09-13 05:05] jeevatkm commented on #439
@chb0github Got it. I'm sorry for the above-delayed response. I need to think about it, I will get back to you.

[2021-09-13 05:08] chb0github commented on #439
I could have handily used this when marshalling form encoded data. The current code didn't like that

[2021-09-13 05:10] jeevatkm commented on #429
@okhowang Ideally when dealing with non-conventional response data. I would recommend you to take over the response parsing from Resty. Use https://pkg.go.dev/github.com/go-resty/resty/v2#Client.SetDoNotParseResponse option.

[2021-09-13 05:10] #429 closed

[2021-09-13 05:14] jeevatkm commented on #439
@chb0github I surely understand your suggestion. I'm glad to hear about your commitment too. Just I need time to think about it without introducing a breaking change.

[2021-09-13 05:22] jeevatkm commented on #448
@rizalgowandy Thanks for reaching out and recommending a new feature for Resty.

[2021-09-13 05:33] jeevatkm commented on #427
@MJjainam @xfixxy1356 The complete Resty v1 uses the `gopkg.in/resty.v1`.

Typically, the following `go.mod` definition should work.
[code]

PS:
It's been more than two years since the `v1.12.0` release, it is not actively supported. I would highly recommend you upgrade to v2. Have look at the Resty v2 release notes, it very simple/less breaking change it has - https://github.com/go-resty/resty/re

[2021-09-13 05:33] #427 closed

[2021-09-13 05:36] okhowang commented on #429
I use `SetDoNotParseResponse` currently.
but everything in response could be done by resty except encoding or something else.
we can do everything gracefully in resty if there is a hook method to modify response data.

[2021-09-13 05:42] jeevatkm commented on #429
@okhowang do you mind providing a sample test case to demonstrate it?

[2021-09-13 09:45] RafPe commented on #446
@jeevatkm would this work https://github.com/apiheat/akamai-cli-netlist/issues/30#issuecomment-901991146 ? Its part of the refferenced issue here.

In short it happens when we have special characters in query string.

[2021-09-13 17:23] #431 closed

[2021-09-13 18:51] jeevatkm commented on #446
@RafPe Actually, I was trying to find out those special characters as a sample.
Right here Request URI is grabbed and compose for debug log
https://github.com/go-resty/resty/blob/79cc4d44d50815b89104fec0cc8f363e7e8c7586/middleware.go#L277

I think applying Escape for the overall debug log might have side effects. So it's better to address at the URI processing end.

can you help to find out those

[2021-09-13 19:09] jeevatkm commented on #446
@RafPe Also while I was reading your referred issue. I think param `accountSwitchKey` value had a character set something like `%A` and then package `fmt` was unable to recognize, so it logged as `%!A(MISSING)`.

[2021-09-13 19:24] jeevatkm commented on #446
@moorereason your thoughts

[2021-09-13 19:28] RafPe commented on #446
@jeevatkm The param query string accountSwitchKey in deed was the one causing problem. The situation was caused by using the following characters `F-AC-XXXXXXX:Y-YYYY`

In my opinion the debug URI should reflect what is being actually sent to the end server as request ( imho )

[2021-09-13 19:31] jeevatkm commented on #446
@RafPe Thanks for the info. Do you mean `:` caused this?
I will look further at my end too.

[2021-09-13 19:33] RafPe commented on #446
@jeevatkm I believe it did. Based on my tests there thats what I got

`GET  /network-list/v2/network-lists?accountSwitchKey=F-AC-XXXXXXX%!A(MISSING)Y-YYYY`

[2021-09-13 20:30] moorereason commented on #446
Somewhere along the way, the `:` is probably being uri-encoded as `%3A`.  This would give the `%!A(MISSING)` message seen.

However, I'm unable to reproduce this issue with a simple test:

[code]

I don't see anywhere in resty where we're misusing a printf-style function which would cause this problem.

@RafPe, can you make sure you're using the latest resty release?  How exactly is your project u

[2021-09-13 20:50] RafPe commented on #446
@moorereason Resty is being used as http client within my apis base client which then in response is used in specific multiple service implementations.

The behaviour happens when I use the functionality of setting query string param - so not directly via URL.

For the current version I will have to check - but I'm sure I was updating it locally while debugging the referenced issue

[2021-09-13 21:10] moorereason commented on #446
It looks to me like you're using v2.0.0.  v2.0.0 had [a misuse of `log.Debugf`](https://github.com/go-resty/resty/blob/v2.0.0/middleware.go#L284), which was [fixed](https://github.com/go-resty/resty/commit/314627a0b30099ad40b80f8f4c2ad6fcd4600f3f) and shipped with v2.3.0.

[2021-09-13 21:11] RafPe commented on #446
@moorereason I will double check that tomorrow and confirm to you what is the precise version I get this behaviour

[2021-09-14 00:29] jeevatkm commented on #446
@RafPe Yeah, it seems upstream lib go-edgegrid using Resty v2.0.0
https://github.com/apiheat/go-edgegrid/blob/4fd7bca6dc93d2e9376a44291f6a2a14a06f4b2c/go.mod#L8

Can you try the latest version and share feedback?

[2021-09-14 00:35] jeevatkm commented on #441
@johnnybubonic Had another thought. Possibly we can add a new method `SetBaseURL` and deprecated the `SetHostURL`. So that on v3.0.0, it will become feasible to remove deprecated elements.

[2021-09-14 00:38] johnnybubonic commented on #441
That would be more sensible an approach, i think

[2021-09-14 06:17] jeevatkm commented on #349
I'm closing this one.

[2021-09-14 06:17] #349 closed

[2021-09-14 11:59] jameshoulahan commented on #412
No updates, sorry. Didn't get around to pursuing this issue any further.

[2021-09-15 02:55] jeevatkm commented on #407
@hendryang I have fixed the issue. Can you please try this branch `for-gh318-gh407` and share your feedback?

[2021-09-15 21:53] chb0github opened #461 "How to do a non-multipart upload?"
https://stackoverflow.com/questions/69200168/go-resty-equivalent-to-the-below-curl-command

So, I have a curl command that works just fine. But, when I try to implement it in [Resty][1] I get an error: 405 (method not allowed). Now, that error code shouldn't be taken too seriously. Just an indication I am doing something wrong.

The curl command that works like a champ does this:
[code]
And the re

[2021-09-16 02:31] moorereason commented on #461
`SetFileReader` and `SetFile` explicitly enable multipart within Resty.  I'm not able to reproduce this issue with  `SetBody` and resty v2.6.0.

[code]

[2021-09-16 04:55] #315 closed

[2021-09-16 04:55] #324 closed

[2021-09-16 04:55] #433 closed

[2021-09-16 04:59] #407 closed

[2021-09-17 15:49] muratmirgun opened #463 "SSL Config's"
I want to disable ssl and get it to a site with https attached, but I couldn't find the configuration.

[2021-09-17 16:18] #463 closed

[2021-09-20 23:13] chb0github commented on #461
That works. Thanks

[2021-09-20 23:14] #461 closed

[2021-09-23 20:17] jeremy-chua commented on #231
Just wondering if this feature is in the rodmap?

[2021-09-24 05:36] codenoid opened #466 "resty parse Set-Cookie header incorrectly"
![Screenshot from 2021-09-24 12-35-56](https://user-images.githubusercontent.com/14269809/134623607-5e8ed9f1-0d79-4ab9-b6fd-03d5a1a21c94.png)

http.Cookie from parsed resty are only contains `name` and `value`

[2021-10-01 03:06] liyuan1125 opened #468 "Limit the maximum number of requests"
For example, how to limit the maximum number of requests during concurrent requests?

[2021-10-01 18:01] chb0github commented on #433
Any timeline on release?

[2021-10-05 10:55] bynov opened #469 "[QUESTION] Logging in retry"
Hi!
My goresty client configuration:
[code]
I have response from API with 409 status code, so retry condition is not work. But response is logged to console. I there any way to disable logging?

Response:
[code]

[2021-10-11 20:22] forGitMeNotPlease opened #471 "Retry on Error"
I'm trying to add a retry based on an error case (rather than a response case), but it's not retrying.  Seems to only work by checking the response object, which in case of error, there isn't one. How can we add retry condition for example, the most easiest to be able to reproduce case, "no such host" error?

[code]

There's also a similar issue that was opened here: https://github.com/go-resty/re

[2021-10-11 20:41] #471 closed, assigned to nobody

[2021-10-14 18:58] lavoiesl commented on #256
I am also interested in having rate limiting.

However, to avoid locking into one particular interface, I suggest adding the ability to wrap executors and let users add limiters how they see fit: https://github.com/go-resty/resty/pull/477

[2021-10-24 23:09] jeevatkm opened #479 "Find alternate for Travis CI, PR validations did not take place due to Free Credits is gone"
The last 3 PRs didn't get a run because of

[code]

Give it a try on Github Actions.

[2021-10-25 05:29] #479 closed, assigned to jeevatkm

[2021-10-25 10:23] mjeco opened #481 "Cannot unmarshal ISO-8859-1 encoded XML"
Trying to use the automatic unmarshaling of XML with `SetResult()` is failing for me as the XML in the response has `encoding="ISO-8859-1"` set.

Fails with the following error:
[code]

Response example:
[code]

I am able to successfully unmarshal the above XML response with the below function.
[code]

Is it possible to set the `CharsetReader` to be used for the XML unmarshal?

[2021-10-25 16:13] kotyara85 opened #482 "Goroutines are not being closed - memory leaks"
Hello,
Running this simple code

[code]

[code]

and seeing that goroutines are increasing.
Is there any way to termintae idle connections somehow? This results into memory leaks.
Thanks

[2021-10-26 05:16] #482 closed, assigned to nobody

[2021-10-29 18:04] lavoiesl commented on #468
Is this a duplicate of https://github.com/go-resty/resty/issues/256?

[2021-10-30 15:12] leewithyuan commented on #468
Sorry, I have solved it, the maximum number of requests is limited to 100;

[code]

[2021-10-31 01:31] jeevatkm commented on #481
@mjeco I think, it's better to expose XML marshal & unmarshal for the override similar to JSON. So that resty user can inject the custom function.
FYI, doing bytes -> string, and string comparing may not be performant.

[2021-10-31 22:51] jeevatkm commented on #481
@mjeco After `v2.7.0` release, you can do as following. Also charset string condition may not be needed.
[code]

[2021-10-31 23:18] jeevatkm commented on #16
@lucaswxp do you mean golang removed the proxy option in the transport? Can you provide a reference for removal?

[2021-10-31 23:27] lucaswxp commented on #16
@jeevatkm Hi, sorry no, I meant I can't see proxyURL in the Request struct in upsteam anymore, or am I missing something?

[2021-10-31 23:38] jeevatkm commented on #16
@lucaswxp So you mean upstream is Resty, correct? I got confused by the word "upstream".
Yes, it got removed the request proxy in [`v0.11`](https://github.com/go-resty/resty/releases/tag/v0.11) in Mar 2017

[2021-11-01 13:37] moorereason opened #486 "README: explain that Client.JSONMarshal/JSONUnmarshal can be overloaded"
The README doesn't call out the fact that you can overload the `*Client.JSONMarshal` and `*Client.JSONUnmarshal` methods.  Make this more apparent and possibly provide an example usage.

See #76 for possible examples of using non-stdlib JSON packages.

[2021-11-02 08:42] mjeco commented on #481
@jeevatkm Allowing to set a custom unmarshal function for XML is the best path forward. Thanks for this!

[2021-11-02 08:42] #481 closed

[2021-11-04 03:56] y4code opened #487 "How to handle a 200 response but response struct is not expected ?"
The server response would be like

[code]
and

[code]

Here is my solution below trying to make this case elegant, not taking benefit of auto-unmarshal of resty caused i didn't find any document about this.

So, does resty give some solution or feature to handle a 200 response but the response body may be different in some cases?

[code]

[2021-11-04 03:59] y4code commented on #487
Of course a generic response dto is suitable for this case, but what about a quite different response ?

[code]

[2021-11-04 05:22] #486 closed

[2021-11-04 05:24] #487 closed

[2021-11-09 06:28] zulfirman commented on #161
For me I use https://github.com/thedevsaddam/gojsonq

[code]

you can return whatever the response without creating any struct

[2021-11-11 16:14] KshitijGugale opened #490 "Issue while uploading csv file"
Hi Team,

I am facing one weird issue while uploading a csv file. When there are 3 lines in csv file then SetFile() works perfectly but when I add 4th line in csv i am getting an error as "Invalid file type or fie is empty"

Sample code:
res, err := client.R().SetFile("file", "abc.csv").Post("<my_url>")

Any suggestion would be much appreciated.

[2021-11-16 14:41] davidbayo10 opened #491 "Request URL as empty string"
Hi,

[code]

This piece reveals a weird behavior. Those prints are not correct. I am doing something wrong?. Thank you all in advance.

[2021-11-16 14:56] moorereason commented on #491
I'm pretty sure `Request.URL` is purposely not set until a request is finally executed.  In your example, that happens with `req.Get`.

[2021-11-16 17:52] GarryGaller opened #492 "JSON is not decoded when the server returns a status other than 200 OK"
Why if the server response code is not 200 OK the response is not decoded into the passed structure?
A response other than 200 does not mean that the server did not send valid data.

[code]

[2021-11-16 19:22] moorereason commented on #492
Use [`*Request.SetError`](https://pkg.go.dev/github.com/go-resty/resty/v2#Request.SetError) to capture unsuccessful responses.

[2021-11-16 20:06] GarryGaller commented on #492
@moorereason
Yes, thank you. I figured out later what to do:
[code]

[2021-11-16 20:09] #492 closed

[2021-11-17 08:20] davidbayo10 commented on #491
So, the only way for caching requests is prebuilding the url. Right??

[2021-11-26 13:34] vacero commented on #440
Sorry for the delay in the answer. Yes, that is correct, I want the string `/v1/users/{userId}/{subAccountId}/details` instead of the final one

[2021-11-30 21:06] dbriemann commented on #256
Hi, I needed client side rate-limiting for a personal project so I did a short implementation based on `golang.org/x/time/rate` as mentioned by @janekolszak .

I created a pull request: https://github.com/go-resty/resty/pull/494

If you think this would be useful for Resty don't hesitate to ask for changes.

[2021-12-04 05:55] Myriad-Dreamin opened #495 "Big file as request body"
I'm uploading a file as request body with size of 4GB and found that resty [copies full file content into memory](https://github.com/go-resty/resty/blob/master/middleware.go#L521) (to handle `http.Request.GetBody` callback?). However, it is not necessary because `net/http.Client` only views the body as an `io.ReadCloser`.

https://github.com/go-resty/resty/blob/7dda6159eceee10c6cacc6f9d1637042f674

[2021-12-04 06:12] Myriad-Dreamin opened #496 "set Content-Type to be empty"
The `Content-Type` header maybe a part of oauth signed request.

https://github.com/go-resty/resty/blob/7dda6159eceee10c6cacc6f9d1637042f67423b0/middleware.go#L430-L436

One using resty might have to use `PreRequestHook` to make a request with empty content type.

[code]

[2021-12-15 17:33] npalladium opened #498 "Cancelling Requests in Middleware"
Is there anyway to cancel the request in Middleware?
My use-case is printing the `curl` command for the request and exiting if a `--dry-run` flag is set.

PS. Amazing utility! ❤️

[2021-12-17 14:16] mingzaily opened #499 "Some questions about retrying"
First of all, thank the author for providing such an excellent plug-in.
But how do I set it so that one of the parameters can be replaced when retrying？

[code]

My retry condition means that I will retry when the access_token expires, but I should replace the token with a new valid token. What should I do?

[2021-12-19 05:18] bo-er opened #500 "Resty can't handle Chinese character"
Can resty support custom encoding?

[2021-12-21 03:45] ghost opened #501 "Should respect system netrc config"
The netrc file will contain the auth username and password.
See also:
https://github.com/golang/go/blob/master/src/cmd/go/internal/auth/auth.go

[2021-12-21 07:34] chowyu12 opened #503 "SetResult Add nil Check"
SetResult Add nil Check, avoid panic

[2021-12-25 13:31] wcig commented on #482
how did you solve this problem, not create client every time but use one client?

[2021-12-28 21:17] Akaame commented on #500
When you are creating an issue on any kind of programming website, make sure you spend a little more of your precious time to explain what your problem is and make an effort to give example cases and code blocks.

On to the subject at hand:

GET

GOLANG

[code]

CURL

[code]
POST

GOLANG

[code]

CURL

[code]

From the looks of it I think you demand the client to automatically urlencode your query

[2022-01-04 12:39] culionbear opened #505 "How to use http2 in resty"
how to use http2.0 in resty?
go version : 1.15

[2022-01-04 18:37] moorereason commented on #505
HTTP/2 works out of the box with Go 1.16+.  Prior to that you need to [use a custom transport](https://pkg.go.dev/github.com/go-resty/resty/v2#Client.SetTransport) from [`golang.org/x/net/http2`](https://pkg.go.dev/golang.org/x/net/http2).

[2022-01-05 05:06] Esword618 opened #506 "How do I get all my cookies?"
How do I get all my cookies?

This is my code.
`
	client := resty.New()

	client.SetHeader("user-agent", "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/96.0.4664.110 Safari/537.36")

	res, err := client.R().Get("https://www.icourse163.org/logonByQRCode/code.do?width=182&height=182")

	if err != nil {
		panic(err)
	}

	fmt.Println(res.String())

	fmt.Printl

[2022-01-05 12:13] Esword618 opened #507 "One question"
How to achieve http client cookie persistence.

[2022-01-05 15:46] moorereason commented on #507
Resty supports cookie persistence on the Client by default.

[2022-01-06 02:19] Esword618 commented on #507
Ok, thank you very much for your reply

[2022-01-06 02:19] #507 closed

[2022-01-07 03:49] Esword618 opened #508 "bug?"
I found a bug, the request response header says csp is not safe, I checked a lot of information can not get the answer, so I came to you to see if you know, to get the solution.

This is the message from that response.
`
Content-Security-Policy:[upgrade-insecure-requests]
`

[2022-01-07 12:32] ldnvnbl opened #509 "Can resty client auto close tcp connection when client request many times on one connection with keep-alive mode."
I use resty client access k8s service with http keep-alive, but the load is not balance. if I SetCloseConnection as true, the performance will be low.

so can i close the connection after request many times, like 1000 this value can be set.

[2022-01-07 20:01] moorereason commented on #508
Can you provide the full headers for the request?

[2022-01-07 21:29] jj0e opened #510 "Is there a way to maintain header order?"
Hello,

I really like Resty, but I noticed the order of my headers are not always preserved. Is there a way to make it so the order is what I specify? It is important for my use-case because the request will fail if the order is wrong.

[2022-01-07 22:23] moorereason commented on #510
AFAIK, it's not possible with the Go `http` package, which is what Resty is built upon.  See https://github.com/golang/go/issues/24375 for more details.

[2022-01-08 01:49] Esword618 commented on #508
This is my request head.
`
map[string]string{
		"Accept":          "text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.9",
		"user-agent":      "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/96.0.4664.110 Safari/537.36",
		"Accept-Encoding": "gzip, deflate, br",
	}
`

[2022-01-08 22:12] moorereason commented on #508
Makes requests to that host with HTTPS.  If you're already doing that, then I don't understand what the problem is.

[2022-01-12 07:00] okhowang commented on #429
run test
[code]

[2022-01-17 17:38] not-rusty commented on #256
Hello there

I implemented my own rate limiter with httpTransport and friends, but I wonder if the rate limiting affects the timeout of the request, because I am getting a lot of those errors on my project, where I do thousands of requests per sec.

[2022-01-18 14:42] vacero commented on #440
@jeevatkm Any thoughts on this? Would it be possible to do?

[2022-01-22 03:51] Nyx2022 opened #514 "4 advice to resty"
i used resty for long time,but found 2 features or bugs need to be implemented

i hope resty will supprt concurrent safe
i hope resty can handle special encoding,like this photo

https://user-images.githubusercontent.com/51039208/149131272-60f94022-6fa7-4a3e-b699-775974854b47.png

sometimes i actually need some special encoding，but resty can't deal with it
resty.Request can set proxy，now only rest

[2022-01-29 04:52] thaitanloi365 opened #516 "Feature Request - Ignore debug for specific apis"
Hi there,

I would like to disable debug for apis that download the pdf in bytes. In this case the logs are not needed

Is possible to enhance this?

Thank you.

[2022-01-30 01:50] tylerstillwater commented on #468
I believe the correct way to do this is construct a new `http.Transport` and give it a `MaxConnsPerHost`.

Something like this:

[code]

[2022-01-31 10:44] belek opened #517 "RawRequest is nil in BeforeOnRequest method"
My goal is to store body from request to particular URLs.
To do that I implemented OnBeforeRequest interceptor where I am trying to use httputil.DumpRequest to get the body and then save it to DB. But I can't use request.RawRequest because it's nil. Also I enabled debug mode in client.

[code]
Output is:

[code]
Why RawRequest is nil and what should I do to make it work well?

[2022-02-09 10:43] astha2098 opened #518 "How can I delete a cookie which is set using SetCookie"
How can I delete a cookie which is set using SetCookie (CookieJar is not used). I would like to delete that single cookie and not all the cookies.

[2022-02-11 07:49] #440 closed

[2022-02-14 07:47] fwang2002 opened #519 "the applying order of PathParams"
Why first applying PathParams from Request and then Client(in function parseRequestURL). While in other situations, the applying order will be first Client, then Request.

[2022-02-18 08:23] shaofeng66 opened #520 "How to accept self signed TLS certificate or how to bypass TLS certificate checking?"

[2022-02-18 09:06] shaofeng66 commented on #520
Sorry, I found solution.
[code]

[2022-02-18 09:06] #520 closed

[2022-03-01 21:43] voronovmaksim commented on #220
I faced with the issue also, i understood your answer, but anyway, I hope the bug will be fixed on resty side some day)

[2022-03-01 22:22] voronovmaksim commented on #23
6 years have passed, but the api is not implemented(

[2022-03-04 18:21] rew1nter opened #523 "is there a way to catch `tcp dial temporarily failed` error in linux?"
The above error is caused by less ulimit. But is there a way to catch it and act?

[2022-03-04 23:31] moorereason commented on #523
I haven't tested this, but...you should be able to check if the error is a `net.Error` and then check to see if `Error.Temporary()` is true.  If it's a `net.OpError`, you may have to check `OpError.Error()` to get at the `net.Error` value.

See https://pkg.go.dev/net#Error

[2022-03-07 20:46] rew1nter commented on #523
How do you catch these two errors
1. `tcp dial timeout`
2. `server response with unsolicited /r/n..`

[2022-03-09 11:54] kklinan commented on #495
I need it, too

[2022-03-10 10:37] Philippe-Torrelli-Ale opened #524 "header Content-Type in request without a body"
Hello,

I just fell into a problem calling a rest api that returned an error on a GET request, because Resty added a header _Content-Type: application/json_ in my GET request. (no idea why they check that, and fortunately the returned error was explicit)

my code looks like:
`
reponse, err := client.R().SetPathParams(pathparams).SetQueryParams(params).SetResult(typ).Get( url)
`

So I added a "midd

[2022-03-12 06:25] ariemax88-abc opened #527 "thx"
thx

[2022-03-15 10:20] #523 closed

[2022-03-16 03:08] #527 closed

[2022-03-18 09:49] cs-sea opened #529 "OnBeforeRequest concurrent map writes"
<img width="666" alt="image" src="https://user-images.githubusercontent.com/28532478/158980340-b8a19203-1814-41cc-859d-b179a8d71e30.png">

[2022-03-18 09:55] #529 closed

[2022-03-23 10:03] henri9813 opened #531 "What is BaseURL ?"
Hello,

What is BaseURL ?

I searched in the resty code but i don't find the usage of baseURL variable ?

Do you have an example of code which use baseurl ?

Best regards

[2022-03-23 10:05] henri9813 commented on #531
Okay, code present in this issue seems to be a good example: https://github.com/go-resty/resty/issues/491

[2022-03-28 16:33] moorereason commented on #531
https://pkg.go.dev/github.com/go-resty/resty/v2#Client.SetBaseURL

[2022-03-31 02:40] LazyMaple opened #532 "Problem in set a host for request"
hi,  i need to set host for a virtual host，similar to #154

i found that #155 `setHost`  does not work

[code]

only this way works:
[code]

[code]

[2022-03-31 06:46] LazyMaple commented on #532
cause by proxy, it resolves

[2022-03-31 06:46] #532 closed

[2022-03-31 12:27] rew1nter opened #533 "net/url: invalid control character in url"
[code]

I tried to catch this using client.onError but failed. I wanna continue execution after catching this. How do you catch this error?

[2022-04-21 09:07] movercenco opened #538 "et"

[2022-04-21 22:34] #538 closed

[2022-04-25 02:45] rfyiamcool opened #539 "feature: can resty SetHeaders() with http.header ?"
thank u.

[2022-04-25 02:58] moorereason commented on #539
Look at Request.SetHeaderMultiValues().

[2022-04-25 03:06] rfyiamcool commented on #539
yes, thank u. 😁

[2022-04-25 03:06] #539 closed

[2022-05-07 05:38] 0140454 commented on #517
Just share what I found.

There are three types of request middleware, and they are performed in sequence:
1. `udBeforeRequest` chain (registered by `Client.onBeforeRequest`)
2. `beforeRequest` chain (default middleware registered by resty)
3. `preReqHook` hook (registered by `Client.SetPreRequestHook`)

`req.RawRequest` is initialized at the second chain. Therefore, we will get a `nil` in our `on

[2022-05-16 21:53] mhandrea opened #543 "Resty not exponentially backing off when retrying"
I'm unable to get resty to exponentially backoff while retrying. Regardless of the different settings I try to use it still just retries with about 1/2 second waits between retries.

My understanding was the default functionality would be to exponentially backoff the SetRetryCount over a period of time up to your SetRetryMaxWaitTime.

My example below creating a Resty Client:

[code]

Below is the

[2022-05-16 23:44] mhandrea commented on #543
I see that I misunderstood SetRetryMaxWaitTime. I thought it was the total time retrying, but it's the max time between wait times.

However, I still don't understand why backoff is not working.

[2022-05-20 03:45] aivencs commented on #320
Good example in here

[code]

[2022-06-06 14:51] morningvera commented on #256
hey @jeevatkm, i'm also interested in client side rate limiting! any chance you'd be open to a PR for it? or could you take a look at the PR above?

[2022-06-07 12:32] okhowang opened #545 "implement `SetTimeout` without touching http.Client.Timeout"
currently `SetTimeout` just modify `http.Client.Timeout`
[code]
when we create `resty.Client` with `NewWithClient`. it do side effect if we use http.Client in other code.
maybe we should keep timeout in `resty.Client`, and do `context.WithTimeout` before every request?

[2022-06-07 12:59] newwuhan5 opened #546 "Got "ERROR RESTY Post "https://foo.mydomain.com:8443/app1/v1/product": remote error: tls: bad certificate, Attempt 1""
We are using mTLS with client certificate and key, only in the prod we got this error.  The client certificate and key are good as using curl we can access above endpoint with mTLS.  Here is our code (simplified version)

	// Create a Resty Client
	client := resty.New()
	cert, _ := tls.LoadX509KeyPair("cert.pem", "key.pem")
	client.SetCertificates(cert) // certificate and key are good as curl requ

[2022-06-07 15:30] mhandrea commented on #543
Bump. I still don't understand how exponential backoff works with Resty and cannot find an explicit example online anywhere either using the Backoff function or configuring it off resty.New(). Thanks.

[2022-06-08 02:23] moorereason commented on #543
After doing some testing myself today, the backoff implementation appears to work fine, but you're probably not noticing it working since the default initial RetryWaitTime is 100ms.  Try adding `SetRetryWaitTime(1 * time.Second)` to your client setup.

Here's a crude example:

[code]

[2022-06-08 16:02] mhandrea commented on #543
Fantastic! Thank you. I changed RetryWaitTime to 30 seconds and am getting the exponential backoff I expected. Over the course of 5 retries with a RetryWaitTime of 30 seconds, the waiting times were approx 30s, 40s, 100s, 200s, 480s (succeeded here)...

[code]

When messing around with RetryWaitTime I must not have had a large enough RetryWaitTIme coupled with a large enough RetryCount to actually

[2022-06-08 16:02] #543 closed

[2022-06-13 17:54] #546 closed

[2022-06-20 08:38] yunduan16 opened #550 "Hope the function SetFormData support map[string]interface{}"
The function SetFormData now only support the type of map[string]string, but sometimes we need the input param type is
map[string]interface{}.Hopefully, this type will be supported soon. Thank you! 🙏 😊

[2022-06-21 11:57] liuxuzxx opened #551 "How to upload big file (1GB) use resty"
When I use resty upload 1GB file the memory usage from 18MB ---> 1GB ,My upload file code is:
[code]

[2022-06-21 23:24] moorereason commented on #550
Duplicate of #265.  You need to do the conversion yourself.

[2022-06-21 23:25] #550 closed

[2022-06-21 23:46] moorereason commented on #551
`SetFileReader` sends a multipart request which requires loading the entire file into memory.  This is already covered by #309.

If the server will allow it, you can avoid multipart by sending the file content as the body of the request.  To accomplish that, pass the `io.Reader` to [`Request.SetBody`](https://pkg.go.dev/github.com/go-resty/resty/v2#Request.SetBody).

[2022-06-22 02:37] liuxuzxx commented on #551
Ok, thanks! I use this code solve the promblem!
[code]

[2022-06-22 02:37] #551 closed

[2022-06-23 11:03] yunduan16 commented on #545
+1

[2022-06-23 14:49] Southclaws opened #552 "Allow SetOutput and SetResult to be used together"
It seems SetOutput reads the entire stream then SetResult will error with `unexpected end of JSON input`

Would be useful to allow these together.

Use case:

We use resty in end-to-end API tests and one pattern we use is dumping outputs of specific endpoints to files which can be used for frontend fixtures/examples for the frontend team. I like to keep test code simple so it would be awesome to b

[2022-06-23 16:17] chb0github opened #553 "Change retry output to warn or debug"
The [code for output](https://github.com/go-resty/resty/blob/master/request.go#L771) on a retry attempt is currently an error - it's debatable if it's actually an error or not. In my case, retry is pretty typical and only when all attempts have been tried is it an error.

I propose that this code

[code]
Be changed to
[code]
Or
[code]
So that it can be suppressed unless there is an issue and that

[2022-06-23 22:32] chb0github commented on #510
@jj0e - for the record, that is not at all part of the http spec.

[2022-06-24 16:18] chb0github commented on #514
Generally, I think resty needs a better middleware model with sensible, but overridable or augmentable defaults. Then you can actually install middleware that can do the encoding correctly

[2022-06-29 20:38] ruiborda opened #557 "my SetBody method doesn't work in Get request method"
[code]
Body is not sent

[2022-06-30 02:18] fitan opened #558 "Expect support R() to support SetDebug()"
client.SetDebug is global. There's a lot of distracting information

client.R().SetDebug. Can control the range very well

[2022-07-04 08:22] zeewell commented on #420
@gotobeexpert Hi, I have the same problem, is there something I misunderstood? And how should I fix it? Thanks.

[2022-07-05 06:53] quangthe commented on #557
Hi @ruiborda

Use `client.SetAllowGetMethodPayload(true)` to enable body payload for GET method.

[2022-07-07 20:31] ruiborda commented on #557
@quangthe
Thanks.

[2022-07-07 20:31] #557 closed

[2022-07-13 00:13] robert-deepnorth opened #559 "WARNING: DATA RACE in resty when trace is enabled"
I have a long running app which sends hundreds of GET requests per second using 3rd-party library(https://github.com/polygon-io/client-go) which uses resty under the hood.

1. Each GET request is a separate go routine.
2. client-go library shares a single resty client across those go routines
3. client-go library create a new request struct for every request we execute (client. R())
4. trace is en

[2022-07-13 15:13] BigBoulard opened #560 "Resty Error Handling by the book - can't catch a 404 HTTP status"
Hi,

I struggle to understand who error handling is working using Resty.
I make a `PUT` API call that returns a **404 HTTP status code but I can catch it in the code below.**

I've tried to use `resp.IsError()` without sucess.

I've read some similar topic here which uses the `SetError` method on a struct (`Error` or `Response` depending on the case), but this method is maybe specifically tied to

[2022-07-15 10:52] ThePsina opened #561 "Warn-level logging on retries attempts"
Current implementation of (r *Request) Execute(method, url string) (*Response, error) uses Backoff function with hardcoded attempts errors log on Error level:

`r.client.log.Errorf("%v, Attempt %v", err, r.Attempt)`

With enabled retry feature it may be unnecessary for someone to log unsuccessful attempts on Error level. Desired approach would be to log attempts errors on Warning level and only lo

[2022-07-19 22:02] jeevatkm opened #562 "Add Label based Github Actions"
It seems GH actions did not for certain PRs, so let's add a workaround to run tests and check on PR via adding label-based actions.

[2022-07-19 22:42] #562 closed

[2022-07-20 08:37] jinleileiking opened #564 "Make Client.SetHeader concurrent-safe with mutex"
c.RestyClient.SetHeaders(headers)    will be concurrent map issue.

Only use R().SetHeaders

[2022-07-21 03:20] moorereason commented on #564
Why do you consider this a bug?

[2022-07-23 12:38] x-EricH-x commented on #517
@0140454  great thanks, just faced the exactly the same issue : D

[2022-07-26 13:22] liguangbo opened #567 "Bug report: Request.bodyBuf resused by mistake"
# Summary
Resty [saved the request body's snapshot](https://github.com/go-resty/resty/blob/master/middleware.go#L521) for resending request with original HTTP method and body when http redirect such as 307 or 308 returned.
Then in [http.Client.do](https://github.com/golang/go/blob/master/src/net/http/client.go#L661), golang call the GetBody func registered by resty [createHTTPRequset](https://gith

[2022-07-26 22:52] florentgluck commented on #495
I need the ability to upload files of many GB, thus a stream-like implementation is mandatory.
@kklinan could you please post your fix here?
Thanks!

[2022-07-28 18:40] Trim21 opened #569 "Feature Request: export `NoRedirectPolicy`'s error"
this is what we do to know it's a redirect problem:

[code]

if the error of `NoRedirectPolicy` is exported, we can use `errors.Is(err, resty.ErrNotAllowed)` to match the error.

[2022-08-09 06:49] shiyuhang0 opened #572 "Does resty support digest authentication"
Does resty support digest authentication or is there any plan for it

[2022-08-09 13:19] moorereason commented on #572
See previous discussion: https://github.com/go-resty/resty/discussions/467#discussioncomment-1569756

[2022-08-16 19:45] jj0e opened #573 "Are retry hooks executed before the retry?"
Hi so I am adding a retry hook that rotates my clients proxy. My goal is to retry the request up to 30 times while rotating the proxy on each retry. I want to double check and ensure that my goal is being achieved correctly. Here is my code:

[code]

The rotate is happening before the retry correct?

Another side question I have: In the part of my code where I am executing actual requests, for exa

[2022-08-17 00:22] #573 closed

[2022-08-24 04:31] aadog opened #574 "support session mode"
like session mode
https://github.com/levigross/grequests

[2022-08-24 07:17] aadog commented on #574
https://github.com/go-resty/resty/pull/575

add CopyOrCreateClient Implement session mode,Implemented, please merge

[2022-08-24 08:17] aadog commented on #315
@雷纳索斯 I implemented session pattern, you can use

[2022-08-24 08:17] aadog commented on #545
https://github.com/go-resty/resty/issues/574

[2022-08-24 08:18] aadog commented on #545
I implemented session pattern, you can use

[2022-08-24 08:18] aadog commented on #558
https://github.com/go-resty/resty/issues/574
I implemented session pattern, you can use

[2022-08-25 05:21] peterjmorgan commented on #560
I'm confused by this too.

Right now, instead of using the `if err != nil` pattern, I'm using:

[code]

I have structs for the errors for this API I'm working on so `CheckResponse()` looks like:
[code]

It feels weird because every other Go library I've used follows the convention of returning errors in a return value.

Curious if anyone has figured this out better.

[2022-08-25 07:12] gobenpark opened #576 "resty client use much memory on multipart request"
hi thanks for make good library

our system use on kubernetes

every call make resty client and call post api

because i think memory removed from gc

but when i see application profiler, resty post method so much used memory in bytes.makeSlice like this

<img width="1467" alt="스크린샷 2022-08-25 오후 4 11 14" src="https://user-images.githubusercontent.com/17901887/186598991-199c75da-9d7f-40fd-

[2022-08-30 09:27] fitan commented on #558
Thank you, but he didn't merge

[2022-08-30 09:28] fitan commented on #558
Thank you, but he didn't merge

[2022-09-02 00:17] jj0e commented on #561
I am wondering the same thing. I do not want ERROR level logging yet it is being printed to stdout. How can I prevent this?

[2022-09-13 09:38] libaochuan90 commented on #509
I have encountered the same problem. Have you solved this problem @ldnvnbl

[2022-09-14 11:53] ThePsina commented on #561
May be someday one of the contributors will answer this question....

[2022-09-21 15:15] yaojingguo commented on #218
It is wonderful.

[2022-09-29 09:53] segevda commented on #576
This is probably due to #309 . There is a workaround (not using resty) detailed in #551 .

[2022-09-29 09:54] segevda commented on #572
I have added a PR (#583) to address this issue, feel free to review it :)

[2022-09-29 10:56] segevda commented on #560
@BigBoulard
the error return value on the Get/Put/Post/Execute/etc methods indicates whether the request was successfully delivered and a response was returned from the server. This is not different from the [native go http client](https://pkg.go.dev/net/http#Client.Do), here quoting from the docs for the Do() method:
`An error is returned if caused by client policy (such as CheckRedirect), or fai

[2022-09-29 12:38] segevda commented on #533
I hope I understand your question, it's hard to follow without a code snippet.

Not sure which resty method you're using so I'm assuming Get(), which returns (resp *Response, err error). Since the request failed, resp is nil, so calling StatusCode() on it panics. However - err in this case shouldn't be nil, and checking it will help you "catch" the error.

I hope this answers your question.

[2022-09-29 17:46] segev-indegy commented on #561
This actually duplicates #554 . I will be happy to make the change if I get the ok from @jeevatkm

[2022-09-30 17:41] samsulbahari opened #585 "json: unsupported type: func() (io.ReadCloser, error)"
hello this my code

resp, _ := client.R().
		SetHeader("Content-Type", "application/json").
		SetBody(login).
		SetResult(&response).
		Post("http://localhost:8080/login")

	ctx.JSON(resp.StatusCode(), resp)

ayone help ?

[2022-10-01 11:39] segevda commented on #585
It's a bit unclear what you're trying to do here. making a resty request and then serializing the resty response object in to a gin (maybe?) response..?

It seems like the error originates from gin, but it's really hard to know without more context

[2022-10-03 11:07] sandyydk commented on #564
If it causes concurrent map issue it could be fixed in two ways
* Un-expose the method.
* Or use a syncMap to implement the same.

I can pick this up if this is to be done. Let me know. @jeevatkm

[2022-10-13 22:13] sounddroid opened #589 "Unix socket example not working"
Hi there! I followed the unix socket example in the README and referenced in #80 but I am getting the following error:

[code]

Any ideas on a workaround?

[2022-10-18 12:25] mstrYoda commented on #448
Is there any progress on this? It would be quite good to have a built-in cb.

[2022-10-20 15:23] draveness opened #592 "panic: runtime error: slice bounds out of range"
[code]

[code]

The above code panic when post files to server, can I use the same client in a different goroutine or do I have to create a client pool?

[2022-10-24 09:50] athenakia opened #593 "Stuck after changing network adaptor/IP if using global client"
This is my scenario:
I write a DDNS automatic update program using resty and run it on an Azure VPS. I use a global client(resty.New() assigned to a global variable) to send request to dns resolution service provider(such as Cloudflare).

Then I rebound the azure VPS with the new network adaptor with new elastic IP.

Then resty stuck, no normal response neither error is return.

When settimeout fo

[2022-10-24 09:57] athenakia commented on #593
When not using a global client(resty.New() every time), all the codes works as expected.

[2022-10-24 16:27] mike-atlas commented on #86
For APIs that do not use canonical header names you can also get around this by setting the value on the Headers object directly Headers is just a map[string][]string

For instance we are hitting an external api that requires a header called "DevKey" - you can set it on the resty Request with:
`request.Headers["DevKey"] = []string{"the_dev_key_value"}`

Directly setting it into the map bypasses th

[2022-10-25 13:27] #560 closed

[2022-10-25 14:58] zackwine opened #594 "SetResult fails to parse JSON when the returned Content-Type is "application/x-amz-json-1.1""
I found the SetResult API fails to parse the result JSON if the `Content-Type` is equal to "application/x-amz-json-1.1" (which Amazon uses for some endpoints).  Would it be possible to add this as a supported Content-Type, or possibly support setting a custom JSON Content-Type for resty?

Looks like this is the regex that is failing to match:  https://github.com/go-resty/resty/blob/master/client.g

[2022-10-31 06:23] segevda commented on #594
As a workaround, you can set `application/json` as the content-type using Request.ForceContentType method, which will force resty to unmarshall the resp body as a JSON.

[2022-10-31 19:41] zackwine commented on #594
@segevda  Thanks!

[2022-11-02 14:59] lee3164 commented on #153
I have the same problem and I've even got the correct response output in response log, but follow response log I go EOF error

[2022-11-04 10:18] bolsunovskyi opened #596 "No patch method for multipart form"
Greetings, I recently discovered that resty lib does not allow PATCH method for multipart form, why it is so ?
https://github.com/go-resty/resty/blob/master/middleware.go#L131

[2022-11-07 08:54] saeedgeek opened #598 "Error Handling"
i cant detect what error raise when i post a request with this library
in onError hook we get some error like ( connection error , EOF ,...) but i cant understand what error is this?
and sometime my response dosent set whit SetResult() method and it dosent rais any error
is there any way to separate this error without looking string of this error?

[2022-11-08 14:00] saeedgeek opened #599 "tls handshake"
is there any way to pass a function pointer for process request after handshake done?does your lib support this feature?

[2022-11-10 15:16] Joseph94m opened #600 "Body and Rawbody"
I've been banging my head against the wall for a day, so I thought why not swing by and say hi 👯

There are two main subjects I will tackle in this post - not necessarily issues or bugs. Maybe just in need of enlightenment.
----

## 1- In resty v2, Body() and RawBody() are defined as follows:

[code]

It seems weird to me that we check for RawResponse == nil in Body(), why not just return r.body?

[2022-11-14 22:54] bjornbyte opened #601 "client Transport is not exported"
The doc comment for suggests this function should be exported, but it is not:

[code]

My use case here is I'm trying to integrate otelhttp, so I would like to do
[code]
to wrap the resty transport to inject the span context into the outbound request, but since the transport function is not exported, this won't work.

[2022-11-23 11:22] tenyuuk opened #602 "Misleading in retry condition function example"
In README.md it read
[code]
However, this example doesn't do what it said "make retry requests ended with `429 Too Many Requests` status code", but "keep retry if responded with `429 Too Many Requests`".

My understanding is if `RetryConditionFunc` return `true` then retry and that's really how it works in the code.

A better example will be like
[code]

[2022-11-23 13:50] #602 closed

[2022-11-25 07:25] dandyhuang opened #603 "performance problem"
<img width="1141" alt="image" src="https://user-images.githubusercontent.com/12603054/203923929-4760ad95-6cd2-42b9-b2a2-79a5226197d2.png">
I'm not sure if resty uses a connection pool。resty is time-consuming, is this normal http1.1。I open EnableTrace，IsConnReused is true。

[2022-11-26 22:18] raharper commented on #589
Interested in this as well.  Seeing this with go 1.18

[2022-11-26 22:42] raharper commented on #589
You can use a throwaway hostname it seems:

[code]

[2022-11-26 23:10] sounddroid commented on #589
Oh wow. Didn't even think to check that workaround. Does it actually work?